Repository gear-tech/gear-js, pull requests merged in 2021-12, with the labels that each got.

#208 Fix encode payload
  api/api/package-lock.json
  api/api/package.json
  api/api/src/utils.ts
Labels: api

#212 meta form
  package-lock.json
  website/frontend/package-lock.json
  website/frontend/package.json
  website/frontend/src/api/responses.ts
  website/frontend/src/assets/images/select-bg.svg
  website/frontend/src/common/components/Switch/Switch.tsx
  website/frontend/src/common/components/Switch/index.ts
  website/frontend/src/common/components/Switch/styles.ts
  website/frontend/src/components/App/App.scss
  website/frontend/src/components/App/App.tsx
  website/frontend/src/components/App/styles.ts
  website/frontend/src/components/FormItem/FormItem.tsx
  website/frontend/src/components/FormItem/index.ts
  website/frontend/src/components/FormItem/styles.ts
  website/frontend/src/components/blocks/Modal/Modal.scss
  website/frontend/src/components/blocks/Modal/Modal.tsx
  website/frontend/src/components/pages/Programs/children/Message/Message.tsx
  website/frontend/src/components/pages/Programs/children/Message/children/MessageForm/MessageForm.scss
  website/frontend/src/components/pages/Programs/children/Message/children/MessageForm/MessageForm.tsx
  website/frontend/src/components/pages/Programs/children/Message/children/MessageForm/styles.ts
  website/frontend/src/services/ApiService.tsx
  website/frontend/src/services/GitRequestService.ts
  website/frontend/src/services/NotificationsRequestService.ts
  website/frontend/src/services/ProgramsRequestService.ts
  website/frontend/src/services/ServerRPCRequestService.ts
  website/frontend/src/stitches.config.ts
  website/frontend/src/store/actions/actions.ts
  website/frontend/src/types/notification.ts
  website/frontend/src/types/program.ts
  website/frontend/src/utils/meta-fixtures.ts
  website/frontend/src/utils/meta-parser.test.ts
  website/frontend/src/utils/meta-parser.ts
  website/wasm-compiler/src/app.controller.ts
  website/wasm-compiler/src/app.service.ts
Labels: frontend

#221 Listen to balance change
  api/api/package-lock.json
  api/api/package.json
  api/api/src/Events.ts
  api/examples/src/balance.ts
Labels: api

#224 gr_program_id syscall
  api/api/package-lock.json
  api/api/package.json
  api/api/src/WasmMeta.ts
Labels: api

#230 Create type with the same name of crate and struct
  api/.gitignore
  api/api/package-lock.json
  api/api/package.json
  api/api/src/Balance.ts
  api/api/src/CreateType.ts
  api/api/src/DebugMode.ts
  api/api/src/Events.ts
  api/api/src/GearApi.ts
  api/api/src/Mailbox.ts
  api/api/src/index.ts
  api/api/src/interfaces/augment-api-query.ts
  api/api/src/interfaces/augment-api-rpc.ts
  api/api/src/interfaces/augment-api-tx.ts
  api/api/src/interfaces/events.ts
  api/api/src/interfaces/index.ts
  api/api/src/interfaces/system.ts
  api/examples/package-lock.json
  api/examples/package.json
  api/examples/src/index.ts
Labels: api

#244 Add esnext build to `@gear-js/api`
  api/api/fixup
  api/api/package-lock.json
  api/api/package.json
  api/api/tsconfig.base.json
  api/api/tsconfig.esnext.json
  api/api/tsconfig.json
Labels: api

#245 Fix ws_provider env variable
  .github/workflows/prod.CD-event-listener.yml
  .github/workflows/prod.CD-frontend.yaml
  .github/workflows/prod.CD-test-balance.yaml
Labels: CI/CD
