Repository gear-tech/gear-js, pull requests merged in 2021-11, with the labels that each got.

#107 Send reply message
  api/api/package-lock.json
  api/api/package.json
  api/api/src/GearApi.ts
  api/api/src/Message.ts
  api/api/src/MessageReply.ts
  api/api/src/Program.ts
  api/api/src/WasmMeta.ts
  api/api/src/errors/index.ts
  api/api/src/errors/message.errors.ts
  api/api/src/index.ts
  api/api/src/interfaces/metadata.ts
  api/examples/package-lock.json
  api/examples/package.json
  api/examples/src/create-type.ts
  api/examples/src/debug-mode.ts
  api/examples/src/event-subscribe.ts
  api/examples/src/message-reply.ts
  api/examples/src/read-mailbox.ts
  api/examples/src/readMailbox.ts
  api/examples/src/run.ts
  api/examples/test-wasm/demo_user_reply.meta.wasm
  api/examples/test-wasm/demo_user_reply.opt.wasm
  website/frontend/src/components/blocks/Keyring/Keyring.scss
  website/frontend/src/components/blocks/Keyring/Keyring.tsx
  website/frontend/src/components/blocks/RestoreJson/index.tsx
  website/frontend/src/consts.ts
  website/frontend/src/helpers.ts
Labels: api

#120 Custom provider
  api/api/package-lock.json
  api/api/package.json
  api/api/src/GearApi.ts
Labels: api

#125 Fix register default types in CreateType
  api/api/.prettierrc
  api/api/package-lock.json
  api/api/package.json
  api/api/src/CreateType.ts
Labels: api

#133 GenericPortableRegistry -> PortableRegistry
  api/api/package-lock.json
  api/api/package.json
  api/api/src/CreateType.ts
Labels: api

#132 added new logic for the search
  website/frontend/package.json
  website/frontend/src/components/pages/Programs/children/All/All.tsx
  website/frontend/src/components/pages/Programs/children/Recent/Recent.tsx
  website/frontend/src/store/actions/actions.ts
  website/frontend/src/store/reducers/ProgramReducer.ts
  website/frontend/src/types/program.ts
Labels: frontend

#137 Replace namespaces in CreateType
  api/api/package-lock.json
  api/api/package.json
  api/api/src/CreateType.ts
  api/api/src/index.ts
  api/api/src/utils.ts
Labels: api

#141 Add syscall
  api/api/package-lock.json
  api/api/package.json
  api/api/src/Events.ts
  api/api/src/WasmMeta.ts
Labels: api

#140 Thousand separator for gas amount input
  website/frontend/package-lock.json
  website/frontend/package.json
  website/frontend/src/components/blocks/ProgramDetails/ProgramDetails.tsx
  website/frontend/src/components/pages/Programs/children/Message/children/MessageForm/MessageForm.tsx
Labels: A0-pleasereview

#139 Add program page
  website/frontend/src/components/App/App.tsx
  website/frontend/src/components/blocks/Header/Header.tsx
  website/frontend/src/components/pages/Program/Program.scss
  website/frontend/src/components/pages/Program/Program.tsx
  website/frontend/src/components/pages/Programs/children/UserProgram/UserProgram.module.scss
  website/frontend/src/components/pages/Programs/children/UserProgram/UserProgram.tsx
  website/frontend/src/routes.ts
  website/frontend/src/types/program.ts
Labels: A1-inprogress

#146 Read program state
  api/api/package-lock.json
  api/api/package.json
  api/api/src/GearApi.ts
  api/api/src/Program.ts
  api/api/src/State.ts
  api/api/src/WasmMeta.ts
  api/api/src/errors/state.errors.ts
  api/api/src/index.ts
  api/api/src/interfaces/gear-api.ts
  api/api/src/interfaces/metadata.ts
  api/api/src/interfaces/program.ts
Labels: B1-releasenotes, api

#147 Remove .at method
  api/api/package-lock.json
  api/api/package.json
  api/api/src/types/EventData.ts
Labels: api

#151 Add input parameters to read state
  api/api/package-lock.json
  api/api/package.json
  api/api/src/CreateType.ts
  api/api/src/Message.ts
  api/api/src/MessageReply.ts
  api/api/src/Program.ts
  api/api/src/State.ts
  api/api/src/WasmMeta.ts
  api/examples/package-lock.json
  api/examples/package.json
  api/examples/src/config.ts
  api/examples/src/read-state.ts
  api/examples/src/run.ts
  api/examples/src/upload-program.ts
Labels: api

#154 Add create type balance for free balance
  api/api/package-lock.json
  api/api/package.json
  api/api/src/Balance.ts
  api/examples/src/balance.ts
Labels: api

#156 Fix parse non json types
  api/api/package-lock.json
  api/api/package.json
  api/api/src/CreateType.ts
Labels: api

#161 Replace namespaces in createType
  api/api/package-lock.json
  api/api/package.json
  api/api/src/CreateType.ts
Labels: api

#162 Wasm exports
  api/api/package-lock.json
  api/api/package.json
  api/api/src/WasmMeta.ts
Labels: api

#164 Fix error when meta is empty
  website/frontend/src/components/pages/Program/Program.tsx
Labels: bug

#165 Fix unspecified payload
  api/api/package-lock.json
  api/api/package.json
  api/api/src/CreateType.ts
Labels: api

#168 Encode payload without type
  api/api/package-lock.json
  api/api/package.json
  api/api/src/CreateType.ts
  api/api/src/Message.ts
  api/api/src/MessageReply.ts
  api/api/src/Program.ts
Labels: api

#172 Rename debug pallet
  api/api/package-lock.json
  api/api/package.json
  api/api/src/DebugMode.ts
Labels: api

#174 Fix: rename pallet in debug events
  api/api/package-lock.json
  api/api/package.json
  api/api/src/DebugMode.ts
Labels: api

#152 Polkadot-js extension integration
  package-lock.json
  website/frontend/.eslintrc
  website/frontend/package.json
  website/frontend/src/components/blocks/AccountList/AccountList.scss
  website/frontend/src/components/blocks/AccountList/AccountList.tsx
  website/frontend/src/components/blocks/AccountList/index.tsx
  website/frontend/src/components/blocks/Header/Header.scss
  website/frontend/src/components/blocks/Header/Header.tsx
  website/frontend/src/components/blocks/Keyring/Keyring.scss
  website/frontend/src/components/blocks/Keyring/Keyring.tsx
  website/frontend/src/components/blocks/Keyring/index.tsx
  website/frontend/src/components/blocks/MetaForm/MetaForm.tsx
  website/frontend/src/components/blocks/Modal/Modal.scss
  website/frontend/src/components/blocks/ProgramDetails/ProgramDetails.tsx
  website/frontend/src/components/blocks/ProgramSwitch/ProgramSwitch.tsx
  website/frontend/src/components/blocks/RestoreJson/RestoreJson.scss
  website/frontend/src/components/blocks/RestoreJson/RestoreJson.tsx
  website/frontend/src/components/blocks/RestoreJson/Schema.ts
  website/frontend/src/components/blocks/RestoreJson/index.tsx
  website/frontend/src/components/blocks/SearchForm/SearchForm.tsx
  website/frontend/src/components/blocks/Wallet/Wallet.scss
  website/frontend/src/components/blocks/Wallet/Wallet.tsx
  website/frontend/src/components/pages/Programs/children/Message/children/MessageForm/MessageForm.tsx
  website/frontend/src/helpers.ts
  website/frontend/src/services/ApiService.tsx
  website/frontend/src/store/actions/actions.ts
  website/frontend/src/store/reducers/AccountReducer.ts
  website/frontend/src/store/reducers/index.ts
  website/frontend/src/types/account.ts
  yarn.lock
Labels: A0-pleasereview

#191 Add optional showing gr_debug
  api/api/package-lock.json
  api/api/package.json
  api/api/src/State.ts
  api/api/src/WasmMeta.ts
Labels: api

#186 Add wallet to the popup
  website/frontend/src/components/blocks/Modal/Modal.scss
  website/frontend/src/components/blocks/Modal/Modal.tsx
  website/frontend/src/components/blocks/PageHeader/PageHeader.tsx
  website/frontend/src/components/blocks/Wallet/Wallet.scss
  website/frontend/src/components/blocks/Wallet/Wallet.tsx
Labels: A0-pleasereview

#175 Remove menu in the header
  website/frontend/src/components/blocks/Header/Header.tsx
Labels: A0-pleasereview

#196 Fix namespaces
  api/api/package-lock.json
  api/api/package.json
  api/api/src/utils.ts
Labels: api

#198 Fix payload toHex
  api/api/package-lock.json
  api/api/package.json
  api/api/src/Message.ts
  api/api/src/MessageReply.ts
  api/api/src/Program.ts
  api/api/src/utils.ts
Labels: api

#200 Fix create payload
  api/api/package-lock.json
  api/api/package.json
  api/api/src/Message.ts
  api/api/src/MessageReply.ts
  api/api/src/Program.ts
  api/api/src/utils.ts
Labels: api

#203 Add BN type to transfer balance method
  api/api/package-lock.json
  api/api/package.json
  api/api/src/Balance.ts
Labels: api
