Repository gear-tech/gear-js, pull requests merged in 2022-09, with the labels that each got.

#958 Add useUploadProgram hook
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/index.ts
  utils/gear-hooks/src/hooks/api/useCalculateGas/index.ts
  utils/gear-hooks/src/hooks/api/useCalculateGas/types.ts
  utils/gear-hooks/src/hooks/api/useUploadProgram/index.ts
  utils/gear-hooks/src/hooks/api/useUploadProgram/types.ts
  utils/gear-hooks/src/hooks/api/useUploadProgram/useHandlers/index.ts
  utils/gear-hooks/src/hooks/api/useUploadProgram/useHandlers/useHandleSignStatus.ts
  utils/gear-hooks/src/hooks/api/useUploadProgram/utils.ts
  utils/gear-hooks/src/hooks/handlers/index.ts
  utils/gear-hooks/src/hooks/handlers/useOpt.ts
  utils/gear-hooks/src/hooks/handlers/useUploadHandler.ts
  utils/gear-hooks/src/hooks/index.ts
  utils/gear-hooks/src/index.ts
  utils/gear-hooks/src/utils/index.ts
Labels: hooks

#950 Add app `@gear-js/upload-dapp-chain`
  apps/upload-dapp-chain/.eslintrc.js
  apps/upload-dapp-chain/.gitignore
  apps/upload-dapp-chain/nest-cli.json
  apps/upload-dapp-chain/package.json
  apps/upload-dapp-chain/src/app.module.ts
  apps/upload-dapp-chain/src/common/enums/dapp.enum.ts
  apps/upload-dapp-chain/src/common/enums/file-key.enum.ts
  apps/upload-dapp-chain/src/common/enums/index.ts
  apps/upload-dapp-chain/src/common/enums/repo.enum.ts
  apps/upload-dapp-chain/src/common/enums/role.enum.ts
  apps/upload-dapp-chain/src/common/enums/tb-error-message.enum.ts
  apps/upload-dapp-chain/src/common/exceptions/bad-request.exception.ts
  apps/upload-dapp-chain/src/common/exceptions/error-code.ts
  apps/upload-dapp-chain/src/common/helpers/check-init-program.ts
  apps/upload-dapp-chain/src/common/helpers/get-account.ts
  apps/upload-dapp-chain/src/common/helpers/get-latest-release-by-repo.ts
  apps/upload-dapp-chain/src/common/helpers/get-opt-and-meta-wasm.ts
  apps/upload-dapp-chain/src/common/helpers/get-tg-commands.ts
  apps/upload-dapp-chain/src/common/helpers/get-upload-program-by-name.ts
  apps/upload-dapp-chain/src/common/helpers/get-upload-program-data.ts
  apps/upload-dapp-chain/src/common/helpers/get-workflow-commands.ts
  apps/upload-dapp-chain/src/common/helpers/index.ts
  apps/upload-dapp-chain/src/common/helpers/send-transaction.ts
  apps/upload-dapp-chain/src/common/types/flow-command.ts
  apps/upload-dapp-chain/src/common/types/index.ts
  apps/upload-dapp-chain/src/common/types/paylaod.ts
  apps/upload-dapp-chain/src/common/types/program.ts
  apps/upload-dapp-chain/src/common/types/single-flow-command.ts
  apps/upload-dapp-chain/src/common/types/workflow.ts
  apps/upload-dapp-chain/src/common/workflow/workflow.yaml
  apps/upload-dapp-chain/src/configs/base.config.ts
  apps/upload-dapp-chain/src/dapp-data/dapp-data.controller.ts
  apps/upload-dapp-chain/src/dapp-data/dapp-data.module.ts
  apps/upload-dapp-chain/src/dapp-data/dapp-data.repo.ts
  apps/upload-dapp-chain/src/dapp-data/dapp-data.service.ts
  apps/upload-dapp-chain/src/dapp-data/entities/dapp-data.entity.ts
  apps/upload-dapp-chain/src/dapp-data/types/index.ts
  apps/upload-dapp-chain/src/gear/gear-service.ts
  apps/upload-dapp-chain/src/main.ts
  apps/upload-dapp-chain/src/tgbot/tgbot.controller.ts
  apps/upload-dapp-chain/src/tgbot/tgbot.module.ts
  apps/upload-dapp-chain/src/tgbot/tgbot.service.ts
  apps/upload-dapp-chain/src/tgbot/types/index.ts
  apps/upload-dapp-chain/src/user/entities/user.entity.ts
  apps/upload-dapp-chain/src/user/types/index.ts
  apps/upload-dapp-chain/src/user/user.module.ts
  apps/upload-dapp-chain/src/user/user.repo.ts
  apps/upload-dapp-chain/src/user/user.service.ts
  apps/upload-dapp-chain/src/workflow-command/types/index.ts
  apps/upload-dapp-chain/src/workflow-command/workflow-command.module.ts
  apps/upload-dapp-chain/src/workflow-command/workflow-command.service.ts
  apps/upload-dapp-chain/tsconfig.build.json
  apps/upload-dapp-chain/tsconfig.json
  yarn.lock
Labels: backend, apps

#966 Update `@gear-js/test-balance` db connection
  idea/test-balance/package.json
  idea/test-balance/src/database/app-data-source.ts
  idea/test-balance/src/database/db-create-connection.ts
  idea/test-balance/src/repositories/transfer.repository.ts
  yarn.lock
Labels: backend

#972 Update extrinsics name in events-listener
  idea/events-listener/src/gear/block-extrinsics-handler.ts
Labels: backend

#969 Refactor upload-dapp-chain
  apps/upload-dapp-chain/package.json
  apps/upload-dapp-chain/src/app.module.ts
  apps/upload-dapp-chain/src/command/command.module.ts
  apps/upload-dapp-chain/src/command/command.service.ts
  apps/upload-dapp-chain/src/command/types/index.ts
  apps/upload-dapp-chain/src/dapp-data/dapp-data.controller.ts
  apps/upload-dapp-chain/src/dapp-data/dapp-data.repo.ts
  apps/upload-dapp-chain/src/dapp-data/dapp-data.service.ts
  apps/upload-dapp-chain/src/tgbot/tgbot.module.ts
  apps/upload-dapp-chain/src/tgbot/tgbot.service.ts
  apps/upload-dapp-chain/src/workflow-command/workflow-command.module.ts
  yarn.lock
Labels: backend

#968 Add search input, update file input
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/components/Button/Button.tsx
  utils/gear-ui/src/components/FileInput/FileInput.module.scss
  utils/gear-ui/src/components/FileInput/FileInput.tsx
  utils/gear-ui/src/components/FileInput/images/remove.svg
  utils/gear-ui/src/components/FileInput/images/select.svg
  utils/gear-ui/src/components/FileInput/images/trash.svg
  utils/gear-ui/src/components/Input/Input.module.scss
  utils/gear-ui/src/components/Input/Input.test.tsx
  utils/gear-ui/src/components/Input/Input.tsx
  utils/gear-ui/src/components/Input/images/search.svg
  utils/gear-ui/src/components/Tooltip/index.ts
  utils/gear-ui/src/components/utils/InputWrapper/index.ts
  utils/gear-ui/src/components/utils/TooltipWrapper/index.ts
  utils/gear-ui/src/components/utils/index.ts
  utils/gear-ui/src/utils/index.ts
Labels: ui kit

#974 Update dapp-data `entity`
  apps/upload-dapp-chain/src/command/command.service.ts
  apps/upload-dapp-chain/src/command/types/index.ts
  apps/upload-dapp-chain/src/common/enums/dapp.enum.ts
  apps/upload-dapp-chain/src/common/enums/index.ts
  apps/upload-dapp-chain/src/common/enums/repo.enum.ts
  apps/upload-dapp-chain/src/dapp-data/dapp-data.controller.ts
  apps/upload-dapp-chain/src/dapp-data/dapp-data.service.ts
  apps/upload-dapp-chain/src/dapp-data/entities/dapp-data.entity.ts
  apps/upload-dapp-chain/src/dapp-data/types/index.ts
  apps/upload-dapp-chain/src/main.ts
  apps/upload-dapp-chain/src/tgbot/tgbot.controller.ts
  apps/upload-dapp-chain/src/tgbot/tgbot.service.ts
Labels: backend, apps

#977 Update workflow file `@gear-js/upload-dapp-chain`
  apps/upload-dapp-chain/src/command/command.service.ts
  apps/upload-dapp-chain/src/command/types/index.ts
  apps/upload-dapp-chain/src/common/helpers/get-tg-commands.ts
  apps/upload-dapp-chain/src/common/workflow/workflow.yaml
  apps/upload-dapp-chain/src/dapp-data/dapp-data.repo.ts
  apps/upload-dapp-chain/src/dapp-data/dapp-data.service.ts
  apps/upload-dapp-chain/src/dapp-data/entities/dapp-data.entity.ts
  apps/upload-dapp-chain/src/tgbot/tgbot.controller.ts
  apps/upload-dapp-chain/src/tgbot/tgbot.service.ts
Labels: backend, apps

#981 Add new typeInfo parser
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/Code.ts
  api/src/Gas.ts
  api/src/Keyring.ts
  api/src/Message.ts
  api/src/Program.ts
  api/src/State.ts
  api/src/Storage.ts
  api/src/Transaction.ts
  api/src/create-type/CreateType.ts
  api/src/create-type/TypeInfoReg.ts
  api/src/create-type/create-payload.ts
  api/src/create-type/decodeHex.ts
  api/src/create-type/index.ts
  api/src/create-type/payload-type-structure.ts
  api/src/create-type/utils.ts
  api/src/utils/generate.ts
  api/src/utils/index.ts
  api/src/utils/regexp.ts
  api/src/utils/types.ts
  api/src/utils/validate.ts
  api/test/CreateType.test.ts
  api/test/Gas.test.ts
  api/test/Message.test.ts
  api/test/programs/test-gas/src/lib.rs
  api/test/spec/meta/demo_gui_test.yaml
  api/test/wasm/one_of_1000.meta.wasm
  api/test/wasm/one_of_1000.opt.wasm
  api/test/wasm/test_1000.meta.wasm
  api/test/wasm/test_1000.opt.wasm
  api/test/wasm/test_gas.meta.wasm
  api/test/wasm/test_gas.opt.wasm
  api/test/wasm/test_mailbox.meta.wasm
  api/test/wasm/test_mailbox.opt.wasm
  api/test/wasm/test_syscall_in_state.meta.wasm
  api/test/wasm/test_syscall_in_state.opt.wasm
  api/test/wasm/test_waitlist.meta.wasm
  api/test/wasm/test_waitlist.opt.wasm
Labels: api

#982 Subscribe to events by actor
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/create-type/TypeInfoReg.ts
  api/src/create-type/index.ts
  api/src/events/Events.ts
Labels: api

#983 Add useCreateProgram hook
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/index.ts
  utils/gear-hooks/src/hooks/api/useCalculateGas/index.ts
  utils/gear-hooks/src/hooks/api/useCalculateGas/types.ts
  utils/gear-hooks/src/hooks/api/useProgram/index.ts
  utils/gear-hooks/src/hooks/api/useProgram/types.ts
  utils/gear-hooks/src/hooks/api/useProgram/useHandlers/index.ts
  utils/gear-hooks/src/hooks/api/useProgram/useHandlers/useHandleSignStatus.ts
  utils/gear-hooks/src/hooks/api/useProgram/utils.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/src/hooks/handlers/index.ts
  utils/gear-hooks/src/hooks/handlers/useCreateHandler.ts
  utils/gear-hooks/src/hooks/handlers/useOpt.ts
  utils/gear-hooks/src/hooks/handlers/useUploadHandler.ts
  utils/gear-hooks/src/hooks/index.ts
  utils/gear-hooks/src/index.ts
  utils/gear-hooks/src/utils/index.ts
Labels: hooks

#985 Fix create handler required options
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/handlers/useCreateHandler.ts
Labels: hooks

#986 Fix account login
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/utils/index.ts
Labels: hooks

#988 Add function to convert type name
  .github/workflows/CI-CD-gear-js-api.yml
  api/CHANGELOG.md
  api/jest.config.ts
  api/package-lock.json
  api/package.json
  api/src/create-type/TypeInfoReg.ts
  api/src/utils/types.ts
  api/test/CreateType.test.ts
  api/test/CreateTypeStructure.test.ts
  api/test/DebugMode.test.ts
  api/test/ExtrinsicError.test.ts
  api/test/Gas.test.ts
  api/test/GearApi.test.ts
  api/test/Message.test.ts
  api/test/Program.test.ts
  api/test/State.test.ts
  api/test/SubmitCode.test.ts
  api/test/Transfer.test.ts
  api/test/Waitlist.test.ts
  api/test/config.ts
  api/test/programs/Makefile
  api/test/testSequencer.js
  api/test/utilsFunctions.ts
  api/test/wasm/btreeset.meta.wasm
  api/test/wasm/one_of_1000.meta.wasm
  api/test/wasm/one_of_1000.opt.wasm
  api/test/wasm/test_1000.meta.wasm
  api/test/wasm/test_1000.opt.wasm
  api/test/wasm/test_gas.meta.wasm
  api/test/wasm/test_gas.opt.wasm
  api/test/wasm/test_mailbox.meta.wasm
  api/test/wasm/test_mailbox.opt.wasm
  api/test/wasm/test_syscall_in_state.meta.wasm
  api/test/wasm/test_syscall_in_state.opt.wasm
  api/test/wasm/test_waitlist.meta.wasm
  api/test/wasm/test_waitlist.opt.wasm
Labels: api

#989 Fix hooks extension and accounts subscription
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/context/Account.tsx
  utils/gear-hooks/src/hooks/accounts.ts
  utils/gear-hooks/src/hooks/api/index.ts
  utils/gear-hooks/src/hooks/api/useBalanceSubscription.ts
  utils/gear-hooks/src/hooks/index.ts
  utils/gear-hooks/src/index.ts
  utils/gear-hooks/src/utils/index.ts
Labels: hooks

#990 Fix idea extension and accounts subscription
  .github/workflows/e2e-tests.yaml
  idea/frontend/package.json
  idea/frontend/src/app/App.tsx
  idea/frontend/src/components/blocks/Header/Header.tsx
  idea/frontend/src/components/blocks/Wallet/Wallet.tsx
  idea/frontend/src/components/common/Form/FormPayload/helpers.ts
  idea/frontend/src/components/modals/AccountsModal/AccountsModal.tsx
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useAccountSubscriptions/index.ts
  idea/frontend/src/hooks/useEventSubscriptions/helpers.tsx
  idea/frontend/src/hooks/useEventSubscriptions/index.ts
  idea/frontend/src/hooks/useEventSubscriptions/useEventSubscriptions.ts
  idea/frontend/src/tests/Header.test.tsx
  idea/frontend/src/tests/mocks/hooks/hooks.ts
  yarn.lock
Labels: frontend

#996 Add Exited variant to Program enum
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/Storage.ts
  api/src/default/types-program.json
  api/src/errors/program.errors.ts
  api/src/types/interfaces/program/base.ts
Labels: api

#1004 Add test balance middleware `@gear-js/api-gateway`
  idea/api-gateway/src/middleware/index.ts
  idea/api-gateway/src/middleware/test-balance.middlware.ts
  idea/api-gateway/src/routes/api-gateway/api-gateway.router.ts
  idea/api-gateway/src/services/api-gateway.service.ts
Labels: backend

#1005 Add input max width and fix button line height
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/components/Button/Button.module.scss
  utils/gear-ui/src/components/Input/Input.module.scss
  utils/gear-ui/src/components/Input/Input.test.tsx
  utils/gear-ui/src/components/Input/Input.tsx
  utils/gear-ui/src/components/Select/Select.module.scss
  utils/gear-ui/src/components/Select/Select.test.tsx
  utils/gear-ui/src/components/Select/Select.tsx
  utils/gear-ui/src/components/Textarea/Textarea.module.scss
  utils/gear-ui/src/components/Textarea/Textarea.test.tsx
  utils/gear-ui/src/components/Textarea/Textarea.tsx
  utils/gear-ui/src/types/index.ts
Labels: ui kit

#1006 Check that MessageEnqueued event is not undefined
  idea/events-listener/src/gear/block-extrinsics-handler.ts
Labels: backend

#1008 Fix `upload program` in chain
  apps/upload-dapp-chain/package.json
  apps/upload-dapp-chain/src/command/command.service.ts
  apps/upload-dapp-chain/src/tgbot/tgbot.service.ts
  yarn.lock
Labels: backend, apps
