Repository gear-tech/gear-js, pull requests merged in 2022-11, with the labels that each got.

#1052 Bump escrow UI kit
  apps/escrow/package.json
  apps/escrow/src/components/info-text/InfoText.module.scss
  apps/escrow/src/components/layout/box/Box.module.scss
  apps/escrow/src/components/layout/box/Box.tsx
  apps/escrow/src/components/layout/header/account/Account.tsx
  apps/escrow/src/components/layout/header/account/account-button/AccountButton.tsx
  apps/escrow/src/components/layout/header/account/accounts-modal/AccountsModal.tsx
  apps/escrow/src/pages/home/create-wallet/CreateWallet.module.scss
  apps/escrow/src/pages/home/create-wallet/CreateWallet.tsx
  apps/escrow/src/pages/home/deposit/Deposit.tsx
  apps/escrow/src/pages/home/input-address/InputAddress.module.scss
  apps/escrow/src/pages/home/input-address/InputAddress.tsx
  apps/escrow/src/pages/home/select-wallet/SelectWallet.module.scss
  apps/escrow/src/pages/home/select-wallet/SelectWallet.tsx
  apps/escrow/src/pages/home/start/Start.tsx
  apps/escrow/src/pages/home/summary/Summary.module.scss
  yarn.lock
Labels: app

#1054 Move connection to gear node before anything else
  idea/data-storage/src/main.ts
Labels: backend

#1062 Fix input and button heights, replace images with inline svg
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/rollup.config.js
  utils/gear-ui/src/assets/styles/_typography.scss
  utils/gear-ui/src/assets/styles/fonts/kanit-300.woff2
  utils/gear-ui/src/assets/styles/utils/index.scss
  utils/gear-ui/src/components/Alert/Alert.tsx
  utils/gear-ui/src/components/Button/Button.module.scss
  utils/gear-ui/src/components/Button/Button.test.tsx
  utils/gear-ui/src/components/Button/Button.tsx
  utils/gear-ui/src/components/Button/Button.types.ts
  utils/gear-ui/src/components/FileInput/FileInput.tsx
  utils/gear-ui/src/components/FileInput/images/select.svg
  utils/gear-ui/src/components/Input/Input.module.scss
  utils/gear-ui/src/components/Input/Input.test.tsx
  utils/gear-ui/src/components/Input/Input.tsx
  utils/gear-ui/src/components/Modal/Modal.tsx
  utils/gear-ui/src/components/Select/Select.module.scss
  utils/gear-ui/src/components/Textarea/Textarea.module.scss
  utils/gear-ui/src/hooks/useClearButton.ts
  utils/gear-ui/src/types/index.ts
Labels: ui kit

#1061 Fix backend
  .github/workflows/CI-CD-k8s-gear-js.yml
  api/test/CreateType.test.ts
  idea/api-gateway/package.json
  idea/api-gateway/src/common/data-storage-partitions-map.ts
  idea/api-gateway/src/common/genesis-hashes-collection.ts
  idea/api-gateway/src/common/helpers/index.ts
  idea/api-gateway/src/common/helpers/network-kafka-partitions.ts
  idea/api-gateway/src/common/helpers/send-service-partition.ts
  idea/api-gateway/src/common/helpers/set-service-partition.ts
  idea/api-gateway/src/common/shedulers/genesis-hashes.scheduler.ts
  idea/api-gateway/src/common/shedulers/index.ts
  idea/api-gateway/src/common/shedulers/network-data-storages.scheduler.ts
  idea/api-gateway/src/common/test-balance-genesis-collection.ts
  idea/api-gateway/src/config/configuration.ts
  idea/api-gateway/src/json-rpc/json-rpc-request.handler.ts
  idea/api-gateway/src/kafka/consumer.ts
  idea/api-gateway/src/kafka/kafka-create-connection.ts
  idea/api-gateway/src/kafka/producer.ts
  idea/api-gateway/src/main.ts
  idea/api-gateway/src/middleware/test-balance.middleware.ts
  idea/api-gateway/src/utils/is-network-data-available-.ts
  idea/common/src/enums/kafka-topics.enum.ts
  idea/data-storage/Dockerfile
  idea/data-storage/src/code/code.repo.ts
  idea/data-storage/src/code/code.service.ts
  idea/data-storage/src/common/helpers/get-payload-by-gear-event.ts
  idea/data-storage/src/common/helpers/query-builder.ts
  idea/data-storage/src/consumer/consumer.controller.ts
  idea/data-storage/src/consumer/consumer.service.ts
  idea/data-storage/src/decorator/kafka-message-partition.decorator.ts
  idea/data-storage/src/main.ts
  idea/data-storage/src/message/message.repo.ts
  idea/data-storage/src/message/message.service.ts
  idea/data-storage/src/program/program.repo.ts
  idea/data-storage/src/program/program.service.ts
  idea/data-storage/test/code/code.service.spec.ts
  idea/data-storage/test/message/message.service.spec.ts
  idea/data-storage/test/mock/code/code-repository.mock.ts
  idea/data-storage/test/mock/message/message-repository.mock.ts
  idea/data-storage/test/mock/program/program-repository.mock.ts
  idea/data-storage/test/program/program.service.spec.ts
  idea/tests/src/e2e/programs.ts
  idea/tests/yarn.lock
  yarn.lock
Labels: backend

#1066 Update sql query search `query builder`
  idea/data-storage/src/common/helpers/query-builder.ts
Labels: backend

#1074 Fix ability to set network data partition
  idea/api-gateway/src/common/helpers/send-service-partition.ts
  idea/api-gateway/src/kafka/kafka-create-connection.ts
  idea/data-storage/src/gear/gear-event-listener.ts
Labels: backend

#1075 Add new syscalls
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/wasm/importObj.ts
Labels: api

#1077 Bump @gear-js/api
  idea/frontend/package.json
  yarn.lock
Labels: frontend

#1080 Fix signature not verified on meta upload
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
Labels: frontend

#1084 Increase the initial size value when reading the state
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/State.ts
Labels: api

#1093 Bump cga deps
  utils/create-gear-app/gear-app-template/package.json
  utils/create-gear-app/gear-app-template/template.json
  utils/create-gear-app/gear-app-template/template/src/App.tsx
  utils/create-gear-app/gear-app-template/template/src/components/layout/header/account/Account.tsx
  utils/create-gear-app/gear-app-template/template/src/components/layout/header/account/account-button/AccountButton.tsx
  utils/create-gear-app/package-lock.json
  utils/create-gear-app/package.json
Labels: cga

#1095 Minor UI fixes
  idea/frontend/src/entities/message/ui/horizontalMessageCard/HorizontalMessageCard.module.scss
  idea/frontend/src/entities/message/ui/horizontalMessageCard/HorizontalMessageCard.tsx
  idea/frontend/src/entities/program/ui/horizontalProgramCard/HorizontalProgramCard.module.scss
  idea/frontend/src/features/filters/ui/filterHeader/FilterHeader.module.scss
  idea/frontend/src/features/filters/ui/filterHeader/FilterHeader.tsx
  idea/frontend/src/features/gasField/ui/Info/Info.tsx
  idea/frontend/src/features/nodesSwitch/ui/node/Node.module.scss
  idea/frontend/src/features/recentBlocks/ui/RecentBlocks.module.scss
  idea/frontend/src/features/uploadMetadata/ui/UploadMetadata.module.scss
  idea/frontend/src/features/uploadMetadata/ui/UploadMetadata.tsx
  idea/frontend/src/pages/initializeProgram/ui/InitializeProgram.module.scss
  idea/frontend/src/pages/initializeProgram/ui/codeSection/CodeSection.tsx
  idea/frontend/src/pages/uploadProgram/ui/UploadProgram.module.scss
  idea/frontend/src/pages/uploadProgram/ui/programSection/ProgramSection.tsx
  idea/frontend/src/shared/assets/images/actions/trash.svg
  idea/frontend/src/shared/ui/box/Box.module.scss
  idea/frontend/src/shared/ui/form/formText/FormText.tsx
  idea/frontend/src/widgets/accountsModal/ui/AccountsModal.module.scss
  idea/frontend/src/widgets/footer/ui/dotButton/DotButton.module.scss
  idea/frontend/src/widgets/header/ui/Header.module.scss
  idea/frontend/src/widgets/header/ui/wallet/Wallet.module.scss
  idea/frontend/src/widgets/header/ui/wallet/Wallet.tsx
  idea/frontend/src/widgets/messageModal/ui/MessageModal.tsx
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
  yarn.lock
Labels: frontend

#1102 Update syscalls
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/State.ts
  api/src/wasm/importObj.ts
  api/src/wasm/readState.ts
  api/test/Message.test.ts
  api/test/programs/Cargo.lock
  api/test/programs/test-gas/Cargo.toml
  api/test/programs/test-mailbox/Cargo.toml
  api/test/programs/test-mailbox/src/lib.rs
  api/test/programs/test-syscall-in-state/Cargo.toml
  api/test/programs/test-waitlist/Cargo.toml
Labels: api

#1103 Bump hooks api
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
Labels: hooks

#1109 Bump social app api deps
  apps/social/package.json
  apps/social/src/assets/wasm/router.meta.wasm
  yarn.lock
Labels: app

#1096 Fix obsolete local programs display
  idea/frontend/src/api/LocalDB.ts
  idea/frontend/src/api/index.ts
  idea/frontend/src/app/App.tsx
  idea/frontend/src/entities/program/model/types.ts
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useLocalProgramsFilter.ts
  idea/frontend/src/hooks/useProgramActions/types.ts
Labels: frontend

#1097 Add program codehash display
  idea/frontend/src/entities/program/ui/programTable/ProgramTable.module.scss
  idea/frontend/src/entities/program/ui/programTable/ProgramTable.tsx
  idea/frontend/src/pages/codes/ui/Codes.tsx
  idea/frontend/src/pages/codes/ui/searchSettings/SearchSettings.tsx
  idea/frontend/src/shared/ui/table/ui/Table.module.scss
  idea/frontend/src/shared/ui/table/ui/tableRow/TableRow.tsx
Labels: frontend

#1112 Bump @gear-js/api
  idea/frontend/package.json
  utils/gear-hooks/package.json
  yarn.lock
Labels: frontend

#1098 Add reply to message id and entry fields display
  idea/frontend/src/entities/message/ui/messageInfo/MessageInfo.module.scss
  idea/frontend/src/entities/message/ui/messageInfo/MessageInfo.tsx
  idea/frontend/src/pages/message/ui/header/Header.tsx
Labels: frontend

#1099 Add state reset on payload change
  idea/frontend/package.json
  idea/frontend/src/hooks/useStateRead.ts
  idea/frontend/src/widgets/stateForm/ui/StateForm.tsx
  yarn.lock
Labels: frontend

#1105 Add onboarding
  idea/frontend/src/app/App.scss
  idea/frontend/src/app/providers/onboarding/Context.ts
  idea/frontend/src/app/providers/onboarding/Provider.tsx
  idea/frontend/src/app/providers/onboarding/helpers.ts
  idea/frontend/src/app/providers/onboarding/index.ts
  idea/frontend/src/app/providers/withProviders.tsx
  idea/frontend/src/features/nodesSwitch/ui/NodesSwitch.tsx
  idea/frontend/src/features/nodesSwitch/ui/nodesButton/NodesButton.tsx
  idea/frontend/src/features/recentBlocks/ui/RecentBlocks.module.scss
  idea/frontend/src/hooks/context.ts
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/shared/config/consts.ts
  idea/frontend/src/shared/ui/accountButton/AccountButton.module.scss
  idea/frontend/src/shared/ui/onboardingTooltip/OnboardingTooltip.module.scss
  idea/frontend/src/shared/ui/onboardingTooltip/OnboardingTooltip.tsx
  idea/frontend/src/shared/ui/onboardingTooltip/index.ts
  idea/frontend/src/widgets/header/model/consts.ts
  idea/frontend/src/widgets/header/ui/authorizationTooltip/AuthorizationTooltip.module.scss
  idea/frontend/src/widgets/header/ui/authorizationTooltip/AuthorizationTooltip.tsx
  idea/frontend/src/widgets/header/ui/authorizationTooltip/index.ts
  idea/frontend/src/widgets/header/ui/bottomSide/BottomSide.module.scss
  idea/frontend/src/widgets/header/ui/bottomSide/BottomSide.tsx
  idea/frontend/src/widgets/header/ui/topSide/TopSide.tsx
  idea/frontend/src/widgets/header/ui/wallet/Wallet.tsx
  idea/frontend/src/widgets/menu/ui/Menu.module.scss
  idea/frontend/src/widgets/menu/ui/Menu.tsx
  idea/frontend/src/widgets/menu/ui/appExamplesLink/AppExamplesLink.tsx
  idea/frontend/src/widgets/menu/ui/navigation/Navigation.tsx
  idea/frontend/src/widgets/menu/ui/navigationItem/NavigationItem.tsx
Labels: frontend

#1119 Fix vertical scroll
  idea/frontend/src/app/App.scss
Labels: frontend

#1124 Add node version display
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useNodeVersion.tsx
  idea/frontend/src/shared/assets/images/menu/github.svg
  idea/frontend/src/widgets/menu/ui/Menu.module.scss
  idea/frontend/src/widgets/menu/ui/Menu.tsx
Labels: frontend

#1129 Update check connection rabbitMQ
  .github/workflows/CI-CD-k8s-gear-js.yml
  idea/data-storage/src/rabbitmq/rabbitmq.service.ts
  idea/test-balance/src/rabbitmq/init-rabbitmq.ts
Labels: backend

#1130 Update check connection rabbitMQ
  idea/api-gateway/src/config/configuration.ts
  idea/api-gateway/src/rabbitmq/init-rabbitmq.ts
  idea/data-storage/src/config/configuration.ts
  idea/data-storage/src/rabbitmq/rabbitmq.service.ts
  idea/test-balance/package.json
  idea/test-balance/src/config/configuration.ts
  idea/test-balance/src/rabbitmq/init-rabbitmq.ts
  yarn.lock
Labels: backend
