Repository gear-tech/gear-js, pull requests merged in 2022-07, with the labels that each got.

#764 Add test for meta page
  website/frontend/src/components/blocks/UploadMeta/UploadMeta.tsx
  website/frontend/src/global.d.ts
  website/frontend/src/tests/pages/Meta/Meta.test.tsx
  website/frontend/src/tests/wasm/nft.meta.wasm
Labels: frontend

#762 Add tests for state page
  website/frontend/src/components/pages/State/State.tsx
  website/frontend/src/components/pages/State/children/StateForm/StateForm.tsx
  website/frontend/src/components/pages/State/children/StateForm/const.ts
  website/frontend/src/components/pages/State/children/StateForm/index.ts
  website/frontend/src/components/pages/State/children/StateForm/types.ts
  website/frontend/src/components/pages/State/types.ts
  website/frontend/src/tests/const.ts
  website/frontend/src/tests/mocks/handlers/handlers.ts
  website/frontend/src/tests/mocks/handlers/helpers.ts
  website/frontend/src/tests/mocks/hooks/const.ts
  website/frontend/src/tests/pages/Send/Send.test.tsx
  website/frontend/src/tests/pages/State/State.test.tsx
  website/frontend/src/tests/pages/State/inputData.ts
Labels: frontend

#784 Fix meta test
  website/frontend/src/tests/pages/Meta/Meta.test.tsx
Labels: frontend

#786 Update and refactor kafka in @gear-js/api-gateway
  website/api-gateway/src/json-rpc/json-rpc-method.handler.ts
  website/api-gateway/src/json-rpc/types/index.ts
  website/api-gateway/src/kafka/consumer.ts
  website/api-gateway/src/kafka/init-kafka.ts
  website/api-gateway/src/kafka/kafka-create-connection.ts
  website/api-gateway/src/kafka/kafka-events.ts
  website/api-gateway/src/kafka/kafka.ts
  website/api-gateway/src/kafka/producer.ts
  website/api-gateway/src/main.ts
Labels: backend

#789 Change type of expiration in UserMessageSent event data
  api/src/events/GearEventData.ts
Labels: api

#772 Refactor subscriptions, send message, upload program logic
  website/frontend/src/api/initApi.ts
  website/frontend/src/app/App.tsx
  website/frontend/src/components/AlertTemplate/AlertTemplate.tsx
  website/frontend/src/components/common/CustomLink/CustomLink.module.scss
  website/frontend/src/components/common/CustomLink/CustomLink.tsx
  website/frontend/src/components/common/CustomLink/index.ts
  website/frontend/src/consts.ts
  website/frontend/src/helpers.ts
  website/frontend/src/hooks/index.ts
  website/frontend/src/hooks/useCodeUpload.tsx
  website/frontend/src/hooks/useEventSubscriptions/helpers.tsx
  website/frontend/src/hooks/useEventSubscriptions/index.ts
  website/frontend/src/hooks/useEventSubscriptions/useEventSubscriptions.ts
  website/frontend/src/hooks/useMessageSend.ts
  website/frontend/src/hooks/useProgramUplaod/helpers.ts
  website/frontend/src/hooks/useProgramUplaod/index.ts
  website/frontend/src/hooks/useProgramUplaod/useProgramUpload.tsx
  website/frontend/src/pages/Explorer/children/Block/children/MainTable/Row/Row.tsx
  website/frontend/src/pages/Explorer/children/Events/init.ts
  website/frontend/src/pages/Explorer/common/Event/Event.tsx
  website/frontend/src/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  website/frontend/src/pages/Programs/children/UserProgram/UserProgram.tsx
  website/frontend/src/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/services/ApiService.ts
  website/frontend/src/tests/mocks/hooks/const.ts
  website/frontend/src/tests/mocks/hooks/hooks.ts
  website/frontend/src/tests/pages/Send/Send.test.tsx
  website/frontend/src/types/explorer.ts
Labels: frontend

#791 Bump @gear-js/api in hooks
  utils/create-gear-app/gear-app-template/package.json
  utils/create-gear-app/gear-app-template/template.json
  utils/create-gear-app/package-lock.json
  utils/create-gear-app/package.json
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
Labels: hooks

#788 Update data-storage
  website/api-gateway/package.json
  website/api-gateway/src/json-rpc/json-rpc-method.handler.ts
  website/api-gateway/src/kafka/kafka-events.ts
  website/api-gateway/src/kafka/types/index.ts
  website/api-gateway/src/routes/api-gateway/api-gateway.router.ts
  website/api-gateway/src/utils/get-response.ts
  website/common/src/gear/gear-events.ts
  website/common/src/interfaces/add-events.ts
  website/common/src/interfaces/api-requests.ts
  website/common/src/interfaces/message.ts
  website/common/src/kafka-topics/index.ts
  website/data-storage/package.json
  website/data-storage/src/app.module.ts
  website/data-storage/src/config/configuration.ts
  website/data-storage/src/consumer/consumer.controller.ts
  website/data-storage/src/consumer/consumer.service.ts
  website/data-storage/src/database/migrations/1656925123213-update_message_entity.ts
  website/data-storage/src/entities/message.entity.ts
  website/data-storage/src/main.ts
  website/data-storage/src/message/message.module.ts
  website/data-storage/src/message/message.repo.ts
  website/data-storage/src/message/message.service.ts
  website/data-storage/src/metadata/metadata.service.ts
  website/data-storage/src/middleware/formResponse.ts
  website/data-storage/src/program/program.repo.ts
  website/data-storage/src/program/program.service.ts
  website/data-storage/src/utils/index.ts
  website/data-storage/tests/message/message.service.spec.ts
  website/events-listener/package.json
  website/events-listener/src/config/configuration.ts
  website/events-listener/src/gear/event-handlers.ts
  website/frontend/package.json
  website/test-balance/package.json
  website/tests/package.json
  website/tests/spec/messages.yaml
  website/tests/spec/programs.yaml
  website/tests/src/e2e/e2e.test.ts
  website/tests/src/e2e/messages.ts
  website/tests/src/e2e/programs.ts
  website/tests/src/prepare/check.ts
  website/tests/src/prepare/index.ts
  website/tests/src/prepare/send-message.ts
  website/tests/src/prepare/subscriptions.ts
  website/tests/src/prepare/upload-programs.ts
  website/tests/yarn.lock
  yarn.lock
Labels: backend

#793 Fix form payload style
  website/frontend/src/components/common/Form/FormPayload/FormPayload.module.scss
Labels: frontend

#794 Rename stateChanged field in MessagesDispatched event data
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/events/GearEventData.ts
  api/test/State.test.ts
Labels: api

#796 Fix hooks state read on change
  utils/create-gear-app/gear-app-template/package.json
  utils/create-gear-app/gear-app-template/template.json
  utils/create-gear-app/gear-app-template/template/src/App.scss
  utils/create-gear-app/gear-app-template/template/src/components/index.ts
  utils/create-gear-app/package-lock.json
  utils/create-gear-app/package.json
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useReadState.ts
Labels: cga, hooks

#790 Refactor upload meta form
  website/frontend/src/components/blocks/UploadMeta/UploadMeta.tsx
  website/frontend/src/components/blocks/UploadMeta/helpers.ts
  website/frontend/src/components/blocks/UploadMeta/types.ts
  website/frontend/src/pages/Meta/Meta.tsx
  website/frontend/src/pages/Meta/children/UploadMetaForm/UploadMetaForm.tsx
  website/frontend/src/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  website/frontend/src/tests/pages/Meta/Meta.test.tsx
Labels: frontend

#802 Fix payload decode
  website/frontend/src/pages/Explorer/common/Event/children/LogContent/LogContent.tsx
Labels: frontend

#804 Fix import path in @gear-js/data-storage
  website/data-storage/src/code/code.module.ts
  website/data-storage/src/consumer/consumer.module.ts
  website/data-storage/src/consumer/consumer.service.ts
  website/data-storage/src/message/message.service.ts
  website/tests/src/e2e/e2e.test.ts
  website/tests/yarn.lock
Labels: backend

#806 Update `@gear-js/api` build
  .github/workflows/CI-CD-gear-js-api.yml
  .gitignore
  api/.eslintrc.cjs
  api/.gitignore
  api/.prettierrc
  api/.tslint.json
  api/CHANGELOG.md
  api/jest.config.js
  api/package-lock.json
  api/package.json
  api/rollup.config.js
  api/src/CreateType.ts
  api/src/DebugMode.ts
  api/src/Gas.ts
  api/src/GearApi.ts
  api/src/Message.ts
  api/src/MessageReply.ts
  api/src/Program.ts
  api/src/State.ts
  api/src/Storage.ts
  api/src/Waitlist.ts
  api/src/create-type/CreateType.ts
  api/src/create-type/decodeHex.ts
  api/src/create-type/generate.ts
  api/src/create-type/payload-type-structure.ts
  api/src/create-type/utils.ts
  api/src/errors/claim.errors.ts
  api/src/errors/gear.errors.ts
  api/src/errors/message.errors.ts
  api/src/errors/program.errors.ts
  api/src/errors/state.errors.ts
  api/src/events/GearEvents.ts
  api/src/index.ts
  api/src/types/gear-core/message.ts
  api/src/types/gear-core/program.ts
  api/src/types/gear-core/user.ts
  api/src/types/interfaces/gear-api.ts
  api/src/types/interfaces/gear-type.ts
  api/src/types/interfaces/index.ts
  api/src/types/interfaces/message.ts
  api/src/types/interfaces/metadata.ts
  api/src/types/interfaces/program.ts
  api/src/types/waitlist.ts
  api/src/utils/generate.ts
  api/src/utils/json.ts
  api/src/utils/string.ts
  api/src/utils/types.ts
  api/src/wasm/utils.ts
  api/test/testSequencer.js
  api/test/utilsFunctions.ts
  api/tsconfig.cjs.json
  api/tsconfig.esm.json
  api/tsconfig.json
  api/tsconfig.types.json
Labels: api

#809 Fix jest errors
  website/frontend/package.json
  website/frontend/src/index.tsx
  website/frontend/src/pages/Meta/children/UploadMetaForm/UploadMetaForm.tsx
  website/frontend/src/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/tests/Header.test.tsx
  website/frontend/src/tests/pages/Meta/Meta.test.tsx
  website/frontend/src/tests/pages/Send/Send.test.tsx
  website/frontend/src/tests/utils.tsx
  yarn.lock
Labels: frontend

#805 Add error message in alert
  website/frontend/src/hooks/useAccountSubscriptions/helpers.tsx
Labels: frontend

#798 Refactor message page
  website/frontend/src/app/App.tsx
  website/frontend/src/components/blocks/Hint/Hint.module.scss
  website/frontend/src/components/blocks/Hint/Hint.tsx
  website/frontend/src/components/blocks/MessageStatus/MessageStatus.scss
  website/frontend/src/components/blocks/MessageStatus/MessageStatus.tsx
  website/frontend/src/components/blocks/MessagesList/MessagesList.scss
  website/frontend/src/components/blocks/MessagesList/MessagesList.tsx
  website/frontend/src/components/blocks/MessagesList/children/MessageItem/MessageItem.module.scss
  website/frontend/src/components/blocks/MessagesList/children/MessageItem/MessageItem.tsx
  website/frontend/src/components/blocks/MessagesList/children/MessageItem/index.ts
  website/frontend/src/components/blocks/MessagesList/children/MessagesListHeader/MessagesListHeader.module.scss
  website/frontend/src/components/blocks/MessagesList/children/MessagesListHeader/MessagesListHeader.tsx
  website/frontend/src/components/blocks/MessagesList/children/MessagesListHeader/index.ts
  website/frontend/src/components/blocks/MessagesList/index.ts
  website/frontend/src/components/blocks/PageHeader/PageHeader.tsx
  website/frontend/src/components/common/CircleIndicator/CircleIndicator.module.scss
  website/frontend/src/components/common/CircleIndicator/CircleIndicator.tsx
  website/frontend/src/components/common/CircleIndicator/index.ts
  website/frontend/src/components/common/CircleIndicator/types.ts
  website/frontend/src/helpers.ts
  website/frontend/src/hooks/useAccountSubscriptions/helpers.tsx
  website/frontend/src/pages/Mailbox/children/Message/Message.tsx
  website/frontend/src/pages/Message/Message.scss
  website/frontend/src/pages/Message/Message.tsx
  website/frontend/src/pages/Message/children/MessageInfo/MessageInfo.tsx
  website/frontend/src/pages/Message/children/MessageInfo/index.ts
  website/frontend/src/pages/Message/children/MessagePageHeader/MessagePageHeader.module.scss
  website/frontend/src/pages/Message/children/MessagePageHeader/MessagePageHeader.tsx
  website/frontend/src/pages/Message/children/MessagePageHeader/index.ts
  website/frontend/src/pages/Message/helpers.ts
  website/frontend/src/pages/Message/index.ts
  website/frontend/src/pages/Message/types.ts
  website/frontend/src/pages/Program/Program.tsx
  website/frontend/src/pages/Programs/children/Messages/Messages.tsx
  website/frontend/src/pages/Programs/children/UserProgram/UserProgram.module.scss
  website/frontend/src/pages/Programs/children/UserProgram/UserProgram.tsx
  website/frontend/src/pages/Programs/children/UserProgram/helpers.ts
  website/frontend/src/pages/Send/Send.tsx
  website/frontend/src/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/routes.ts
  website/frontend/src/tests/mocks/handlers/helpers.ts
  website/frontend/src/tests/pages/Send/Send.test.tsx
  website/frontend/src/types/message.ts
Labels: frontend

#811 Method to check that address belongs to program
  api/CHANGELOG.md
  api/README.md
  api/package-lock.json
  api/package.json
  api/src/GearApi.ts
  api/src/Program.ts
  api/src/Storage.ts
  api/src/utils/index.ts
  api/src/utils/prefixes.ts
  api/src/utils/separator.ts
  api/test/Program.test.ts
  api/test/README.md
Labels: api

#803 Update kafka in `@gear-js/test-balance`
  website/data-storage/src/app.module.ts
  website/data-storage/src/code/code.module.ts
  website/data-storage/src/code/code.repo.ts
  website/data-storage/src/code/code.service.ts
  website/data-storage/src/common/errors/base.ts
  website/data-storage/src/common/errors/code.ts
  website/data-storage/src/common/errors/index.ts
  website/data-storage/src/common/errors/interfaces.ts
  website/data-storage/src/common/errors/message.ts
  website/data-storage/src/common/errors/metadata.ts
  website/data-storage/src/common/errors/program.ts
  website/data-storage/src/common/errors/signature.ts
  website/data-storage/src/common/mock/code/code-db.mock.ts
  website/data-storage/src/common/mock/code/code-repository.mock.ts
  website/data-storage/src/common/mock/message/message-db.mock.ts
  website/data-storage/src/common/mock/message/message-repository.mock.ts
  website/data-storage/src/common/mock/metadata/metadata-db.mock.ts
  website/data-storage/src/common/mock/metadata/metadata-repository.mock.ts
  website/data-storage/src/common/mock/program/program-db.mock.ts
  website/data-storage/src/common/mock/program/program-repository.mock.ts
  website/data-storage/src/consumer/types.ts
  website/data-storage/src/data-source.ts
  website/data-storage/src/database/entities/base.entity.ts
  website/data-storage/src/database/entities/code.entity.ts
  website/data-storage/src/database/entities/index.ts
  website/data-storage/src/database/entities/message.entity.ts
  website/data-storage/src/database/entities/meta.entity.ts
  website/data-storage/src/database/entities/program.entity.ts
  website/data-storage/src/message/message.module.ts
  website/data-storage/src/message/message.repo.ts
  website/data-storage/src/message/message.service.ts
  website/data-storage/src/metadata/metadata.module.ts
  website/data-storage/src/metadata/metadata.repo.ts
  website/data-storage/src/metadata/metadata.service.ts
  website/data-storage/src/program/program.module.ts
  website/data-storage/src/program/program.repo.ts
  website/data-storage/src/program/program.service.ts
  website/data-storage/src/program/types.ts
  website/data-storage/tests/code/code.service.spec.ts
  website/test-balance/src/kafka/consumer.ts
  website/test-balance/src/kafka/init-kafka.ts
  website/test-balance/src/kafka/kafka-create-connection.ts
  website/test-balance/src/kafka/producer.ts
  website/test-balance/src/main.ts
  website/tests/test-setup.local.js
Labels: backend

#820 Add state read on programId change
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useReadState.ts
Labels: hooks

#824 Fix marketplace infinite loading on item without attrs
  apps/marketplace/src/pages/listing/Listing.tsx
  apps/marketplace/src/utils/nft.ts
Labels: app

#825 Add the ability to stop state read on error
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useReadState.ts
Labels: hooks

#818 Add consumer event `UserMessageRead` `@gear-js/data-storage`
  website/common/src/enums/add-events.enum.ts
  website/common/src/enums/code.enum.ts
  website/common/src/enums/gear-events.enum.ts
  website/common/src/enums/index.ts
  website/common/src/enums/kafka-topics.enum.ts
  website/common/src/enums/message.enum.ts
  website/common/src/enums/program.enum.ts
  website/common/src/enums/rpc-error-code.enum.ts
  website/common/src/gear/index.ts
  website/common/src/index.ts
  website/common/src/interfaces/add-events.ts
  website/common/src/interfaces/api-response.ts
  website/common/src/interfaces/code.ts
  website/common/src/interfaces/message.ts
  website/common/src/interfaces/program.ts
  website/data-storage/package.json
  website/data-storage/src/common/mock/code/code-repository.mock.ts
  website/data-storage/src/common/mock/message/message-db.mock.ts
  website/data-storage/src/common/mock/message/message-repository.mock.ts
  website/data-storage/src/consumer/consumer.controller.ts
  website/data-storage/src/consumer/consumer.service.ts
  website/data-storage/src/database/entities/message.entity.ts
  website/data-storage/src/database/migrations/1657703197826-add_readStatus_and_type_message_entity.ts
  website/data-storage/src/message/message.repo.ts
  website/data-storage/src/message/message.service.ts
  website/data-storage/src/message/types.ts
  website/data-storage/test/code/code.service.spec.ts
  website/data-storage/test/jest-e2e.json
  website/data-storage/test/message/message.service.spec.ts
  website/data-storage/test/program/program.service.spec.ts
  website/data-storage/tsconfig.build.json
  website/events-listener/src/gear/event-handlers.ts
  website/events-listener/src/kafka/kafka-create-connection.ts
  website/events-listener/src/kafka/producer.ts
  website/events-listener/src/utils/get-messge-read-status.ts
  website/events-listener/src/utils/index.ts
  website/tests/src/e2e/messages.ts
Labels: backend

#830 Add payload form validation
  website/frontend/src/app/App.tsx
  website/frontend/src/components/common/Form/FormNumberFormat/FormNumberFormat.tsx
  website/frontend/src/components/common/Form/FormPayload/FormPayload.tsx
  website/frontend/src/components/common/Form/FormPayload/children/EnumItem/EnumItem.tsx
  website/frontend/src/components/common/Form/FormPayload/children/OptionItem/OptionItem.tsx
  website/frontend/src/components/common/Form/FormPayloadType/FormPayloadType.tsx
  website/frontend/src/consts.ts
  website/frontend/src/global.d.ts
  website/frontend/src/hooks/useMessageSend.ts
  website/frontend/src/pages/Programs/children/Upload/children/UploadForm/Schema.ts
  website/frontend/src/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  website/frontend/src/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/pages/Send/children/MessageForm/Schema.ts
  website/frontend/src/pages/State/children/StateForm/Schema.ts
  website/frontend/src/pages/State/children/StateForm/StateForm.tsx
  website/frontend/src/setupTests.ts
  website/frontend/src/tests/const.ts
  website/frontend/src/tests/mocks/handlers/helpers.ts
  website/frontend/src/tests/pages/Send/Send.test.tsx
  website/frontend/src/tests/pages/State/State.test.tsx
  website/frontend/src/yup-extended.ts
Labels: frontend

#836 Bump cga api deps
  utils/create-gear-app/gear-app-template/package.json
  utils/create-gear-app/gear-app-template/template.json
  utils/create-gear-app/gear-app-template/template/public/index.html
  utils/create-gear-app/package-lock.json
  utils/create-gear-app/package.json
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
Labels: cga

#835 Add the separator in node info section
  website/frontend/src/components/blocks/Header/Header.module.scss
  website/frontend/src/components/blocks/Header/Header.tsx
  website/frontend/src/components/blocks/Header/children/Menu/Menu.module.scss
  website/frontend/src/components/blocks/Header/children/Menu/Menu.tsx
  website/frontend/src/components/blocks/Header/children/Menu/const.ts
Labels: frontend

#840 Validate the value of the arguments before sending the transaction
  .eslintrc
  .github/workflows/CI-CD-gear-js-api.yml
  api/.eslintrc
  api/.eslintrc.cjs
  api/CHANGELOG.md
  api/examples/package-lock.json
  api/examples/package.json
  api/examples/src/message/claimValue.ts
  api/examples/src/message/readMailbox.ts
  api/examples/src/message/sendMessage.ts
  api/examples/src/message/waitForReply.ts
  api/examples/src/program/submitCode.ts
  api/examples/src/program/uploadProgram.ts
  api/examples/src/program/waitForInit.ts
  api/examples/src/state/readState.ts
  api/package-lock.json
  api/package.json
  api/src/Code.ts
  api/src/GearApi.ts
  api/src/Message.ts
  api/src/MessageReply.ts
  api/src/Program.ts
  api/src/errors/blocks.errors.ts
  api/src/errors/claim.errors.ts
  api/src/errors/gear.errors.ts
  api/src/errors/index.ts
  api/src/errors/message.errors.ts
  api/src/errors/program.errors.ts
  api/src/errors/state.errors.ts
  api/src/errors/validation.errors.ts
  api/src/types/interfaces/program/code.ts
  api/src/types/interfaces/program/index.ts
  api/src/utils/index.ts
  api/src/utils/validate.ts
  api/test/GearApi.test.ts
  api/test/Program.test.ts
  api/test/SubmitCode.test.ts
  package.json
  yarn.lock
Labels: api

#843 Read state according to new allocation logic
  api/.eslintrc
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/Code.ts
  api/src/Program.ts
  api/src/State.ts
  api/src/Storage.ts
  api/src/errors/program.errors.ts
  api/src/types/interfaces/message/entry.ts
  api/src/types/interfaces/program/base.ts
  api/src/types/interfaces/program/code.ts
  api/src/types/interfaces/program/pages.ts
  api/test/State.test.ts
  package.json
Labels: api

#837 Add tooltip for total issues
  website/frontend/src/assets/images/circleQuestion.svg
  website/frontend/src/components/BlocksSummary/BlocksSummary.module.scss
  website/frontend/src/components/BlocksSummary/BlocksSummary.tsx
  website/frontend/src/components/common/Tooltip/Tooltip.module.scss
  website/frontend/src/components/common/Tooltip/Tooltip.tsx
  website/frontend/src/components/common/Tooltip/index.ts
Labels: frontend

#859 Update backend
  k8s/gear-node/Dockerfile
  website/data-storage/package.json
  website/data-storage/src/message/message.service.ts
  website/events-listener/package.json
  website/events-listener/src/gear/connection.ts
  website/events-listener/src/gear/event-handlers.ts
  website/events-listener/src/gear/listener.ts
  website/events-listener/tsconfig.json
  website/test-balance/package.json
  website/tests/package.json
  website/tests/src/prepare/check.ts
  website/tests/src/prepare/send-message.ts
  website/tests/yarn.lock
  yarn.lock
Labels: backend

#833 Add api method `messages.update.data`
  .eslintrc
  apps/escrow/.eslintrc.js
  apps/escrow/package-lock.json
  package.json
  website/common/src/enums/api-methods.enum.ts
  website/common/src/enums/index.ts
  website/common/src/enums/kafka-topics.enum.ts
  website/common/src/interfaces/api-requests.ts
  website/common/src/interfaces/message.ts
  website/data-storage/src/consumer/consumer.controller.ts
  website/data-storage/src/consumer/consumer.service.ts
  website/data-storage/src/message/message.service.ts
  website/events-listener/src/gear/block-extrinsics-handler.ts
  website/events-listener/src/gear/connection.ts
  website/events-listener/src/gear/event-handlers.ts
  website/events-listener/src/gear/listener.ts
  website/events-listener/src/gear/types/index.ts
  website/events-listener/src/kafka/kafka-create-connection.ts
  website/events-listener/src/kafka/producer.ts
  website/events-listener/src/kafka/types/index.ts
  website/events-listener/src/utils/index.ts
  website/events-listener/src/utils/sleep.ts
Labels: backend

#866 Fix the upload form
  website/frontend/src/components/BlocksSummary/BlocksSummary.tsx
  website/frontend/src/hooks/useProgramUplaod/useProgramUpload.tsx
  website/frontend/src/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
Labels: frontend

#867 Add the "Go to message" link
  website/frontend/package.json
  website/frontend/src/assets/images/letter.svg
  website/frontend/src/pages/Mailbox/children/Message/Message.tsx
  website/frontend/src/pages/Message/Message.tsx
  yarn.lock
Labels: frontend

#864 Refactor `@gear-js/api`
  api/.eslintrc
  api/examples/src/message/claimValue.ts
  api/examples/src/message/readMailbox.ts
  api/examples/src/message/sendMessage.ts
  api/examples/src/program/uploadProgram.ts
  api/package-lock.json
  api/package.json
  api/src/Balance.ts
  api/src/Blocks.ts
  api/src/Claim.ts
  api/src/Code.ts
  api/src/DebugMode.ts
  api/src/Gas.ts
  api/src/Keyring.ts
  api/src/Mailbox.ts
  api/src/Message.ts
  api/src/MessageReply.ts
  api/src/Program.ts
  api/src/State.ts
  api/src/Storage.ts
  api/src/Transaction.ts
  api/src/Waitlist.ts
  api/src/types/interfaces/message/entry.ts
  api/src/types/interfaces/message/human.ts
  api/src/types/interfaces/program/code.ts
  api/src/types/interfaces/program/index.ts
  api/src/types/interfaces/program/pages.ts
  api/src/utils/address.ts
  api/src/utils/index.ts
  api/src/utils/signature.ts
  api/test/Gas.test.ts
  api/test/Message.test.ts
  api/test/utilsFunctions.ts
  renovate.json
  website/events-listener/src/kafka/producer.ts
Labels: api

#875 Bump marketplace meta
  apps/marketplace/src/assets/wasm/marketplace.meta.wasm
  apps/marketplace/src/assets/wasm/nft.meta.wasm
Labels: app

#873 Add "Wallet not connected" message
  website/frontend/src/consts.ts
  website/frontend/src/pages/Mailbox/Mailbox.module.scss
  website/frontend/src/pages/Mailbox/Mailbox.tsx
  website/frontend/src/pages/Mailbox/children/Message/Message.module.scss
Labels: frontend

#878 Add `code` e2e tests
  idea/tests/spec/collection-code.yaml
  idea/tests/src/e2e/code.ts
  idea/tests/src/e2e/e2e.test.ts
  idea/tests/src/e2e/messages.ts
  idea/tests/src/e2e/programs.ts
  idea/tests/src/e2e/testBalance.ts
  idea/tests/src/interfaces.ts
  idea/tests/src/prepare/check.ts
  idea/tests/src/prepare/index.ts
  idea/tests/src/prepare/send-message.ts
  idea/tests/src/prepare/subscriptions.ts
  idea/tests/src/prepare/upload-collection-code.ts
  idea/tests/src/prepare/upload-programs.ts
Labels: backend

#865 Add the waitlist to program page
  idea/frontend/src/assets/images/shoppingBag.svg
  idea/frontend/src/assets/images/triangle.svg
  idea/frontend/src/assets/scss/common.scss
  idea/frontend/src/components/blocks/MessagesList/MessagesList.tsx
  idea/frontend/src/components/blocks/MessagesList/children/MessageItem/MessageItem.module.scss
  idea/frontend/src/components/blocks/MessagesList/children/MessageItem/MessageItem.tsx
  idea/frontend/src/components/blocks/MessagesList/children/MessagesListHeader/MessagesListHeader.module.scss
  idea/frontend/src/components/blocks/MessagesList/children/MessagesListHeader/MessagesListHeader.tsx
  idea/frontend/src/components/blocks/MessagesList/children/MessagesListHeader/index.ts
  idea/frontend/src/components/blocks/MessagesList/const.ts
  idea/frontend/src/components/blocks/MessagesList/helpers.ts
  idea/frontend/src/components/blocks/ProgramWaitlist/ProgramWaitlist.module.scss
  idea/frontend/src/components/blocks/ProgramWaitlist/ProgramWaitlist.tsx
  idea/frontend/src/components/blocks/ProgramWaitlist/children/WaitlistRowItem/WaitlistRowItem.module.scss
  idea/frontend/src/components/blocks/ProgramWaitlist/children/WaitlistRowItem/WaitlistRowItem.tsx
  idea/frontend/src/components/blocks/ProgramWaitlist/children/WaitlistRowItem/index.ts
  idea/frontend/src/components/blocks/ProgramWaitlist/const.ts
  idea/frontend/src/components/blocks/ProgramWaitlist/helpers.ts
  idea/frontend/src/components/blocks/ProgramWaitlist/index.ts
  idea/frontend/src/components/common/Table/Table.module.scss
  idea/frontend/src/components/common/Table/Table.tsx
  idea/frontend/src/components/common/Table/children/HeaderItem/HeaderItem.module.scss
  idea/frontend/src/components/common/Table/children/HeaderItem/HeaderItem.tsx
  idea/frontend/src/components/common/Table/children/HeaderItem/index.ts
  idea/frontend/src/components/common/Table/index.ts
  idea/frontend/src/components/common/Table/types.ts
  idea/frontend/src/hooks/useProgram.ts
  idea/frontend/src/pages/Explorer/common/Event/children/LogContent/LogContent.tsx
  idea/frontend/src/pages/Mailbox/Mailbox.tsx
  idea/frontend/src/pages/Mailbox/children/Message/Message.tsx
  idea/frontend/src/pages/Mailbox/children/Message/index.ts
  idea/frontend/src/pages/Message/Message.tsx
  idea/frontend/src/pages/Meta/Meta.tsx
  idea/frontend/src/pages/Program/Program.tsx
  idea/frontend/src/pages/Program/children/ProgramInfo/MetaData/MetaData.module.scss
  idea/frontend/src/pages/Send/Send.tsx
  idea/frontend/src/types/api.ts
Labels: frontend

#883 Fix apps build process
  .github/workflows/CI-CD-k8s-gear-apps.yml
  .github/workflows/CI-Only-k8s-gear-apps.yml
  apps/escrow/Dockerfile
  apps/escrow/package.json
  apps/lottery/Dockerfile
  apps/lottery/package.json
  apps/marketplace/Dockerfile
  apps/marketplace/package.json
  apps/nft/Dockerfile
  apps/nft/package.json
  apps/nft/src/pages/create/Create.tsx
  package.json
  yarn.lock
Labels: apps

#890 Refactor database `mock` data for unit tests
  idea/data-storage/package.json
  idea/data-storage/src/common/mock/code/code-db.mock.ts
  idea/data-storage/src/common/mock/message/message-db.mock.ts
  idea/data-storage/src/common/mock/metadata/metadata-db.mock.ts
  idea/data-storage/src/common/mock/program/program-db.mock.ts
  idea/data-storage/test/code/code.service.spec.ts
  idea/data-storage/test/message/message.service.spec.ts
  idea/data-storage/test/mock/code/code-db.mock.ts
  idea/data-storage/test/mock/code/code-repository.mock.ts
  idea/data-storage/test/mock/code/collection-code.mock.yaml
  idea/data-storage/test/mock/message/message-db.mock.ts
  idea/data-storage/test/mock/message/message-repository.mock.ts
  idea/data-storage/test/mock/message/messages.mock.yaml
  idea/data-storage/test/mock/metadata/collection-metadata.mock.yaml
  idea/data-storage/test/mock/metadata/metadata-db.mock.ts
  idea/data-storage/test/mock/metadata/metadata-repository.mock.ts
  idea/data-storage/test/mock/program/program-db.mock.ts
  idea/data-storage/test/mock/program/program-repository.mock.ts
  idea/data-storage/test/mock/program/programs.mock.yaml
  idea/data-storage/test/program/program.service.spec.ts
  yarn.lock
Labels: backend

#894 Fix paymentInfo argument type
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/Transaction.ts
Labels: api

#893 Fix private routes flickering in apps
  apps/escrow/src/App.tsx
  apps/escrow/src/components/layout/header/Header.tsx
  apps/lottery/package.json
  apps/lottery/src/App.tsx
  apps/lottery/src/components/layout/header/Header.tsx
  apps/lottery/src/components/layout/header/account/Account.tsx
  apps/lottery/src/pages/home/pending/Pending.tsx
  apps/marketplace/package.json
  apps/marketplace/src/App.tsx
  apps/marketplace/src/components/layout/header/Header.tsx
  apps/marketplace/src/components/layout/header/account/Account.tsx
  apps/nft/package.json
  apps/nft/src/App.tsx
  apps/nft/src/components/layout/header/Header.tsx
  apps/nft/src/components/layout/header/account/Account.tsx
  utils/create-gear-app/gear-app-template/package.json
  utils/create-gear-app/gear-app-template/template.json
  utils/create-gear-app/gear-app-template/template/.eslintrc.js
  utils/create-gear-app/gear-app-template/template/src/App.tsx
  utils/create-gear-app/gear-app-template/template/src/components/layout/header/Header.tsx
  utils/create-gear-app/gear-app-template/template/src/components/layout/header/account/Account.tsx
  utils/create-gear-app/gear-app-template/template/src/components/layout/header/account/accounts/Accounts.tsx
  utils/create-gear-app/package-lock.json
  utils/create-gear-app/package.json
  yarn.lock
Labels: app

#868 Refactor the programs table
  idea/frontend/src/components/blocks/MessagesList/MessagesList.tsx
  idea/frontend/src/components/blocks/ProgramWaitlist/ProgramWaitlist.module.scss
  idea/frontend/src/components/blocks/ProgramWaitlist/ProgramWaitlist.tsx
  idea/frontend/src/components/blocks/ProgramsList/ProgramsList.tsx
  idea/frontend/src/components/blocks/ProgramsList/children/ProgramItem/ProgramItem.module.scss
  idea/frontend/src/components/blocks/ProgramsList/children/ProgramItem/ProgramItem.tsx
  idea/frontend/src/components/blocks/ProgramsList/children/ProgramItem/helpers.ts
  idea/frontend/src/components/blocks/ProgramsList/children/ProgramItem/index.ts
  idea/frontend/src/components/blocks/ProgramsList/const.ts
  idea/frontend/src/components/blocks/ProgramsList/helpers.ts
  idea/frontend/src/components/blocks/ProgramsList/index.ts
  idea/frontend/src/components/common/Table/Table.module.scss
  idea/frontend/src/components/common/Table/Table.tsx
  idea/frontend/src/components/common/Table/children/HeaderItem/HeaderItem.module.scss
  idea/frontend/src/components/common/Table/children/HeaderItem/HeaderItem.tsx
  idea/frontend/src/components/common/Table/types.ts
  idea/frontend/src/pages/Program/Program.tsx
  idea/frontend/src/pages/Programs/Programs.module.scss
  idea/frontend/src/pages/Programs/children/All/All.tsx
  idea/frontend/src/pages/Programs/children/Messages/Messages.tsx
  idea/frontend/src/pages/Programs/children/ProgramsLegend/ProgramsLegend.module.scss
  idea/frontend/src/pages/Programs/children/ProgramsLegend/ProgramsLegend.tsx
  idea/frontend/src/pages/Programs/children/Recent/Recent.tsx
Labels: frontend

#842 Add the send message form in main page
  idea/frontend/.eslintrc
  idea/frontend/src/components/blocks/MessageForm/MessageForm.tsx
  idea/frontend/src/components/blocks/MessageForm/Schema.ts
  idea/frontend/src/components/blocks/MessageForm/const.ts
  idea/frontend/src/components/blocks/MessageForm/index.ts
  idea/frontend/src/components/blocks/MessageForm/types.ts
  idea/frontend/src/components/blocks/ProgramSwitch/ProgramSwitch.tsx
  idea/frontend/src/consts.ts
  idea/frontend/src/helpers.ts
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useGasCalculate/index.ts
  idea/frontend/src/hooks/useGasCalculate/types.ts
  idea/frontend/src/hooks/useGasCalculate/useGasCalculate.ts
  idea/frontend/src/pages/Programs/children/Upload/Upload.module.scss
  idea/frontend/src/pages/Programs/children/Upload/Upload.tsx
  idea/frontend/src/pages/Programs/children/Upload/children/DropTarget/DropTarget.module.scss
  idea/frontend/src/pages/Programs/children/Upload/children/DropTarget/DropTarget.tsx
  idea/frontend/src/pages/Programs/children/Upload/children/FormWrapper/FormWrapper.module.scss
  idea/frontend/src/pages/Programs/children/Upload/children/FormWrapper/FormWrapper.tsx
  idea/frontend/src/pages/Programs/children/Upload/children/FormWrapper/index.ts
  idea/frontend/src/pages/Programs/children/Upload/children/MessageSide/MessageSide.tsx
  idea/frontend/src/pages/Programs/children/Upload/children/MessageSide/index.ts
  idea/frontend/src/pages/Programs/children/Upload/children/SendMessageForm/SendMessageForm.tsx
  idea/frontend/src/pages/Programs/children/Upload/children/SendMessageForm/children/DestinationForm/DestinationForm.tsx
  idea/frontend/src/pages/Programs/children/Upload/children/SendMessageForm/children/DestinationForm/Schema.ts
  idea/frontend/src/pages/Programs/children/Upload/children/SendMessageForm/children/DestinationForm/index.ts
  idea/frontend/src/pages/Programs/children/Upload/children/SendMessageForm/children/DestinationForm/types.ts
  idea/frontend/src/pages/Programs/children/Upload/children/SendMessageForm/index.ts
  idea/frontend/src/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  idea/frontend/src/pages/Programs/children/Upload/types.ts
  idea/frontend/src/pages/Send/Send.tsx
  idea/frontend/src/tests/mocks/hooks/hooks.ts
  idea/frontend/src/tests/pages/Send/Send.test.tsx
Labels: frontend
