Repository gear-tech/gear-js, pull requests merged in 2022-03, with the labels that each got.

#414 Bump @gear-js/api and @polkadot/api
  website/data-storage/package.json
  website/events-listener/package.json
  website/events-listener/tsconfig.json
  website/frontend/package.json
  website/test-balance/package.json
  yarn.lock
Labels: dependency, website

#380 Update dependabot
  .github/dependabot.yml
Labels: dependency

#437 change url in repo
  ansible/tasks/api-gateway/docker-compose.yaml
  ansible/tasks/data-storage/docker-compose.yaml
  ansible/tasks/events-listener/docker-compose.yaml
  ansible/tasks/frontend/docker-compose.yaml
  ansible/tasks/test-balance/docker-compose.yaml
Labels: CI/CD

#438 Fix `message.data` response
  website/api-gateway/src/json-rpc/handler.ts
  website/data-storage/src/errors/exceptions.filter.ts
Labels: backend

#441 Add renovate.json
  renovate.json
Labels: dependencies

#439 Delete dependabot
  .github/dependabot.yml
Labels: dependencies

#445 Update renovate config
  renovate.json
Labels: dependencies

#452 Update renovate config
  renovate.json
Labels: dependencies

#475 SignAndSend reply message
  api/package-lock.json
  api/package.json
  api/src/MessageReply.ts
Labels: api

#484 Fix create payload structure
  api/package-lock.json
  api/package.json
  api/src/create-type/generate.ts
  api/src/create-type/payload-type-structure.ts
  api/src/create-type/utils.ts
  api/test/CreateTypeStructure.test.js
Labels: api

#494 Refactor messageReply
  api/README.md
  api/package-lock.json
  api/package.json
  api/src/Message.ts
  api/src/MessageReply.ts
  api/src/Program.ts
Labels: api

#500 Update gasSpent rpc call
  api/src/GasSpent.ts
  api/src/default/rpc.json
  api/src/interfaces/augment-api-rpc.ts
  api/test/ProgramsInteract.test.js
Labels: api

#501 Update gear types
  api/package-lock.json
  api/package.json
  api/src/default/index.ts
  api/src/default/types-debug.json
  api/src/default/types-message.json
  api/src/default/types-program.json
  api/src/default/types.json
  api/src/interfaces/message.ts
  api/src/types/EventData.ts
  api/test/DebugMode.test.js
Labels: api

#502 Add value on gasSpent submit
  website/frontend/package.json
  website/frontend/src/helpers.ts
  yarn.lock
Labels: frontend

#490 Add button tests and improve styles
  website/frontend/src/common/components/BackButton/BackButton.tsx
  website/frontend/src/common/components/Button/Button.module.scss
  website/frontend/src/common/components/Button/Button.test.tsx
  website/frontend/src/common/components/Button/Button.tsx
  website/frontend/src/common/components/Button/types.tsx
  website/frontend/src/components/blocks/Header/children/Sidebar/children/Header/Header.tsx
  website/frontend/src/components/blocks/Header/children/Sidebar/children/Nodes/Section/Node/Node.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/CodeModal/CodeModal.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/DropTarget/DropTarget.tsx
Labels: frontend, ui kit

#491 Add select
  website/frontend/src/common/components/Input/Input.test.tsx
  website/frontend/src/common/components/Select/Select.module.scss
  website/frontend/src/common/components/Select/Select.test.tsx
  website/frontend/src/common/components/Select/Select.tsx
Labels: frontend, ui kit

#499 Add textarea
  website/frontend/src/common/components/Textarea/Textarea.module.scss
  website/frontend/src/common/components/Textarea/Textarea.test.tsx
  website/frontend/src/common/components/Textarea/Textarea.tsx
Labels: frontend, ui kit

#389 Add mailbox
  api/README.md
  website/frontend/src/common/components/Button/Button.module.scss
  website/frontend/src/components/App/App.tsx
  website/frontend/src/components/blocks/Header/Header.tsx
  website/frontend/src/components/blocks/Header/children/Menu/Menu.tsx
  website/frontend/src/components/blocks/Modal/Modal.tsx
  website/frontend/src/components/blocks/Wallet/index.tsx
  website/frontend/src/components/pages/Mailbox/Mailbox.module.scss
  website/frontend/src/components/pages/Mailbox/Mailbox.tsx
  website/frontend/src/components/pages/Mailbox/children/Message/Message.module.scss
  website/frontend/src/components/pages/Mailbox/children/Message/Message.tsx
  website/frontend/src/components/pages/Mailbox/children/Message/children/ReplyLink/ReplyLink.module.scss
  website/frontend/src/components/pages/Mailbox/children/Message/children/ReplyLink/ReplyLink.tsx
  website/frontend/src/components/pages/Mailbox/children/Message/children/index.ts
  website/frontend/src/components/pages/Mailbox/children/Message/images/claim.svg
  website/frontend/src/components/pages/Mailbox/children/index.ts
  website/frontend/src/components/pages/Program/Program.tsx
  website/frontend/src/components/pages/Programs/children/All/All.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  website/frontend/src/components/pages/Programs/children/UserProgram/UserProgram.tsx
  website/frontend/src/components/pages/Send/Send.scss
  website/frontend/src/components/pages/Send/Send.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/MessageForm.scss
  website/frontend/src/components/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/Schema.ts
  website/frontend/src/components/pages/Send/children/MessageForm/styles.ts
  website/frontend/src/components/pages/Send/children/MessageForm/types.ts
  website/frontend/src/consts.ts
  website/frontend/src/features/BlockList/BlockListAllUploaded.tsx
  website/frontend/src/features/Editor/EditorPage/EditorPage.tsx
  website/frontend/src/features/Editor/EditorPage/index.ts
  website/frontend/src/features/Editor/EditorTree/EditorTreeFolderItem.tsx
  website/frontend/src/helpers.ts
  website/frontend/src/layout/Box/Box.module.scss
  website/frontend/src/layout/Box/Box.tsx
  website/frontend/src/layout/Main/Main.tsx
  website/frontend/src/routes.ts
  website/frontend/src/services/ApiService.tsx
  website/frontend/src/services/ProgramsRequestService.ts
  website/frontend/src/types/program.ts
Labels: frontend

#506 Fix custom type registration
  api/package-lock.json
  api/package.json
  api/src/GearApi.ts
  api/src/State.ts
  api/src/Storage.ts
  api/src/interfaces/gear-api.ts
Labels: api

#511 Init @gear-js/ui
  .github/workflows/CI-test-gear-ui.yml
  .github/workflows/Publish-gear-ui.yml
  README.md
  utils/gear-ui/.gitignore
  utils/gear-ui/.npmignore
  utils/gear-ui/README.md
  utils/gear-ui/babel.config.js
  utils/gear-ui/jest.config.js
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/rollup.config.js
  utils/gear-ui/src/assets/styles/_breakpoints.scss
  utils/gear-ui/src/assets/styles/_mixins.scss
  utils/gear-ui/src/assets/styles/_variables.scss
  utils/gear-ui/src/components/Button/Button.module.scss
  utils/gear-ui/src/components/Button/Button.test.tsx
  utils/gear-ui/src/components/Button/Button.tsx
  utils/gear-ui/src/components/Button/types.tsx
  utils/gear-ui/src/components/Checkbox/Checkbox.module.scss
  utils/gear-ui/src/components/Checkbox/Checkbox.test.tsx
  utils/gear-ui/src/components/Checkbox/Checkbox.tsx
  utils/gear-ui/src/components/Input/Input.module.scss
  utils/gear-ui/src/components/Input/Input.test.tsx
  utils/gear-ui/src/components/Input/Input.tsx
  utils/gear-ui/src/components/Input/children/Icon/Icon.module.scss
  utils/gear-ui/src/components/Input/children/Icon/Icon.test.tsx
  utils/gear-ui/src/components/Input/children/Icon/Icon.tsx
  utils/gear-ui/src/components/Input/children/Text/Text.module.scss
  utils/gear-ui/src/components/Input/children/Text/Text.test.tsx
  utils/gear-ui/src/components/Input/children/Text/Text.tsx
  utils/gear-ui/src/components/Input/children/index.ts
  utils/gear-ui/src/components/Radio/Radio.module.scss
  utils/gear-ui/src/components/Radio/Radio.test.tsx
  utils/gear-ui/src/components/Radio/Radio.tsx
  utils/gear-ui/src/components/Radio/RadioGroup.tsx
  utils/gear-ui/src/components/Radio/types.ts
  utils/gear-ui/src/components/Select/Select.module.scss
  utils/gear-ui/src/components/Select/Select.test.tsx
  utils/gear-ui/src/components/Select/Select.tsx
  utils/gear-ui/src/components/Textarea/Textarea.module.scss
  utils/gear-ui/src/components/Textarea/Textarea.test.tsx
  utils/gear-ui/src/components/Textarea/Textarea.tsx
  utils/gear-ui/src/global.d.ts
  utils/gear-ui/src/index.ts
  utils/gear-ui/src/setupTests.ts
  utils/gear-ui/tsconfig.json
Labels: ui kit

#519 Add types and styles export
  utils/gear-ui/.npmignore
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/rollup.config.js
  utils/gear-ui/src/assets/styles/_breakpoints.scss
  utils/gear-ui/src/assets/styles/_fonts.scss
  utils/gear-ui/src/assets/styles/fonts/prompt-300.woff2
  utils/gear-ui/src/assets/styles/fonts/prompt-400.woff2
  utils/gear-ui/src/assets/styles/fonts/prompt-500.woff2
  utils/gear-ui/src/assets/styles/fonts/prompt-600.woff2
  utils/gear-ui/src/assets/styles/fonts/prompt-700.woff2
  utils/gear-ui/src/assets/styles/fonts/syncopate-700.woff2
  utils/gear-ui/src/components/Button/Button.module.scss
  utils/gear-ui/src/components/Button/Button.tsx
  utils/gear-ui/src/components/Button/Button.types.ts
  utils/gear-ui/src/components/Checkbox/Checkbox.tsx
  utils/gear-ui/src/components/Input/Input.module.scss
  utils/gear-ui/src/components/Input/Input.tsx
  utils/gear-ui/src/components/Radio/Radio.tsx
  utils/gear-ui/src/components/Radio/RadioGroup.tsx
  utils/gear-ui/src/components/Radio/types.ts
  utils/gear-ui/src/components/Select/Select.module.scss
  utils/gear-ui/src/components/Select/Select.tsx
  utils/gear-ui/src/components/Textarea/Textarea.module.scss
  utils/gear-ui/src/components/Textarea/Textarea.tsx
  utils/gear-ui/src/index.ts
  utils/gear-ui/tsconfig.json
Labels: ui kit

#524 One more overload of GasSpent methods
  api/package-lock.json
  api/package.json
  api/src/GasSpent.ts
Labels: api

#529 Update generate programId
  api/package-lock.json
  api/package.json
  api/src/utils/generate.ts
  api/test/GasSpent.test.js
  api/test/GenerateId.test.js
  api/test/ProgramsInteract.test.js
  api/test/SubmitCode.test.js
  api/test/spec/programs/demo_meta.yaml
  api/test/spec/programs/demo_ping.yaml
  api/test/spec/programs/guestbook.yaml
Labels: api

#530 Bump @gear-js/api to 0.16.0
  website/frontend/package.json
  yarn.lock
Labels: frontend

#527 Add waitReady to data-storage service
  .github/workflows/e2e-tests.yaml
  package.json
  renovate.json
  website/api-gateway/src/json-rpc/handler.ts
  website/data-storage/package.json
  website/data-storage/src/errors/exceptions.filter.ts
  website/data-storage/src/main.ts
  website/data-storage/src/metadata/metadata.service.ts
  website/data-storage/src/programs/programs.service.ts
  website/events-listener/package.json
  website/events-listener/src/events.ts
  website/frontend/package.json
  website/test-balance/package.json
  website/tests/.gitignore
  website/tests/package.json
  website/tests/src/e2e/index.ts
  website/tests/src/e2e/programs.ts
  website/tests/src/e2e/request.ts
  website/tests/yarn.lock
  yarn.lock
Labels: backend

#534 Fix Generate IDs test
  api/test/GasSpent.test.js
  api/test/GenerateId.test.js
  api/test/demo_ping.opt.wasm
Labels: api, tests
