Repository gear-tech/gear-js, pull requests merged in 2022-12, with the labels that each got.

#1131 Add consumers parameter `noAck` in services
  idea/api-gateway/src/rabbitmq/init-rabbitmq.ts
  idea/data-storage/src/rabbitmq/rabbitmq.service.ts
  idea/test-balance/src/rabbitmq/consumer.ts
Labels: backend

#1137 Move gas limit field below value
  idea/frontend/src/widgets/messageForm/ui/MessageForm.tsx
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
Labels: frontend

#1139 Fix node version prefix display
  idea/frontend/src/hooks/useNodeVersion.tsx
  idea/frontend/src/widgets/menu/ui/Menu.tsx
Labels: frontend

#1141 Bump cga deps
  utils/create-gear-app/gear-app-template/package.json
  utils/create-gear-app/gear-app-template/template.json
  utils/create-gear-app/package-lock.json
  utils/create-gear-app/package.json
Labels: cga
