Repository gear-tech/gear-js, pull requests merged in 2022-06, with the labels that each got.

#682 Add message status display via new alerts
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/consts/alert.ts
  utils/gear-hooks/src/consts/index.ts
  utils/gear-hooks/src/context/Account.tsx
  utils/gear-hooks/src/context/Alert.tsx
  utils/gear-hooks/src/context/Api.tsx
  utils/gear-hooks/src/context/alert/Context.ts
  utils/gear-hooks/src/context/alert/const.ts
  utils/gear-hooks/src/context/alert/index.ts
  utils/gear-hooks/src/context/index.ts
  utils/gear-hooks/src/context/types.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/src/index.ts
  utils/gear-hooks/src/types/alert.ts
  utils/gear-hooks/src/types/index.ts
  utils/gear-hooks/src/utils/index.ts
Labels: hooks

#687 Fix send message hook alerts
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/consts/alert.ts
  utils/gear-hooks/src/context/Alert.tsx
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
Labels: hooks

#689 Add json file upload on payload form
  website/frontend/src/components/common/FormPayload/FormPayload.module.scss
  website/frontend/src/components/common/FormPayload/FormPayload.tsx
  website/frontend/src/components/common/FormPayload/Schema.ts
  website/frontend/src/components/common/FormPayload/helpers.ts
  website/frontend/src/components/common/FormPayload/types.ts
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/Schema.ts
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.module.scss
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/types.ts
  website/frontend/src/components/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/types.ts
  website/frontend/src/components/pages/State/State.tsx
  website/frontend/src/components/pages/State/types.ts
  website/frontend/src/consts.ts
  website/frontend/src/helpers.ts
Labels: frontend

#688 Add marketplace ipfs gateway address, change logo and favicon
  apps/marketplace/public/favicon.png
  apps/marketplace/src/assets/images/logo.svg
  apps/marketplace/src/components/listing/Listing.tsx
  apps/marketplace/src/consts.ts
  apps/marketplace/src/pages/create/Create.tsx
  apps/marketplace/src/pages/listing/Listing.tsx
  apps/marketplace/src/pages/listings/list/card/Card.tsx
  apps/marketplace/src/pages/me/list/card/Card.tsx
Labels: app

#693 Fix payload form logic
  website/frontend/src/components/common/FormPayload/children/EnumItem/EnumItem.tsx
  website/frontend/src/components/common/FormPayload/children/OptionItem/OptionItem.tsx
Labels: frontend

#696 add prod wf
  .github/workflows/CI-CD-All-dockers-k8s.yml
  .github/workflows/CI-CD-Prod-k8s.yml
Labels: prod-deploy

#694 Update wasm-compiler service
  website/wasm-compiler/.gitignore
  website/wasm-compiler/README.md
  website/wasm-compiler/nest-cli.json
  website/wasm-compiler/package.json
  website/wasm-compiler/src/app.controller.ts
  website/wasm-compiler/src/app.module.ts
  website/wasm-compiler/src/app.service.ts
  website/wasm-compiler/src/compiler.ts
  website/wasm-compiler/src/config/configuration.ts
  website/wasm-compiler/src/configuration.ts
  website/wasm-compiler/src/db.ts
  website/wasm-compiler/src/entity.ts
  website/wasm-compiler/src/main.ts
  website/wasm-compiler/src/server.ts
  website/wasm-compiler/src/storage/storage.module.ts
  website/wasm-compiler/src/storage/storage.service.ts
  website/wasm-compiler/src/storage/wasm.entity.ts
  website/wasm-compiler/src/util.ts
  website/wasm-compiler/tsconfig.json
  website/wasm-compiler/wasm-build/Dockerfile
  website/wasm-compiler/wasm-build/build-image.sh
  website/wasm-compiler/wasm-build/build.sh
  website/wasm-compiler/wasm-build/run-container.sh
  website/wasm-compiler/yarn.lock
Labels: backend

#697 Sf pr label
  .github/workflows/CI-CD-All-dockers-k8s.yml
  release-version
Labels: idea-release

#698 Update release-version
  release-version
Labels: idea-release

#690 Refactor send message page
  website/frontend/src/components/blocks/UploadMetaForm/UploadMetaForm.tsx
  website/frontend/src/components/common/Form/Form.module.scss
  website/frontend/src/components/common/Form/FormInput/FormInput.tsx
  website/frontend/src/components/common/Form/FormInput/index.ts
  website/frontend/src/components/common/Form/FormNumberFormat/FormNumberFormat.tsx
  website/frontend/src/components/common/Form/FormNumberFormat/index.ts
  website/frontend/src/components/common/Form/FormTextarea/FormTextarea.tsx
  website/frontend/src/components/common/Form/FormTextarea/index.ts
  website/frontend/src/components/common/Form/index.ts
  website/frontend/src/components/common/FormFields/FormFields.module.scss
  website/frontend/src/components/common/FormFields/FormNumberFormat/FormNumberFormat.module.scss
  website/frontend/src/components/common/FormPayload/FormPayload.module.scss
  website/frontend/src/components/common/FormPayload/children/VecItem/VecItem.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  website/frontend/src/components/pages/Send/Send.scss
  website/frontend/src/components/pages/Send/Send.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/MessageForm.scss
  website/frontend/src/components/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/children/PayloadType/PayloadType.module.scss
  website/frontend/src/components/pages/Send/children/MessageForm/children/PayloadType/PayloadType.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/styles.ts
Labels: frontend

#713 Bump marketplace @gear-js/api
  apps/marketplace/package.json
Labels: app

#692 New events
  api/CHANGELOG.md
  api/README.md
  api/package-lock.json
  api/package.json
  api/src/DebugMode.ts
  api/src/GearApi.ts
  api/src/events-types/Event.ts
  api/src/events-types/EventData.ts
  api/src/events-types/index.ts
  api/src/events/Events.ts
  api/src/events/GearEventData.ts
  api/src/events/GearEvents.ts
  api/src/events/index.ts
  api/src/events/methods.ts
  api/src/events/types.ts
  api/src/index.ts
  api/src/types/gear-core/common.ts
  api/src/types/gear-core/index.ts
  api/src/types/gear-core/message.ts
  api/src/types/gear-core/program.ts
  api/src/types/gear-core/user.ts
  api/src/types/index.ts
  api/src/types/interfaces/events.ts
  api/src/types/interfaces/program.ts
  api/src/types/program.ts
  api/test/DebugMode.test.ts
  api/test/GasSpent.test.ts
  api/test/ProgramsInteract.test.ts
  api/test/State.test.ts
  api/test/SubmitCode.test.ts
  api/test/Waitlist.test.ts
  api/test/spec/state/demo_meta.yaml
  api/test/spec/submit_code/demo_sum.yaml
  api/test/utilsFunctions.ts
  api/test/wasm/timestamp.meta.wasm
  api/test/wasm/timestamp.opt.wasm
Labels: api

#714 Add ref forwarding to UI Kit form elements
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/components/Button/Button.test.tsx
  utils/gear-ui/src/components/Button/Button.tsx
  utils/gear-ui/src/components/Checkbox/Checkbox.test.tsx
  utils/gear-ui/src/components/Checkbox/Checkbox.tsx
  utils/gear-ui/src/components/FileInput/FileInput.tsx
  utils/gear-ui/src/components/Input/Input.module.scss
  utils/gear-ui/src/components/Input/Input.test.tsx
  utils/gear-ui/src/components/Input/Input.tsx
  utils/gear-ui/src/components/Input/children/Icon/Icon.module.scss
  utils/gear-ui/src/components/Input/children/Icon/Icon.test.tsx
  utils/gear-ui/src/components/Input/children/Icon/Icon.tsx
  utils/gear-ui/src/components/Input/children/Text/Text.module.scss
  utils/gear-ui/src/components/Input/children/Text/Text.test.tsx
  utils/gear-ui/src/components/Input/children/Text/Text.tsx
  utils/gear-ui/src/components/Input/children/index.ts
  utils/gear-ui/src/components/Radio/Radio.test.tsx
  utils/gear-ui/src/components/Radio/Radio.tsx
  utils/gear-ui/src/components/Select/Select.test.tsx
  utils/gear-ui/src/components/Select/Select.tsx
  utils/gear-ui/src/components/Textarea/Textarea.test.tsx
  utils/gear-ui/src/components/Textarea/Textarea.tsx
Labels: ui kit

#718 Update events on backend
  website/data-storage/package.json
  website/data-storage/src/consumer/consumer.controller.ts
  website/data-storage/src/consumer/consumer.service.ts
  website/data-storage/src/entities/message.entity.ts
  website/data-storage/src/messages/messages.service.ts
  website/events-listener/package.json
  website/events-listener/src/events.ts
  website/interfaces/src/add-events.ts
  website/interfaces/src/api-requests.ts
  website/interfaces/src/common.ts
  website/interfaces/src/index.ts
  website/interfaces/src/message.ts
  website/interfaces/src/program.ts
  website/tests/package.json
  website/tests/src/e2e/messages.ts
  website/tests/src/prepare/check.ts
  website/tests/src/prepare/send-message.ts
  website/tests/src/prepare/subscriptions.ts
  website/tests/src/prepare/upload-programs.ts
  website/tests/yarn.lock
  yarn.lock
Labels: backend

#716 Udpate api-gateway service from nest.js to express.js
  website/api-gateway/README.md
  website/api-gateway/nest-cli.json
  website/api-gateway/package.json
  website/api-gateway/src/api-gateway/api-gateway.controller.ts
  website/api-gateway/src/api-gateway/api-gateway.module.ts
  website/api-gateway/src/api-gateway/api-gateway.service.ts
  website/api-gateway/src/app.module.ts
  website/api-gateway/src/common/kafka-producer-topics.ts
  website/api-gateway/src/domain/api-gateway.service.ts
  website/api-gateway/src/healthcheck/healthcheck.controller.ts
  website/api-gateway/src/healthcheck/healthcheck.module.ts
  website/api-gateway/src/helpers/kafka-event.handler.ts
  website/api-gateway/src/helpers/logger.ts
  website/api-gateway/src/json-rpc/handler.ts
  website/api-gateway/src/json-rpc/interface.ts
  website/api-gateway/src/kafka/kafka-event-map.ts
  website/api-gateway/src/kafka/kafka-events.ts
  website/api-gateway/src/kafka/kafka.ts
  website/api-gateway/src/kafka/types/index.ts
  website/api-gateway/src/main.ts
  website/api-gateway/src/routes/api-gateway/api-gateway.router.ts
  website/api-gateway/src/routes/healthcheck/healthcheck.router.ts
  website/api-gateway/src/utils/get-response.ts
  website/api-gateway/src/utils/index.ts
  website/api-gateway/src/utils/transform-to-str.ts
  website/api-gateway/src/utils/verify-captcha.ts
  website/api-gateway/test/app.e2e-spec.ts
  website/api-gateway/test/jest-e2e.json
  website/api-gateway/tsconfig.build.json
  website/data-storage/src/consumer/consumer.controller.ts
  website/interfaces/src/api-requests.ts
  website/interfaces/src/api-response.ts
  yarn.lock
Labels: backend

#683 Add tests for type payload form
  website/frontend/src/components/common/FormPayload/FormPayload.tsx
  website/frontend/src/tests/FormPayload/FormPayload.test.tsx
  website/frontend/src/tests/FormPayload/inputData.ts
  website/frontend/src/tests/FormPayload/types.ts
Labels: frontend

#725 Throw error if program doesn't exist in the storage
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/Blocks.ts
  api/src/Claim.ts
  api/src/State.ts
  api/src/Storage.ts
  api/src/errors/claim.errors.ts
  api/src/errors/gear.errors.ts
  api/src/errors/index.ts
  api/src/errors/state.errors.ts
  api/test/State.test.ts
Labels: api

#731 Add useSendMessage options, useReadState generic type and loader, minor ui fixes
  utils/create-gear-app/gear-app-template/package.json
  utils/create-gear-app/gear-app-template/template.json
  utils/create-gear-app/gear-app-template/template/src/assets/images/icons/gear.svg
  utils/create-gear-app/gear-app-template/template/src/assets/styles/_shared.scss
  utils/create-gear-app/gear-app-template/template/src/components/loaders/api-loader/ApiLoader.module.scss
  utils/create-gear-app/gear-app-template/template/src/components/loaders/api-loader/ApiLoader.tsx
  utils/create-gear-app/gear-app-template/template/src/components/loaders/api-loader/index.ts
  utils/create-gear-app/gear-app-template/template/src/components/loaders/index.ts
  utils/create-gear-app/gear-app-template/template/src/components/loaders/loader/Loader.module.scss
  utils/create-gear-app/gear-app-template/template/src/components/loaders/loader/Loader.tsx
  utils/create-gear-app/gear-app-template/template/src/components/loaders/loader/index.ts
  utils/create-gear-app/gear-app-template/template/src/hocs/index.tsx
  utils/create-gear-app/gear-app-template/template/src/utils/index.ts
  utils/create-gear-app/package-lock.json
  utils/create-gear-app/package.json
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useMetadata.ts
  utils/gear-hooks/src/hooks/api/useReadState.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/src/index.ts
  utils/gear-hooks/src/utils/index.ts
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/components/FileInput/FileInput.tsx
Labels: ui kit, cga, hooks

#711 Refactor state page
  website/frontend/src/components/App/App.tsx
  website/frontend/src/components/blocks/PageHeader/PageHeader.module.scss
  website/frontend/src/components/blocks/PageHeader/PageHeader.tsx
  website/frontend/src/components/blocks/PageHeader/index.ts
  website/frontend/src/components/common/Form/Form.module.scss
  website/frontend/src/components/common/Form/FormPayload/FormPayload.module.scss
  website/frontend/src/components/common/Form/FormPayload/FormPayload.tsx
  website/frontend/src/components/common/Form/FormPayload/PayloadStructure/PayloadStructure.tsx
  website/frontend/src/components/common/Form/FormPayload/PayloadStructure/index.ts
  website/frontend/src/components/common/Form/FormPayload/Schema.ts
  website/frontend/src/components/common/Form/FormPayload/children/ArrayItem/ArrayItem.tsx
  website/frontend/src/components/common/Form/FormPayload/children/ArrayItem/index.ts
  website/frontend/src/components/common/Form/FormPayload/children/EnumItem/EnumItem.tsx
  website/frontend/src/components/common/Form/FormPayload/children/EnumItem/index.ts
  website/frontend/src/components/common/Form/FormPayload/children/OptionItem/OptionItem.tsx
  website/frontend/src/components/common/Form/FormPayload/children/OptionItem/const.ts
  website/frontend/src/components/common/Form/FormPayload/children/OptionItem/index.ts
  website/frontend/src/components/common/Form/FormPayload/children/PrimitiveItem/PrimitiveItem.tsx
  website/frontend/src/components/common/Form/FormPayload/children/PrimitiveItem/index.ts
  website/frontend/src/components/common/Form/FormPayload/children/StructItem/StructItem.tsx
  website/frontend/src/components/common/Form/FormPayload/children/StructItem/index.ts
  website/frontend/src/components/common/Form/FormPayload/children/TupleItem/TupleItem.tsx
  website/frontend/src/components/common/Form/FormPayload/children/TupleItem/index.ts
  website/frontend/src/components/common/Form/FormPayload/children/VecItem/VecItem.tsx
  website/frontend/src/components/common/Form/FormPayload/children/VecItem/index.ts
  website/frontend/src/components/common/Form/FormPayload/helpers.ts
  website/frontend/src/components/common/Form/FormPayload/index.ts
  website/frontend/src/components/common/Form/FormPayload/types.ts
  website/frontend/src/components/common/Form/index.ts
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/Schema.ts
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/types.ts
  website/frontend/src/components/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/types.ts
  website/frontend/src/components/pages/State/State.module.scss
  website/frontend/src/components/pages/State/State.tsx
  website/frontend/src/components/pages/State/index.ts
  website/frontend/src/components/pages/State/types.ts
  website/frontend/src/helpers.ts
  website/frontend/src/routes.ts
  website/frontend/src/tests/FormPayload/FormPayload.test.tsx
  website/frontend/src/tests/FormPayload/inputData.ts
  website/frontend/src/tests/FormPayload/types.ts
Labels: frontend

#735 Diverse marketplace nft contract env variable
  apps/marketplace/.env.example
  apps/marketplace/src/consts.ts
Labels: app

#743 Update calculate gas logic
  api/CHANGELOG.md
  api/README.md
  api/package-lock.json
  api/package.json
  api/src/Gas.ts
  api/src/Program.ts
  api/src/default/rpc.json
  api/src/default/types-program.json
  api/src/index.ts
  api/src/types/gear-core/gas.ts
  api/src/types/gear-core/index.ts
  api/test/Gas.test.ts
  api/test/GasSpent.test.ts
  api/test/programs/Makefile
  api/test/programs/test-gas/Cargo.toml
  api/test/programs/test-gas/build.rs
  api/test/programs/test-gas/src/lib.rs
  api/test/utilsFunctions.ts
  api/test/wasm/test_gas.meta.wasm
  api/test/wasm/test_gas.opt.wasm
Labels: api, breaking-changes

#734 Remove manual payload
  website/frontend/src/components/blocks/UploadMeta/UploadMeta.module.scss
  website/frontend/src/components/blocks/UploadMeta/UploadMeta.tsx
  website/frontend/src/components/blocks/UploadMeta/const.ts
  website/frontend/src/components/blocks/UploadMeta/helpers.ts
  website/frontend/src/components/blocks/UploadMeta/index.ts
  website/frontend/src/components/blocks/UploadMeta/types.ts
  website/frontend/src/components/blocks/UploadMetaForm/UploadMetaForm.module.scss
  website/frontend/src/components/blocks/UploadMetaForm/UploadMetaForm.tsx
  website/frontend/src/components/blocks/UploadMetaForm/model/const.ts
  website/frontend/src/components/blocks/UploadMetaForm/model/types.ts
  website/frontend/src/components/common/Form/Form.module.scss
  website/frontend/src/components/common/Form/FormPayloadType/FormPayloadType.tsx
  website/frontend/src/components/common/Form/FormPayloadType/index.ts
  website/frontend/src/components/common/Form/FormText/FormText.tsx
  website/frontend/src/components/common/Form/FormText/index.ts
  website/frontend/src/components/common/Form/index.ts
  website/frontend/src/components/common/MetaFile/MetaFile.module.scss
  website/frontend/src/components/common/MetaFile/MetaFile.tsx
  website/frontend/src/components/common/MetaFile/index.ts
  website/frontend/src/components/common/MetaSwitch/MetaSwitch.module.scss
  website/frontend/src/components/common/MetaSwitch/MetaSwitch.tsx
  website/frontend/src/components/common/MetaSwitch/index.ts
  website/frontend/src/components/pages/Meta/Meta.tsx
  website/frontend/src/components/pages/Meta/children/UploadMetaForm/Shema.ts
  website/frontend/src/components/pages/Meta/children/UploadMetaForm/UploadMetaForm.tsx
  website/frontend/src/components/pages/Meta/children/UploadMetaForm/index.ts
  website/frontend/src/components/pages/Meta/children/UploadMetaForm/types.ts
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/Schema.ts
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.module.scss
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/const.ts
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/types.ts
  website/frontend/src/components/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/children/PayloadType/PayloadType.module.scss
  website/frontend/src/components/pages/Send/children/MessageForm/children/PayloadType/index.ts
  website/frontend/src/components/pages/State/State.module.scss
  website/frontend/src/components/pages/State/State.tsx
  website/frontend/src/helpers.ts
  website/frontend/src/services/ApiService.ts
  website/frontend/src/types/program.ts
Labels: frontend

#748 Fix react error
  website/frontend/src/components/blocks/UploadMeta/UploadMeta.tsx
Labels: frontend

#746 Update calculate gas logic
  website/frontend/package.json
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  website/frontend/src/helpers.ts
  yarn.lock
Labels: frontend

#753 Update events data
  api/CHANGELOG.md
  api/README.md
  api/package-lock.json
  api/package.json
  api/src/DebugMode.ts
  api/src/GearApi.ts
  api/src/events/Events.ts
  api/src/events/GearEventData.ts
  api/src/events/GearEvents.ts
  api/src/types/gear-core/message.ts
  api/test/Gas.test.ts
  api/test/ProgramsInteract.test.ts
  api/test/SubmitCode.test.ts
  api/test/Waitlist.test.ts
  api/test/testSequencer.js
  api/test/utilsFunctions.ts
Labels: api

#754 Update Transfer balance
  api/CHANGELOG.md
  api/README.md
  api/package-lock.json
  api/package.json
  api/src/Balance.ts
  api/src/events/Events.ts
  api/src/events/GearEventData.ts
  api/src/events/GearEvents.ts
  api/test/GearApi.test.ts
  api/test/Transfer.test.ts
  api/test/testSequencer.js
Labels: api

#758 Update @gear-js/test-balance with new features @gear-js/api (transfer )
  website/test-balance/.eslintrc.js
  website/test-balance/package.json
  website/test-balance/src/domain/gear.service.ts
  website/test-balance/src/domain/gear/gear.service.ts
  website/test-balance/src/domain/gear/types.ts
  website/test-balance/src/kafka/kafka.consumer.ts
  website/test-balance/src/main.ts
  yarn.lock
Labels: backend

#759 Refactor program page
  website/frontend/src/components/common/Form/Form.module.scss
  website/frontend/src/components/common/Form/FormText/FormText.tsx
  website/frontend/src/components/pages/Program/Program.module.scss
  website/frontend/src/components/pages/Program/Program.tsx
  website/frontend/src/components/pages/Program/children/MetaData/MetaData.module.scss
  website/frontend/src/components/pages/Program/children/MetaData/MetaData.tsx
  website/frontend/src/components/pages/Program/children/ProgramInfo/MetaData/MetaData.module.scss
  website/frontend/src/components/pages/Program/children/ProgramInfo/MetaData/MetaData.tsx
  website/frontend/src/components/pages/Program/children/ProgramInfo/MetaData/children/MetaField/MetaField.module.scss
  website/frontend/src/components/pages/Program/children/ProgramInfo/MetaData/children/MetaField/MetaField.tsx
  website/frontend/src/components/pages/Program/children/ProgramInfo/ProgramInfo.module.scss
  website/frontend/src/components/pages/Program/children/ProgramInfo/ProgramInfo.tsx
  website/frontend/src/components/pages/Program/children/ProgramInfo/index.ts
  website/frontend/src/components/pages/Program/types.ts
  website/frontend/src/routes.ts
Labels: frontend

#749 Refactor @gear-js/data-storage
  website/api-gateway/package.json
  website/data-storage/README.md
  website/data-storage/package.json
  website/data-storage/src/app.module.ts
  website/data-storage/src/common/mock/message/message-db.mock.ts
  website/data-storage/src/common/mock/message/message-repository.mock.ts
  website/data-storage/src/common/mock/metadata/metadata-db.mock.ts
  website/data-storage/src/common/mock/metadata/metadata-repository.mock.ts
  website/data-storage/src/common/mock/program/program-db.mock.ts
  website/data-storage/src/common/mock/program/program-repository.mock.ts
  website/data-storage/src/consumer/consumer.module.ts
  website/data-storage/src/consumer/consumer.service.ts
  website/data-storage/src/healthcheck/healthcheck.module.ts
  website/data-storage/src/main.ts
  website/data-storage/src/message/message.module.ts
  website/data-storage/src/message/message.repo.ts
  website/data-storage/src/message/message.service.ts
  website/data-storage/src/messages/messages.module.ts
  website/data-storage/src/messages/messages.service.ts
  website/data-storage/src/metadata/metadata.module.ts
  website/data-storage/src/metadata/metadata.repo.ts
  website/data-storage/src/metadata/metadata.service.ts
  website/data-storage/src/program/program.module.ts
  website/data-storage/src/program/program.repo.ts
  website/data-storage/src/program/program.service.ts
  website/data-storage/src/program/types.ts
  website/data-storage/src/programs/programs.module.ts
  website/data-storage/src/programs/programs.service.ts
  website/data-storage/src/utils.ts
  website/data-storage/src/utils/index.ts
  website/data-storage/src/utils/sleep.ts
  website/data-storage/src/utils/sql-where-with-ilike.ts
  website/data-storage/test/app.e2e-spec.ts
  website/data-storage/test/consumer.service.spec.ts
  website/data-storage/test/errors.spec.ts
  website/data-storage/test/message.spec.ts
  website/data-storage/test/program.spec.ts
  website/data-storage/tests/jest-e2e.json
  website/data-storage/tests/message/message.service.spec.ts
  website/data-storage/tests/program/program.service.spec.ts
  website/data-storage/tsconfig.build.json
  website/frontend/src/components/common/Form/FormPayload/FormPayload.module.scss
  yarn.lock
Labels: backend, tests

#761 Update events in @gear-js/event-listener with last update @gear-js/api
  website/common/src/gear/gear-events.ts
  website/common/src/gear/index.ts
  website/common/src/index.ts
  website/common/src/interfaces/program.ts
  website/events-listener/.eslintrc.js
  website/events-listener/Dockerfile
  website/events-listener/package.json
  website/events-listener/src/config/configuration.ts
  website/events-listener/src/events.ts
  website/events-listener/src/gear-events/event-handlers.ts
  website/events-listener/src/gear-events/index.ts
  website/events-listener/src/healthcheck.ts
  website/events-listener/src/index.ts
  website/events-listener/src/kafka/producer.ts
  website/events-listener/src/main.ts
  website/events-listener/src/routes/healthcheck/healthcheck.router.ts
  website/events-listener/tsconfig.json
  yarn.lock
Labels: backend

#765 Fix link path to send message page
  website/frontend/src/components/pages/Program/children/ProgramInfo/ProgramInfo.tsx
Labels: frontend

#766 Fix upload meta form
  website/frontend/src/components/pages/Meta/children/UploadMetaForm/UploadMetaForm.tsx
Labels: frontend

#767 Add state changes subscription
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useReadState.ts
Labels: hooks

#770 Fix GasInfo interface and Gas tests
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/Message.ts
  api/src/types/gear-core/gas.ts
  api/test/Gas.test.ts
Labels: api

#769 Fix loss connection in events-listener
  website/data-storage/package.json
  website/data-storage/src/consumer/consumer.service.ts
  website/events-listener/src/gear/connection.ts
  website/events-listener/src/gear/event-handlers.ts
  website/events-listener/src/gear/index.ts
  website/events-listener/src/gear/listener.ts
  website/events-listener/src/kafka/producer.ts
  website/events-listener/src/lifecycle.ts
  website/events-listener/src/main.ts
  website/frontend/package.json
  yarn.lock
Labels: backend

#775 Fix marketplace gas calculation
  apps/marketplace/src/hooks/api/useMessage.ts
Labels: app

#773 Add alert component, heading styles and resets
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/assets/styles/_headings.scss
  utils/gear-ui/src/assets/styles/_mixins.scss
  utils/gear-ui/src/assets/styles/_resets.scss
  utils/gear-ui/src/assets/styles/_typography.scss
  utils/gear-ui/src/assets/styles/_variables.scss
  utils/gear-ui/src/components/Alert/Alert.module.scss
  utils/gear-ui/src/components/Alert/Alert.tsx
  utils/gear-ui/src/components/Alert/Alert.types.ts
  utils/gear-ui/src/components/Alert/images/x.svg
  utils/gear-ui/src/components/Button/Button.module.scss
  utils/gear-ui/src/components/Button/Button.test.tsx
  utils/gear-ui/src/components/Button/Button.tsx
  utils/gear-ui/src/components/Button/Button.types.ts
  utils/gear-ui/src/components/Checkbox/Checkbox.module.scss
  utils/gear-ui/src/components/Input/Input.module.scss
  utils/gear-ui/src/components/Radio/Radio.module.scss
  utils/gear-ui/src/components/Select/Select.module.scss
  utils/gear-ui/src/components/Textarea/Textarea.module.scss
  utils/gear-ui/src/index.ts
Labels: ui kit

#756 Add tests for send message page
  website/frontend/src/components/common/Spinner/Spinner.tsx
  website/frontend/src/components/pages/Send/Send.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/services/ServerRPCRequestService.ts
  website/frontend/src/tests/Header.test.tsx
  website/frontend/src/tests/const.ts
  website/frontend/src/tests/mocks/handlers.ts
  website/frontend/src/tests/mocks/handlers/const.ts
  website/frontend/src/tests/mocks/handlers/handlers.ts
  website/frontend/src/tests/mocks/handlers/helpers.ts
  website/frontend/src/tests/mocks/handlers/index.ts
  website/frontend/src/tests/mocks/hooks/const.ts
  website/frontend/src/tests/mocks/hooks/hooks.ts
  website/frontend/src/tests/mocks/hooks/index.ts
  website/frontend/src/tests/pages/Send/Send.test.tsx
Labels: frontend

#776 Implement database migrations @gear-js/data-storage
  website/data-storage/Dockerfile
  website/data-storage/README.md
  website/data-storage/package.json
  website/data-storage/src/app.module.ts
  website/data-storage/src/data-source.ts
  website/data-storage/src/database/migrations/1656439725137-init_meta_message_program.ts
  website/data-storage/src/main.ts
  yarn.lock
Labels: backend

#768 Refactor @gear-js/test balance
  .nvmrc
  website/api-gateway/src/kafka/types/index.ts
  website/api-gateway/src/routes/api-gateway/api-gateway.router.ts
  website/api-gateway/src/services/api-gateway.service.ts
  website/events-listener/README.md
  website/test-balance/package.json
  website/test-balance/src/config/configuration.ts
  website/test-balance/src/database/db-create-connection.ts
  website/test-balance/src/database/db.ts
  website/test-balance/src/domain/gear/gear.service.ts
  website/test-balance/src/gear/index.ts
  website/test-balance/src/gear/types.ts
  website/test-balance/src/kafka/kafka.consumer.ts
  website/test-balance/src/kafka/kafka.ts
  website/test-balance/src/main.ts
  website/test-balance/src/repositories/transfer.repository.ts
  website/test-balance/src/services/transfer/transfer.service.ts
  yarn.lock
Labels: backend
