Repository gear-tech/gear-js, pull requests merged in 2022-04, with the labels that each got.

#535 Use blocktimestamp in readState
  api/package-lock.json
  api/package.json
  api/src/Blocks.ts
  api/src/State.ts
  api/src/wasm/importObj.ts
  api/src/wasm/readState.ts
  api/test/ProgramsInteract.test.js
  api/test/State.test.js
  api/test/spec/state/demo_meta.yaml
  api/test/spec/state/timestamp.meta.wasm
  api/test/spec/state/timestamp.opt.wasm
Labels: api

#542 Change static_pages type
  api/package-lock.json
  api/package.json
  api/src/Storage.ts
  api/src/default/types-program.json
  api/src/interfaces/program.ts
Labels: api

#541 Move sass modules to root folder
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/rollup.config.js
  website/frontend/package.json
  yarn.lock
Labels: ui kit

#543 Fix sass modules root folder
  utils/gear-ui/.gitignore
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
Labels: ui kit

#547 Bump @polkadot/api to 7.15.1
  api/package-lock.json
  api/package.json
  api/test/CreateType.test.js
  api/test/DebugMode.test.js
  api/test/GasSpent.test.js
  api/test/ProgramsInteract.test.js
  api/test/State.test.js
  api/test/SubmitCode.test.js
  api/test/config.js
Labels: api

#549 Bump @gear-js/api and @polkadot/api
  utils/meta-cli/package.json
  utils/meta-cli/yarn.lock
  website/data-storage/package.json
  website/events-listener/package.json
  website/frontend/package.json
  website/test-balance/package.json
  website/tests/package.json
  yarn.lock
Labels: dependencies

#551 Update backend dependencies
  website/api-gateway/package.json
  website/data-storage/package.json
  website/data-storage/src/messages/messages.service.ts
  website/data-storage/src/metadata/metadata.service.ts
  website/data-storage/src/programs/programs.service.ts
  website/events-listener/package.json
  website/test-balance/package.json
  website/test-balance/src/db.ts
  website/wasm-compiler/package.json
  yarn.lock
Labels: dependencies, backend

#546 Add modal
  utils/gear-ui/.gitignore
  utils/gear-ui/jest.config.js
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/rollup.config.js
  utils/gear-ui/src/assets/styles/_mixins.scss
  utils/gear-ui/src/components/Button/Button.module.scss
  utils/gear-ui/src/components/Button/Button.test.tsx
  utils/gear-ui/src/components/Button/Button.tsx
  utils/gear-ui/src/components/Modal/Modal.module.scss
  utils/gear-ui/src/components/Modal/Modal.test.tsx
  utils/gear-ui/src/components/Modal/Modal.tsx
  utils/gear-ui/src/components/Modal/images/x.svg
  utils/gear-ui/src/fileMock.ts
  utils/gear-ui/src/global.d.ts
  utils/gear-ui/src/index.ts
Labels: ui kit

#557 Add styles export
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/rollup.config.js
  utils/gear-ui/src/components/Button/Button.tsx
  utils/gear-ui/src/components/Button/Button.types.ts
  utils/gear-ui/src/components/Checkbox/Checkbox.tsx
  utils/gear-ui/src/components/Input/Input.tsx
  utils/gear-ui/src/components/Modal/Modal.module.scss
  utils/gear-ui/src/components/Modal/Modal.test.tsx
  utils/gear-ui/src/components/Modal/Modal.tsx
  utils/gear-ui/src/components/Radio/Radio.tsx
  utils/gear-ui/src/components/Radio/RadioGroup.tsx
  utils/gear-ui/src/components/Select/Select.tsx
  utils/gear-ui/src/components/Textarea/Textarea.tsx
  utils/gear-ui/src/index.ts
Labels: ui kit

#544 Update `mailbox.read` and add `small pages`
  api/README.md
  api/package-lock.json
  api/package.json
  api/src/Mailbox.ts
  api/src/default/types-program.json
  api/src/interfaces/augment-api-query.ts
  api/src/interfaces/gear-api.ts
  api/src/interfaces/index.ts
  api/src/interfaces/mailbox.ts
  api/src/interfaces/message.ts
  api/src/interfaces/program.ts
  api/src/wasm/utils.ts
  api/test/ProgramsInteract.test.js
  api/test/utilsFunctions.js
Labels: api

#564 Make meta or typeOfPayload optional in gasSpent methods
  api/package-lock.json
  api/package.json
  api/src/GasSpent.ts
Labels: api

#566 Add block prop to button
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/components/Button/Button.module.scss
  utils/gear-ui/src/components/Button/Button.test.tsx
  utils/gear-ui/src/components/Button/Button.tsx
  utils/gear-ui/src/components/Button/Button.types.ts
Labels: ui kit

#567 Fix test-balance and data-storage responses
  website/api-gateway/src/config/configuration.ts
  website/api-gateway/src/json-rpc/handler.ts
  website/data-storage/src/consumer/consumer.service.ts
  website/data-storage/src/messages/messages.service.ts
  website/data-storage/src/metadata/metadata.service.ts
  website/data-storage/src/middleware/formResponse.ts
  website/data-storage/src/programs/programs.service.ts
  website/data-storage/src/utils.ts
  website/test-balance/src/gear.ts
  website/test-balance/src/kafka.consumer.ts
Labels: backend

#565 Refactor @gear-js/api
  api/package-lock.json
  api/package.json
  api/rollup.config.js
  api/src/Balance.ts
  api/src/Claim.ts
  api/src/Code.ts
  api/src/DebugMode.ts
  api/src/Events.ts
  api/src/GasSpent.ts
  api/src/GearApi.ts
  api/src/Keyring.ts
  api/src/Mailbox.ts
  api/src/Message.ts
  api/src/MessageReply.ts
  api/src/Program.ts
  api/src/State.ts
  api/src/Storage.ts
  api/src/Transaction.ts
  api/src/create-type/CreateType.ts
  api/src/create-type/utils.ts
  api/src/events-types/Event.ts
  api/src/events-types/EventData.ts
  api/src/events-types/index.ts
  api/src/index.ts
  api/src/interfaces/augment-api-rpc.ts
  api/src/interfaces/augment-api-tx.ts
  api/src/interfaces/mailbox.ts
  api/src/types/common.ts
  api/src/types/ids.ts
  api/src/types/index.ts
  api/src/types/interfaces/debug.ts
  api/src/types/interfaces/events.ts
  api/src/types/interfaces/gear-api.ts
  api/src/types/interfaces/gear-type.ts
  api/src/types/interfaces/index.ts
  api/src/types/interfaces/keyring.ts
  api/src/types/interfaces/message.ts
  api/src/types/interfaces/metadata.ts
  api/src/types/interfaces/program.ts
  api/src/types/interfaces/system.ts
  api/src/types/maibox.ts
  api/src/types/payload.ts
  api/src/types/transaction.ts
  api/src/utils/generate.ts
  api/src/wasm/WasmMeta.ts
  api/src/wasm/readState.ts
  api/src/wasm/utils.ts
Labels: api

#582 Support create type structure from complex types
  api/babel.config.json
  api/jest.config.js
  api/package-lock.json
  api/package.json
  api/src/create-type/payload-type-structure.ts
  api/test/CreateType.test.ts
  api/test/CreateTypeStructure.test.ts
  api/test/DebugMode.test.ts
  api/test/ExtrinsicError.test.ts
  api/test/GasSpent.test.ts
  api/test/GearApi.test.ts
  api/test/GenerateId.test.ts
  api/test/ProgramsInteract.test.ts
  api/test/State.test.ts
  api/test/SubmitCode.test.ts
  api/test/config.js
  api/test/config.ts
  api/test/utilsFunctions.js
  api/test/utilsFunctions.ts
  api/tsconfig.cjs.json
  api/tsconfig.esm.json
  api/tsconfig.json
  api/tsconfig.types.json
Labels: api

#585 Bump @gear-js/api
  website/frontend/package.json
  yarn.lock
Labels: frontend

#586 Fix setting namespaces
  api/package-lock.json
  api/package.json
  api/src/create-type/utils.ts
  api/test/CreateTypeStructure.test.ts
Labels: api

#587 Bump @gear-js/api
  website/frontend/package.json
  yarn.lock
Labels: frontend

#590 Rename `dest` to `destination`
  api/package-lock.json
  api/package.json
  api/src/default/types-message.json
  api/src/events-types/EventData.ts
  api/src/types/interfaces/debug.ts
  api/src/types/interfaces/message.ts
  api/test/DebugMode.test.ts
Labels: api

#592 Find typename in registry
  api/package-lock.json
  api/package.json
  api/src/create-type/utils.ts
  api/src/types/interfaces/debug.ts
  api/test/CreateType.test.ts
Labels: api

#599 Create type structure ignoring type name letter case
  api/package-lock.json
  api/package.json
  api/src/create-type/payload-type-structure.ts
  api/test/CreateType.test.ts
  api/test/CreateTypeStructure.test.ts
Labels: api

#597 Bump @gear-js/api and @polkadot/api
  website/data-storage/package.json
  website/events-listener/package.json
  website/events-listener/src/events.ts
  website/frontend/package.json
  website/test-balance/package.json
  website/tests/package.json
  yarn.lock
Labels: frontend, dependencies, backend

#600 add: listen to DatabaseWiped event
  website/data-storage/src/consumer/consumer.service.ts
  website/data-storage/src/entities/program.entity.ts
  website/data-storage/src/messages/messages.service.ts
  website/data-storage/src/programs/programs.service.ts
  website/events-listener/src/events.ts
Labels: backend

#604 add CI\CD self-hosted runner
  .github/workflows/CI-CD_self-hosted-runner.yaml
  docker/actions-runner/Dockerfile
  docker/actions-runner/startup.sh
  k8s/actions-runner/actions-runner-system.yaml
  k8s/actions-runner/actions-runner.yml
Labels: DevOps

#605 Add e2e-tests on self-hosted runner
  .github/workflows/e2e-tests_on_self-hosted.yaml
  .github/workflows/get-github-context.yaml
Labels: DevOps

#610 Fix api tests
  api/test/ProgramsInteract.test.ts
  api/test/State.test.ts
  api/test/spec/programs/demo_ping.yaml
  api/test/spec/programs/guestbook.yaml
Labels: api, tests

#608 Display reason of InitFailure
  website/frontend/src/services/ApiService.tsx
Labels: frontend

#611 feature: add name, version values on sidebar btn
  website/frontend/src/components/blocks/Header/children/Menu/Menu.module.scss
  website/frontend/src/components/blocks/Header/children/Menu/Menu.tsx
Labels: frontend
