Repository gear-tech/gear-js, pull requests merged in 2022-08, with the labels that each got.

#901 Support `create_program` and `upload_program` extrinsics
  api/CHANGELOG.md
  api/examples/src/message/sendMessage.ts
  api/examples/src/program/submitCode.ts
  api/examples/src/program/uploadProgram.ts
  api/package-lock.json
  api/package.json
  api/src/Balance.ts
  api/src/Claim.ts
  api/src/Code.ts
  api/src/GearApi.ts
  api/src/Message.ts
  api/src/MessageReply.ts
  api/src/Program.ts
  api/src/Transaction.ts
  api/src/default/types-program.json
  api/src/index.ts
  api/src/types/interfaces/gas.ts
  api/src/types/interfaces/message/extrinsic.ts
  api/src/types/interfaces/message/index.ts
  api/src/types/interfaces/program/extrinsic.ts
  api/src/types/interfaces/program/index.ts
  api/src/utils/generate.ts
  api/test/CreateType.test.ts
  api/test/DebugMode.test.ts
  api/test/ExtrinsicError.test.ts
  api/test/Gas.test.ts
  api/test/GenerateId.test.ts
  api/test/Message.test.ts
  api/test/Program.test.ts
  api/test/State.test.ts
  api/test/SubmitCode.test.ts
  api/test/Waitlist.test.ts
  api/test/programs/test-gas/src/lib.rs
  api/test/wasm/test_gas.meta.wasm
  api/test/wasm/test_gas.opt.wasm
  api/test/wasm/test_mailbox.meta.wasm
  api/test/wasm/test_mailbox.opt.wasm
  api/test/wasm/test_syscall_in_state.meta.wasm
  api/test/wasm/test_syscall_in_state.opt.wasm
  api/test/wasm/test_waitlist.opt.wasm
Labels: api

#909 Update `e2e` tests by new version `@gear-js/api`
  idea/data-storage/package.json
  idea/events-listener/package.json
  idea/test-balance/package.json
  idea/tests/package.json
  idea/tests/src/prepare/send-message.ts
  idea/tests/src/prepare/upload-collection-code.ts
  idea/tests/src/prepare/upload-programs.ts
  yarn.lock
Labels: backend

#912 Bump the gear/api (idea)
  idea/frontend/package.json
  idea/frontend/src/components/blocks/MessageForm/MessageForm.tsx
  idea/frontend/src/hooks/useCodeUpload.tsx
  idea/frontend/src/hooks/useMessageSend.ts
  idea/frontend/src/hooks/useProgramUplaod/useProgramUpload.tsx
  idea/frontend/src/types/program.ts
  yarn.lock
Labels: frontend

#913 Bump apps api
  apps/auction/package.json
  apps/escrow/package.json
  apps/escrow/src/hooks/program/useUploadProgram.ts
  apps/lottery/package.json
  apps/marketplace/package.json
  apps/nft/package.json
  yarn.lock
Labels: apps

#900 Refactor app init logic
  idea/frontend/package.json
  idea/frontend/src/app/App.tsx
  idea/frontend/src/components/blocks/MessagesList/MessagesList.tsx
  idea/frontend/src/components/blocks/ProgramsList/ProgramsList.tsx
  idea/frontend/src/components/blocks/Wallet/Wallet.tsx
  idea/frontend/src/pages/Mailbox/Mailbox.tsx
  idea/frontend/src/pages/Program/Program.tsx
  idea/frontend/src/pages/Programs/children/All/All.tsx
  idea/frontend/src/pages/Programs/children/Messages/Messages.tsx
  idea/frontend/src/pages/Programs/children/Recent/Recent.tsx
  idea/frontend/src/tests/mocks/hooks/hooks.ts
  yarn.lock
Labels: frontend

#903 Add hint about possible value
  idea/frontend/src/components/blocks/MessageForm/MessageForm.tsx
  idea/frontend/src/components/blocks/MessageForm/Schema.ts
  idea/frontend/src/hooks/useProgram.ts
  idea/frontend/src/pages/Message/Message.tsx
  idea/frontend/src/pages/Programs/children/Upload/children/UploadForm/Schema.ts
  idea/frontend/src/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  idea/frontend/src/tests/const.ts
  idea/frontend/src/tests/mocks/hooks/const.ts
  idea/frontend/src/tests/pages/Send/Send.test.tsx
  idea/frontend/src/types/common.ts
Labels: frontend

#917 Fix saving message payload
  idea/data-storage/src/consumer/consumer.controller.ts
  idea/data-storage/src/consumer/consumer.service.ts
  idea/data-storage/src/message/message.service.ts
  idea/events-listener/src/gear/block-extrinsics-handler.ts
  idea/events-listener/src/gear/listener.ts
  idea/tests/src/e2e/e2e.test.ts
  idea/tests/src/e2e/messages.ts
  idea/tests/src/interfaces.ts
  idea/tests/src/prepare/send-message.ts
Labels: backend

#921 Fix the state reading logic
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useStateRead.ts
  idea/frontend/src/pages/State/State.tsx
  idea/frontend/src/pages/State/children/StateForm/StateForm.tsx
  idea/frontend/src/tests/pages/State/State.test.tsx
Labels: frontend

#923 Refactor the gas validation
  idea/frontend/src/components/blocks/MessageForm/Schema.ts
  idea/frontend/src/components/blocks/legacy/MetaForm/Schema.ts
  idea/frontend/src/pages/Main/children/UploadForm/Schema.ts
  idea/frontend/src/tests/pages/Send/Send.test.tsx
Labels: frontend

#922 Fix the local metadata upload
  idea/frontend/src/helpers.ts
  idea/frontend/src/hooks/useMetadataUpload/types.ts
  idea/frontend/src/hooks/useMetadataUpload/useMetadataUpload.ts
  idea/frontend/src/hooks/useProgramUplaod/types.ts
  idea/frontend/src/hooks/useProgramUplaod/useProgramUpload.tsx
  idea/frontend/src/pages/Main/children/UploadForm/UploadForm.tsx
  idea/frontend/src/pages/Meta/children/UploadMetaForm/UploadMetaForm.tsx
  idea/frontend/src/services/LocalDBService.ts
  idea/frontend/src/services/index.ts
  idea/frontend/src/types/api.ts
  idea/frontend/src/types/program.ts
Labels: frontend

#905 Get test balance from multiply `@gear-js/test-balance` instances
  .github/workflows/e2e-tests.yaml
  apps/social/.eslintrc.js
  idea/api-gateway/package.json
  idea/api-gateway/src/common/api-gateway.logger.ts
  idea/api-gateway/src/common/api-json-rpc-methods.ts
  idea/api-gateway/src/common/genesis-hashes-collection.ts
  idea/api-gateway/src/common/scheduler-genesis-hashes.ts
  idea/api-gateway/src/config/configuration.ts
  idea/api-gateway/src/json-rpc/json-rpc-request.handler.ts
  idea/api-gateway/src/json-rpc/json-rpc.handler.ts
  idea/api-gateway/src/kafka/consumer.ts
  idea/api-gateway/src/kafka/kafka-create-connection.ts
  idea/api-gateway/src/kafka/producer.ts
  idea/api-gateway/src/kafka/types/index.ts
  idea/api-gateway/src/main.ts
  idea/api-gateway/src/routes/api-gateway/api-gateway.router.ts
  idea/api-gateway/src/services/api-gateway.service.ts
  idea/api-gateway/src/utils/index.ts
  idea/api-gateway/src/utils/is-valid-genesis.ts
  idea/api-gateway/src/utils/transform-to-str.ts
  idea/common/src/enums/api-methods.enum.ts
  idea/common/src/enums/gear-events.enum.ts
  idea/common/src/enums/index.ts
  idea/common/src/enums/kafka-topics.enum.ts
  idea/data-storage/package.json
  idea/data-storage/src/consumer/consumer.controller.ts
  idea/events-listener/package.json
  idea/events-listener/src/gear/block-extrinsics-handler.ts
  idea/events-listener/src/gear/event-handlers.ts
  idea/events-listener/src/gear/listener.ts
  idea/events-listener/src/kafka/kafka-create-connection.ts
  idea/events-listener/src/kafka/producer.ts
  idea/events-listener/src/kafka/types/index.ts
  idea/test-balance/package.json
  idea/test-balance/src/common/constant.ts
  idea/test-balance/src/common/send-genesis.ts
  idea/test-balance/src/common/test-balace.logger.ts
  idea/test-balance/src/common/transfer-balance-process.ts
  idea/test-balance/src/kafka/consumer.ts
  idea/test-balance/src/kafka/kafka-create-connection.ts
  idea/test-balance/src/kafka/producer.ts
  idea/test-balance/src/utils/get-payload-from-message.ts
  idea/test-balance/src/utils/index.ts
  idea/tests/package.json
  idea/tests/src/e2e/e2e.test.ts
  idea/tests/src/e2e/testBalance.ts
  idea/tests/src/utils.ts
  yarn.lock
Labels: backend

#928 Fix json-rpc method `code.all`
  idea/data-storage/src/code/code.repo.ts
Labels: backend

#929 Update compiler service
  .github/workflows/CI-CD-k8s-gear-js.yml
  .github/workflows/e2e-tests.yaml
  idea/wasm-compiler/package.json
  idea/wasm-compiler/src/compiler.ts
  idea/wasm-compiler/src/configuration.ts
  idea/wasm-compiler/src/main.ts
  idea/wasm-compiler/src/server.ts
  idea/wasm-compiler/wasm-build/build-image.sh
  yarn.lock
Labels: backend

#932 Bump @polkadot/api to 9.2.2
  api/package-lock.json
  api/package.json
  api/test/CreateTypeStructure.test.ts
Labels: api, dependencies

#935 Null is separate type in type structure
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/create-type/generate.ts
  api/src/create-type/interfaces.ts
  api/src/create-type/payload-type-structure.ts
  api/test/CreateTypeStructure.test.ts
Labels: api

#936 Handle null type in payload form
  idea/frontend/package.json
  idea/frontend/src/components/common/Form/FormPayload/PayloadStructure/PayloadStructure.tsx
  idea/frontend/src/components/common/Form/FormPayload/Schema.ts
  idea/frontend/src/components/common/Form/FormPayload/helpers.ts
  idea/frontend/src/components/common/Form/FormPayload/types.ts
  idea/frontend/src/tests/FormPayload/FormPayload.test.tsx
  idea/frontend/src/tests/FormPayload/inputData.ts
  idea/frontend/src/tests/pages/State/State.test.tsx
  yarn.lock
Labels: frontend

#933 Add `waited` field to `GasInfo` type
  api/src/default/types-program.json
  api/src/types/interfaces/gas.ts
  api/test/Gas.test.ts
Labels: api

#937 Add calculateInitCreateGas rpc call
  api/CHANGELOG.md
  api/examples/package-lock.json
  api/examples/src/program/uploadProgram.ts
  api/package-lock.json
  api/package.json
  api/src/Gas.ts
  api/src/default/rpc.json
  api/test/Gas.test.ts
Labels: api

#939 Bupm gear-js/api to 0.25.2
  idea/frontend/package.json
  idea/frontend/src/hooks/useGasCalculate/useGasCalculate.ts
  yarn.lock
Labels: frontend

#947 Bump hooks api
  utils/create-gear-app/gear-app-template/package.json
  utils/create-gear-app/gear-app-template/template.json
  utils/create-gear-app/package-lock.json
  utils/create-gear-app/package.json
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
Labels: cga, hooks

#948 Bump apps api
  apps/auction/README.md
  apps/auction/package.json
  apps/escrow/README.md
  apps/escrow/package.json
  apps/escrow/src/hooks/program/useUploadProgram.ts
  apps/lottery/README.md
  apps/lottery/package.json
  apps/marketplace/README.md
  apps/marketplace/package.json
  apps/nft/README.md
  apps/nft/package.json
  apps/social/package.json
  apps/staking/README.md
  apps/staking/package.json
  utils/create-gear-app/gear-app-template/package.json
  utils/create-gear-app/gear-app-template/template.json
  utils/create-gear-app/package-lock.json
  utils/create-gear-app/package.json
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  yarn.lock
Labels: apps

#951 Refactor the message form logic
  idea/frontend/src/components/blocks/MessageForm/MessageForm.tsx
  idea/frontend/src/components/blocks/MessageForm/helpers.ts
  idea/frontend/src/components/blocks/ProgramForm/ProgramForm.tsx
  idea/frontend/src/components/blocks/ProgramForm/types.ts
  idea/frontend/src/components/common/Form/FormPayload/helpers.ts
  idea/frontend/src/hooks/useProgramActions/types.ts
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  idea/frontend/src/pages/Main/children/UploadForm/UploadForm.tsx
Labels: frontend

#956 Show node version
  idea/frontend/src/components/blocks/Header/Header.tsx
  idea/frontend/src/components/blocks/Header/children/Menu/Menu.module.scss
  idea/frontend/src/components/blocks/Header/children/Menu/Menu.tsx
  idea/frontend/src/tests/Header.test.tsx
  idea/frontend/src/tests/mocks/hooks/const.ts
Labels: frontend

#959 Update UI Kit design
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/assets/images/clear-light.svg
  utils/gear-ui/src/assets/images/clear.svg
  utils/gear-ui/src/assets/styles/_shared.scss
  utils/gear-ui/src/assets/styles/_typography.scss
  utils/gear-ui/src/assets/styles/_variables.scss
  utils/gear-ui/src/assets/styles/fonts/kanit-600.woff2
  utils/gear-ui/src/assets/styles/fonts/kanit-700.woff2
  utils/gear-ui/src/assets/styles/fonts/poppins-300.woff2
  utils/gear-ui/src/assets/styles/fonts/poppins-400.woff2
  utils/gear-ui/src/assets/styles/fonts/poppins-500.woff2
  utils/gear-ui/src/assets/styles/fonts/poppins-600.woff2
  utils/gear-ui/src/assets/styles/fonts/poppins-700.woff2
  utils/gear-ui/src/assets/styles/fonts/prompt-300.woff2
  utils/gear-ui/src/assets/styles/fonts/prompt-400.woff2
  utils/gear-ui/src/assets/styles/fonts/prompt-500.woff2
  utils/gear-ui/src/assets/styles/fonts/prompt-600.woff2
  utils/gear-ui/src/assets/styles/fonts/prompt-700.woff2
  utils/gear-ui/src/assets/styles/fonts/syncopate-700.woff2
  utils/gear-ui/src/components/Alert/Alert.module.scss
  utils/gear-ui/src/components/Button/Button.module.scss
  utils/gear-ui/src/components/Button/Button.test.tsx
  utils/gear-ui/src/components/Button/Button.tsx
  utils/gear-ui/src/components/Button/Button.types.ts
  utils/gear-ui/src/components/Checkbox/Checkbox.module.scss
  utils/gear-ui/src/components/FileInput/FileInput.module.scss
  utils/gear-ui/src/components/FileInput/FileInput.tsx
  utils/gear-ui/src/components/Input/Input.module.scss
  utils/gear-ui/src/components/Input/Input.tsx
  utils/gear-ui/src/components/Modal/Modal.module.scss
  utils/gear-ui/src/components/Radio/Radio.module.scss
  utils/gear-ui/src/components/Select/Select.module.scss
  utils/gear-ui/src/components/Select/Select.tsx
  utils/gear-ui/src/components/Textarea/Textarea.module.scss
  utils/gear-ui/src/components/Textarea/Textarea.tsx
  utils/gear-ui/src/hooks/index.ts
  utils/gear-ui/src/hooks/useClearButton.ts
  utils/gear-ui/src/types/index.ts
  utils/gear-ui/src/utils/index.ts
Labels: ui kit

#961 Update UI Kit modal and tests, add tooltip component
  utils/gear-ui/.gitignore
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/assets/styles/_headings.scss
  utils/gear-ui/src/assets/styles/_resets.scss
  utils/gear-ui/src/assets/styles/utils/index.scss
  utils/gear-ui/src/components/Alert/Alert.module.scss
  utils/gear-ui/src/components/Alert/Alert.tsx
  utils/gear-ui/src/components/Alert/images/x.svg
  utils/gear-ui/src/components/Button/Button.module.scss
  utils/gear-ui/src/components/Button/Button.test.tsx
  utils/gear-ui/src/components/Button/Button.tsx
  utils/gear-ui/src/components/Button/Button.types.ts
  utils/gear-ui/src/components/Checkbox/Checkbox.module.scss
  utils/gear-ui/src/components/Input/Input.module.scss
  utils/gear-ui/src/components/Input/Input.test.tsx
  utils/gear-ui/src/components/Input/Input.tsx
  utils/gear-ui/src/components/Modal/Modal.module.scss
  utils/gear-ui/src/components/Modal/Modal.tsx
  utils/gear-ui/src/components/Modal/images/x.svg
  utils/gear-ui/src/components/Radio/Radio.module.scss
  utils/gear-ui/src/components/Select/Select.module.scss
  utils/gear-ui/src/components/Select/Select.test.tsx
  utils/gear-ui/src/components/Select/Select.tsx
  utils/gear-ui/src/components/Textarea/Textarea.module.scss
  utils/gear-ui/src/components/Textarea/Textarea.test.tsx
  utils/gear-ui/src/components/Textarea/Textarea.tsx
  utils/gear-ui/src/components/Tooltip/Tooltip.module.scss
  utils/gear-ui/src/components/Tooltip/Tooltip.tsx
  utils/gear-ui/src/components/Tooltip/index.ts
  utils/gear-ui/src/components/utils/InputWrapper/InputWrapper.module.scss
  utils/gear-ui/src/components/utils/InputWrapper/InputWrapper.tsx
  utils/gear-ui/src/components/utils/InputWrapper/index.ts
  utils/gear-ui/src/components/utils/TooltipWrapper/TooltipWrapper.module.scss
  utils/gear-ui/src/components/utils/TooltipWrapper/TooltipWrapper.tsx
  utils/gear-ui/src/components/utils/TooltipWrapper/index.ts
  utils/gear-ui/src/components/utils/index.ts
  utils/gear-ui/src/index.ts
  utils/gear-ui/src/types/index.ts
Labels: ui kit

#963 Fix tooltip export
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/components/Tooltip/index.ts
  utils/gear-ui/src/index.ts
Labels: ui kit
