Repository gear-tech/gear-js, pull requests merged in 2022-05, with the labels that each got.

#589 Add basic header and footer tests
  website/frontend/.eslintrc
  website/frontend/package.json
  website/frontend/src/components/App/App.tsx
  website/frontend/src/components/BackButton/BackButton.test.tsx
  website/frontend/src/components/blocks/Footer/index.ts
  website/frontend/src/components/blocks/Header/children/Logo/Logo.test.tsx
  website/frontend/src/components/blocks/Header/children/Menu/Menu.module.scss
  website/frontend/src/components/blocks/Header/children/Menu/Menu.tsx
  website/frontend/src/components/blocks/Header/children/Sidebar/Sidebar.tsx
  website/frontend/src/components/blocks/Header/children/Sidebar/children/Header/Header.tsx
  website/frontend/src/components/blocks/Header/children/Sidebar/children/Nodes/Section/Node/Node.tsx
  website/frontend/src/components/blocks/Header/index.ts
  website/frontend/src/components/blocks/Modal/Modal.tsx
  website/frontend/src/components/blocks/Wallet/AccountList/AccountList.tsx
  website/frontend/src/components/blocks/Wallet/Wallet.tsx
  website/frontend/src/components/blocks/Wallet/hooks.ts
  website/frontend/src/context/alert/Provider.tsx
  website/frontend/src/context/alert/index.ts
  website/frontend/src/context/index.tsx
  website/frontend/src/hooks/index.ts
  website/frontend/src/setupTests.ts
  website/frontend/src/tests/Footer.test.tsx
  website/frontend/src/tests/Header.test.tsx
  website/frontend/src/tests/mocks/handlers.ts
  website/frontend/src/tests/mocks/server.ts
  website/frontend/src/tests/utils.tsx
  website/frontend/src/utils/tests.ts
  yarn.lock
Labels: frontend, tests

#622 Add ability to specify primitive type to encode payload
  website/frontend/src/components/blocks/Header/children/Menu/Menu.module.scss
  website/frontend/src/components/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/children/PayloadType/PayloadType.module.scss
  website/frontend/src/components/pages/Send/children/MessageForm/children/PayloadType/PayloadType.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/children/PayloadType/index.ts
  website/frontend/src/components/pages/Send/children/MessageForm/types.ts
  website/frontend/src/services/ApiService.tsx
Labels: frontend

#627 Backend healthcheck endpoints
  website/api-gateway/src/api-gateway/api-gateway.controller.ts
  website/api-gateway/src/api-gateway/api-gateway.service.ts
  website/api-gateway/src/app.module.ts
  website/api-gateway/src/healthcheck/healthcheck.controller.ts
  website/api-gateway/src/healthcheck/healthcheck.module.ts
  website/api-gateway/src/main.ts
  website/data-storage/src/app.module.ts
  website/data-storage/src/config/configuration.ts
  website/data-storage/src/consumer/consumer.service.ts
  website/data-storage/src/healthcheck/healthcheck.controller.ts
  website/data-storage/src/healthcheck/healthcheck.module.ts
  website/data-storage/src/main.ts
  website/events-listener/package.json
  website/events-listener/src/config.ts
  website/events-listener/src/healthcheck.ts
  website/events-listener/src/index.ts
  website/test-balance/package.json
  website/test-balance/src/config.ts
  website/test-balance/src/healthcheck.ts
  website/test-balance/src/index.ts
  yarn.lock
Labels: backend

#624 Update getting program pages from storage
  api/package-lock.json
  api/package.json
  api/src/State.ts
  api/src/Storage.ts
  api/src/default/types-program.json
  api/src/types/interfaces/program.ts
  api/src/wasm/readState.ts
  api/src/wasm/utils.ts
  api/test/State.test.ts
Labels: api

#630 Bump @gear-js/api
  website/frontend/package.json
  yarn.lock
Labels: frontend

#625 Update readme
  api/README.md
  api/src/Code.ts
  api/test/SubmitCode.test.ts
Labels: api

#614 Update upload metadata page
  website/frontend/src/components/App/App.tsx
  website/frontend/src/components/Meta/Meta.scss
  website/frontend/src/components/Meta/Meta.tsx
  website/frontend/src/components/blocks/MetaForm/MetaForm.scss
  website/frontend/src/components/blocks/MetaForm/MetaForm.tsx
  website/frontend/src/components/blocks/PageHeader/PageHeader.module.scss
  website/frontend/src/components/blocks/PageHeader/PageHeader.tsx
  website/frontend/src/components/blocks/StatusPanel/StatusPanel.scss
  website/frontend/src/components/blocks/StatusPanel/StatusPanel.tsx
  website/frontend/src/components/blocks/UploadMetaForm/UploadMetaForm.module.scss
  website/frontend/src/components/blocks/UploadMetaForm/UploadMetaForm.tsx
  website/frontend/src/components/blocks/UploadMetaForm/helpers/getMetaValues.ts
  website/frontend/src/components/blocks/UploadMetaForm/index.ts
  website/frontend/src/components/blocks/UploadMetaForm/model/Schema.ts
  website/frontend/src/components/blocks/UploadMetaForm/model/const.ts
  website/frontend/src/components/blocks/UploadMetaForm/model/types.ts
  website/frontend/src/components/blocks/legacy/MetaForm/Schema.ts
  website/frontend/src/components/blocks/legacy/PageHeader/PageHeader.scss
  website/frontend/src/components/blocks/legacy/PageHeader/PageHeader.tsx
  website/frontend/src/components/common/MetaField/MetaField.module.scss
  website/frontend/src/components/common/MetaField/MetaField.tsx
  website/frontend/src/components/common/MetaField/index.ts
  website/frontend/src/components/common/MetaFile/MetaFile.module.scss
  website/frontend/src/components/common/MetaFile/MetaFile.tsx
  website/frontend/src/components/common/MetaFile/index.ts
  website/frontend/src/components/common/MetaSwitch/MetaSwitch.module.scss
  website/frontend/src/components/common/MetaSwitch/MetaSwitch.tsx
  website/frontend/src/components/common/MetaSwitch/index.ts
  website/frontend/src/components/pages/Meta/Meta.tsx
  website/frontend/src/components/pages/Programs/children/All/All.module.scss
  website/frontend/src/components/pages/Programs/children/All/All.tsx
  website/frontend/src/components/pages/Programs/children/Recent/Recent.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.module.scss
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/children/MetaFields/MetaField/MetaField.module.scss
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/children/MetaFields/MetaField/MetaField.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/children/MetaFields/MetaFields.module.scss
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/children/MetaFields/MetaFields.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/children/MetaFile/MetaFile.module.scss
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/children/MetaSwitch/MetaSwitch.module.scss
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/children/MetaSwitch/MetaSwitch.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/consts.ts
  website/frontend/src/components/pages/Programs/children/UserProgram/UserProgram.module.scss
  website/frontend/src/components/pages/Programs/children/UserProgram/UserProgram.tsx
  website/frontend/src/components/pages/Send/Send.scss
  website/frontend/src/components/pages/Send/Send.tsx
  website/frontend/src/features/Editor/EditorPage/EditorPage.tsx
  website/frontend/src/helpers.ts
  website/frontend/src/routes.ts
  website/frontend/src/services/ApiService.tsx
  website/frontend/src/types/program.ts
Labels: frontend

#634 Bump @polkadot/api and test creating BTreeSet type
  .github/workflows/CI-CD-gear-js-api.yml
  api/.gitignore
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/test/CreateType.test.ts
  api/test/CreateTypeStructure.test.ts
  api/test/DebugMode.test.ts
  api/test/GasSpent.test.ts
  api/test/GenerateId.test.ts
  api/test/ProgramsInteract.test.ts
  api/test/State.test.ts
  api/test/SubmitCode.test.ts
  api/test/config.ts
  api/test/wasm/btreeset.meta.wasm
  api/test/wasm/demo_ping.opt.wasm
Labels: api

#635 Optimize requests connected with metadata
  website/data-storage/src/consumer/consumer.service.ts
  website/data-storage/src/entities/program.entity.ts
  website/data-storage/src/metadata/metadata.service.ts
  website/data-storage/src/programs/programs.service.ts
  website/interfaces/src/api-response.ts
Labels: backend

#631 Pop up alert improvements
  website/frontend/src/assets/images/alert/checkMark.svg
  website/frontend/src/assets/images/alert/error.svg
  website/frontend/src/assets/images/alert/info.svg
  website/frontend/src/components/AlertTemplate/AlertTemplate.module.scss
  website/frontend/src/components/AlertTemplate/AlertTemplate.tsx
  website/frontend/src/context/alert/Provider.tsx
Labels: frontend

#636 Bump @gear-js/api and @polkadot/api
  website/frontend/package.json
  website/frontend/src/components/pages/Programs/children/Upload/children/CodeModal/CodeModal.tsx
  yarn.lock
Labels: frontend

#637 Fix chalk dependency
  website/test-balance/package.json
  website/test-balance/src/logger.ts
  yarn.lock
Labels: dependencies, backend

#639 Rename `term` to `query`
  website/data-storage/src/messages/messages.service.ts
  website/data-storage/src/programs/programs.service.ts
  website/data-storage/src/utils.ts
  website/interfaces/src/api-requests.ts
Labels: backend

#640 Fix program.meta.add requests
  website/frontend/src/consts.ts
  website/frontend/src/services/ApiService.tsx
  website/frontend/src/types/program.ts
Labels: frontend

#526 Fix program and message search
  website/api-gateway/src/healthcheck/healthcheck.module.ts
  website/frontend/src/assets/scss/common.scss
  website/frontend/src/components/AlertTemplate/AlertTemplate.module.scss
  website/frontend/src/components/Pagination/Pagination.scss
  website/frontend/src/components/Pagination/Pagination.tsx
  website/frontend/src/components/Pagination/images/arrow.svg
  website/frontend/src/components/blocks/PageHeader/PageHeader.module.scss
  website/frontend/src/components/blocks/SearchForm/Schema.ts
  website/frontend/src/components/blocks/SearchForm/SearchForm.module.scss
  website/frontend/src/components/blocks/SearchForm/SearchForm.scss
  website/frontend/src/components/blocks/SearchForm/SearchForm.tsx
  website/frontend/src/components/blocks/UploadMetaForm/UploadMetaForm.module.scss
  website/frontend/src/components/blocks/UploadMetaForm/helpers/getMetaValues.ts
  website/frontend/src/components/blocks/UploadMetaForm/index.ts
  website/frontend/src/components/blocks/UploadMetaForm/model/const.ts
  website/frontend/src/components/blocks/UploadMetaForm/model/types.ts
  website/frontend/src/components/common/MetaField/MetaField.module.scss
  website/frontend/src/components/common/MetaField/index.ts
  website/frontend/src/components/common/MetaFile/MetaFile.module.scss
  website/frontend/src/components/common/MetaFile/index.ts
  website/frontend/src/components/common/MetaSwitch/MetaSwitch.module.scss
  website/frontend/src/components/common/MetaSwitch/index.ts
  website/frontend/src/components/pages/Messages/Messages.tsx
  website/frontend/src/components/pages/Programs/children/All/All.tsx
  website/frontend/src/components/pages/Programs/children/Recent/Recent.module.scss
  website/frontend/src/components/pages/Programs/children/Recent/Recent.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.module.scss
  website/frontend/src/components/pages/Programs/children/UserProgram/UserProgram.module.scss
  website/frontend/src/components/pages/Send/children/MessageForm/children/PayloadType/PayloadType.module.scss
  website/frontend/src/components/pages/Send/children/MessageForm/children/PayloadType/index.ts
  website/frontend/src/consts.ts
  website/frontend/src/helpers.ts
  website/frontend/src/hooks/index.ts
  website/frontend/src/hooks/useChangeEffect.ts
  website/frontend/src/types/common.ts
  website/frontend/src/types/program.ts
Labels: frontend

#626 Update displayed balance
  website/frontend/src/assets/Icons.tsx
  website/frontend/src/assets/scss/index.scss
  website/frontend/src/components/blocks/Wallet/AccountList/AccountList.scss
  website/frontend/src/components/blocks/Wallet/AccountList/AccountList.tsx
  website/frontend/src/components/blocks/Wallet/SelectAccountModal/SelectAccountModal.module.scss
  website/frontend/src/components/blocks/Wallet/SelectAccountModal/SelectAccountModal.tsx
  website/frontend/src/components/blocks/Wallet/SelectAccountModal/index.ts
  website/frontend/src/components/blocks/Wallet/Wallet.module.scss
  website/frontend/src/components/blocks/Wallet/Wallet.tsx
  website/frontend/src/tests/Header.test.tsx
Labels: frontend

#643 Fix modal close button alignment
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/components/Modal/Modal.module.scss
Labels: ui kit

#645 Increase gasLimit in api tests
  api/test/CreateTypeStructure.test.ts
  api/test/DebugMode.test.ts
  api/test/GasSpent.test.ts
  api/test/State.test.ts
  api/test/spec/programs/demo_ping.yaml
  api/test/spec/programs/guestbook.yaml
  api/test/spec/state/demo_meta.yaml
Labels: api, tests

#641 Request metadata without meta wasm
  website/frontend/src/components/blocks/PageHeader/PageHeader.module.scss
  website/frontend/src/components/blocks/PageHeader/PageHeader.tsx
  website/frontend/src/components/pages/Explorer/common/Event/children/LogContent/LogContent.tsx
  website/frontend/src/components/pages/Meta/Meta.tsx
  website/frontend/src/components/pages/Program/Program.module.scss
  website/frontend/src/components/pages/Program/Program.tsx
  website/frontend/src/components/pages/Send/Send.tsx
  website/frontend/src/components/pages/State/State.tsx
  website/frontend/src/hooks/index.ts
  website/frontend/src/hooks/useProgram.ts
  website/frontend/src/services/index.ts
Labels: frontend

#647 Add gr_error syscall to wasm env
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/wasm/importObj.ts
Labels: api

#651 Add file input
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/assets/images/trash.svg
  utils/gear-ui/src/components/FileInput/FileInput.module.scss
  utils/gear-ui/src/components/FileInput/FileInput.tsx
Labels: ui kit

#652 Fix file input export and div element inside label
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/components/FileInput/FileInput.tsx
  utils/gear-ui/src/index.ts
Labels: ui kit

#653 Fix file input svg import
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/components/FileInput/FileInput.tsx
  utils/gear-ui/src/components/FileInput/images/trash.svg
Labels: ui kit

#656 Add file input value reset
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/components/FileInput/FileInput.tsx
Labels: ui kit

#661 Fix file input button size
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/components/FileInput/FileInput.tsx
Labels: ui kit

#658 Update mailbox
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/Mailbox.ts
Labels: api

#664 Bump @gear-js/api
  website/frontend/package.json
  yarn.lock
Labels: frontend

#660 Refactor transactions process loader
  website/frontend/package.json
  website/frontend/src/assets/images/alert/reset.svg
  website/frontend/src/components/Alert/Transition.tsx
  website/frontend/src/components/Alert/Wrapper.module.scss
  website/frontend/src/components/Alert/Wrapper.tsx
  website/frontend/src/components/Alert/const.ts
  website/frontend/src/components/Alert/index.ts
  website/frontend/src/components/AlertTemplate/AlertTemplate.module.scss
  website/frontend/src/components/AlertTemplate/AlertTemplate.tsx
  website/frontend/src/components/App/App.scss
  website/frontend/src/components/App/App.tsx
  website/frontend/src/components/LoadingPopup/LoadingPopup.scss
  website/frontend/src/components/LoadingPopup/LoadingPopup.tsx
  website/frontend/src/components/blocks/Header/children/Sidebar/children/Nodes/Section/Node/Node.tsx
  website/frontend/src/components/blocks/Hint/Hint.tsx
  website/frontend/src/components/blocks/MessagesList/MessagesList.tsx
  website/frontend/src/components/blocks/ProgramSwitch/ProgramSwitch.tsx
  website/frontend/src/components/blocks/UploadMetaForm/UploadMetaForm.tsx
  website/frontend/src/components/blocks/Wallet/SelectAccountModal/SelectAccountModal.tsx
  website/frontend/src/components/common/CopiedInfo/CopiedInfo.module.scss
  website/frontend/src/components/common/CopiedInfo/CopiedInfo.tsx
  website/frontend/src/components/common/CopiedInfo/index.ts
  website/frontend/src/components/common/MetaFile/MetaFile.tsx
  website/frontend/src/components/pages/Mailbox/children/Message/Message.tsx
  website/frontend/src/components/pages/Programs/children/Upload/Upload.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/CodeModal/CodeModal.module.scss
  website/frontend/src/components/pages/Programs/children/Upload/children/CodeModal/CodeModal.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/DropTarget/DropTarget.tsx
  website/frontend/src/components/pages/Programs/children/Upload/children/UploadForm/UploadForm.tsx
  website/frontend/src/components/pages/Programs/children/UserProgram/UserProgram.tsx
  website/frontend/src/components/pages/Send/children/MessageForm/MessageForm.tsx
  website/frontend/src/components/pages/State/State.tsx
  website/frontend/src/context/alert/Context.ts
  website/frontend/src/context/alert/Provider.tsx
  website/frontend/src/context/alert/const.ts
  website/frontend/src/context/alert/index.ts
  website/frontend/src/context/alert/types.ts
  website/frontend/src/context/editor/Provider.tsx
  website/frontend/src/context/index.tsx
  website/frontend/src/context/loading/Context.ts
  website/frontend/src/context/loading/Provider.tsx
  website/frontend/src/context/loading/index.ts
  website/frontend/src/features/Editor/EditorPage/EditorPage.tsx
  website/frontend/src/helpers.ts
  website/frontend/src/hooks/index.ts
  website/frontend/src/hooks/useCodeUpload.tsx
  website/frontend/src/hooks/useProgram.ts
  website/frontend/src/services/ApiService.tsx
  yarn.lock
Labels: frontend

#668 Fix marketplace ipfs connection and @gear-js/ui styles override in prod
  apps/marketplace/src/pages/create/Create.tsx
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/rollup.config.js
  utils/gear-ui/src/components/FileInput/FileInput.tsx
Labels: ui kit, app

#669 Bump marketplace @gear-js/ui
  apps/marketplace/package-lock.json
  apps/marketplace/package.json
Labels: app

#670 Revert marketplace ipfs address fix
  apps/marketplace/src/pages/create/Create.tsx
Labels: app

#675 GH workflow for @gear-js/react-hooks
  .github/workflows/CI-CD-gear-hooks.yml
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
Labels: utils

#677 Fix types export
  utils/gear-hooks/README.md
  utils/gear-hooks/babel.config.js
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/rollup.config.js
  utils/gear-hooks/src/context/Account.tsx
  utils/gear-hooks/src/hooks/api/useReadState.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/src/index.ts
Labels: hooks

#678 Fix useAlert hook export
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
  utils/gear-hooks/rollup.config.js
  utils/gear-hooks/src/context/alert/Provider.tsx
  utils/gear-hooks/src/hooks/context.ts
  utils/gear-hooks/src/hooks/index.ts
  utils/gear-hooks/src/index.ts
  utils/gear-hooks/tsconfig.json
Labels: hooks

#676 Add waitlist
  api/.gitignore
  api/CHANGELOG.md
  api/README.md
  api/jest.config.js
  api/package-lock.json
  api/package.json
  api/src/GearApi.ts
  api/src/Mailbox.ts
  api/src/Waitlist.ts
  api/src/index.ts
  api/src/types/index.ts
  api/src/types/interfaces/message.ts
  api/src/types/waitlist.ts
  api/src/utils/types.ts
  api/test/DebugMode.test.ts
  api/test/GasSpent.test.ts
  api/test/ProgramsInteract.test.ts
  api/test/SubmitCode.test.ts
  api/test/Waitlist.test.ts
  api/test/programs/Makefile
  api/test/programs/test-waitlist/Cargo.toml
  api/test/programs/test-waitlist/build.rs
  api/test/programs/test-waitlist/src/lib.rs
  api/test/utilsFunctions.ts
  api/test/wasm/test_waitlist.meta.wasm
  api/test/wasm/test_waitlist.opt.wasm
Labels: api

#681 Get transaction fee
  api/CHANGELOG.md
  api/README.md
  api/package-lock.json
  api/package.json
  api/src/Transaction.ts
Labels: api
