Repository gear-tech/gear-js, pull requests merged in 2022-10, with the labels that each got.

#1010 Update calculate `gas` in `@gear-js/upload-dapp-chain`
  apps/upload-dapp-chain/src/command/command.service.ts
  apps/upload-dapp-chain/src/tgbot/tgbot.service.ts
Labels: backend, apps

#1023 Add `api.code.all` method to get all ids of uploaded codes
  api/CHANGELOG.md
  api/README.md
  api/package-lock.json
  api/package.json
  api/src/Code.ts
  api/src/types/interfaces/program/code.ts
  api/test/Code.test.ts
  api/test/GearApi.test.ts
Labels: api

#1030 Bump @polkadot/api
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/default/rpc.json
  api/test/GearApi.test.ts
  api/test/State.test.ts
  api/test/utilsFunctions.ts
Labels: api

#1031 Rename syscall
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/wasm/importObj.ts
  yarn.lock
Labels: api

#1038 Update yaml `workflow` file
  apps/upload-dapp-chain/src/common/workflow/workflow.yaml
Labels: backend, apps

#1041 Update ActiveProgram type
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/default/types-program.json
  api/src/types/interfaces/program/base.ts
  api/test/State.test.ts
Labels: api

#1022 Update `meta.wasm and opt.wasm` urls by last releases
  apps/upload-dapp-chain/package.json
  apps/upload-dapp-chain/src/app.module.ts
  apps/upload-dapp-chain/src/bot/bot.controller.ts
  apps/upload-dapp-chain/src/bot/bot.module.ts
  apps/upload-dapp-chain/src/bot/bot.service.ts
  apps/upload-dapp-chain/src/bot/types/index.ts
  apps/upload-dapp-chain/src/code/code.module.ts
  apps/upload-dapp-chain/src/code/code.service.ts
  apps/upload-dapp-chain/src/code/types/index.ts
  apps/upload-dapp-chain/src/code/types/upload-code.input.ts
  apps/upload-dapp-chain/src/code/types/upload-codes-result.ts
  apps/upload-dapp-chain/src/command/command.module.ts
  apps/upload-dapp-chain/src/command/command.service.ts
  apps/upload-dapp-chain/src/command/types/index.ts
  apps/upload-dapp-chain/src/common/helpers/get-latest-release-by-repo.ts
  apps/upload-dapp-chain/src/common/helpers/get-tg-commands.ts
  apps/upload-dapp-chain/src/common/helpers/get-upload-program-data.ts
  apps/upload-dapp-chain/src/common/helpers/index.ts
  apps/upload-dapp-chain/src/common/helpers/update-program-data-by-release-repo.ts
  apps/upload-dapp-chain/src/common/types/asset.ts
  apps/upload-dapp-chain/src/common/types/index.ts
  apps/upload-dapp-chain/src/common/types/repo.ts
  apps/upload-dapp-chain/src/common/workflow/workflow.yaml
  apps/upload-dapp-chain/src/configs/base.config.ts
  apps/upload-dapp-chain/src/dapp-data/dapp-data.service.ts
  apps/upload-dapp-chain/src/gear/gear-service.ts
  apps/upload-dapp-chain/src/main.ts
  apps/upload-dapp-chain/src/message/message.module.ts
  apps/upload-dapp-chain/src/message/message.service.ts
  apps/upload-dapp-chain/src/message/types/send-message.input.ts
  apps/upload-dapp-chain/src/program/program.module.ts
  apps/upload-dapp-chain/src/program/program.service.ts
  apps/upload-dapp-chain/src/program/types/index.ts
  apps/upload-dapp-chain/src/program/types/upload-program-result.ts
  apps/upload-dapp-chain/src/program/types/upload-program.input.ts
  apps/upload-dapp-chain/src/tasks/tasks.module.ts
  apps/upload-dapp-chain/src/tasks/tasks.service.ts
  yarn.lock
Labels: backend, apps

#1042 Update `marketplace` repo in workflow
  apps/upload-dapp-chain/src/bot/bot.controller.ts
  apps/upload-dapp-chain/src/bot/bot.service.ts
  apps/upload-dapp-chain/src/common/helpers/get-latest-release-by-repo.ts
  apps/upload-dapp-chain/src/common/helpers/get-tg-commands.ts
  apps/upload-dapp-chain/src/common/helpers/index.ts
  apps/upload-dapp-chain/src/common/helpers/update-wasm-urls-by-last-releases-repo.ts
  apps/upload-dapp-chain/src/common/workflow/workflow.yaml
  apps/upload-dapp-chain/src/tasks/tasks.service.ts
Labels: backend, apps

#1046 Add gas_reservation_map field to ActiveProgram type
  api/CHANGELOG.md
  api/package-lock.json
  api/package.json
  api/src/default/types-message.json
  api/src/default/types-program.json
  api/src/types/interfaces/gas.ts
  api/src/types/interfaces/program/base.ts
  api/test/programs/Cargo.lock
Labels: api

#1043 Update workflow `account`
  apps/upload-dapp-chain/src/common/helpers/get-account.ts
  apps/upload-dapp-chain/src/common/workflow/workflow.yaml
Labels: backend, apps

#1047 Fix heading font weight
  utils/gear-ui/package-lock.json
  utils/gear-ui/package.json
  utils/gear-ui/src/assets/styles/_typography.scss
Labels: ui kit

#1048 Bump hooks api
  utils/gear-hooks/package-lock.json
  utils/gear-hooks/package.json
Labels: hooks

#1049 [idea-release] Bump @gear-js/api
  apps/auction/package.json
  apps/escrow/package.json
  apps/lottery/package.json
  apps/marketplace/package.json
  apps/nft/package.json
  apps/supply-chain/package.json
  idea/frontend/package.json
  yarn.lock
Labels: frontend, app

#1050 [idea-release] Fix explorer block page crash
  idea/frontend/src/pages/ExplorerBlock/children/MainTable/Row/Row.tsx
Labels: frontend
