Repository gear-tech/gear-js, pull requests merged in 2023-09, with the labels that each got.

#1373 Extend request timeout
  idea/frontend/src/shared/services/rpcService/model/RPCService.ts
Labels: frontend

#1369 [gear-idea] Index batch extrinsics
  .github/workflows/e2e-tests.yaml
  api/programs/Cargo.lock
  api/programs/test-meta/src/wasm.rs
  idea/api-gateway/src/middleware/check-genesis.middleware.ts
  idea/api-gateway/src/middleware/test-balance.middleware.ts
  idea/api-gateway/src/middleware/validate-json-rpc-request.middleware.ts
  idea/api-gateway/src/middleware/verifyCaptcha.ts
  idea/api-gateway/src/rmq.ts
  idea/api-gateway/src/server.ts
  idea/common/src/decorators/index.ts
  idea/common/src/form-response.decorator.ts
  idea/common/src/index.ts
  idea/common/src/jsonrpc-errors.ts
  idea/common/src/logger.ts
  idea/indexer/src/common/enums/message-type.enum.ts
  idea/indexer/src/common/helpers/get-extrinsics.ts
  idea/indexer/src/common/helpers/get-update-message-data.ts
  idea/indexer/src/gear/indexer.ts
  idea/meta-storage/src/service.ts
  idea/test-balance/.env.example
  idea/tests/.gitignore
  idea/tests/download-examples.sh
  idea/tests/e2e/config.ts
  idea/tests/e2e/indexer.test.ts
  idea/tests/e2e/jsonrpc-errors.test.ts
  idea/tests/e2e/meta-storage.test.ts
  idea/tests/e2e/request.ts
  idea/tests/e2e/test-balance.test.ts
  idea/tests/e2e/utils.ts
  idea/tests/jest.config.js
  idea/tests/package.json
  idea/tests/spec/collection-code.yaml
  idea/tests/spec/messages.yaml
  idea/tests/spec/programs.yaml
  idea/tests/src/config/accounts.ts
  idea/tests/src/e2e/block.ts
  idea/tests/src/e2e/code.ts
  idea/tests/src/e2e/e2e.test.ts
  idea/tests/src/e2e/json-rpc.errors.ts
  idea/tests/src/e2e/messages.ts
  idea/tests/src/e2e/meta.ts
  idea/tests/src/e2e/network-data-available.ts
  idea/tests/src/e2e/programs.ts
  idea/tests/src/e2e/state.ts
  idea/tests/src/e2e/testBalance.ts
  idea/tests/src/e2e/utils.ts
  idea/tests/src/interfaces.ts
  idea/tests/src/prepare/check.ts
  idea/tests/src/prepare/index.ts
  idea/tests/src/prepare/send-message.ts
  idea/tests/src/prepare/subscriptions.ts
  idea/tests/src/prepare/upload-collection-code.ts
  idea/tests/src/prepare/upload-programs.ts
  idea/tests/src/utils.ts
  idea/tests/test-setup.js
  idea/tests/wasm-test/demo_ping.meta.wasm
  idea/tests/wasm-test/demo_ping.opt.wasm
  idea/tests/wasm-test/demo_ping_state.meta.wasm
  yarn.lock
Labels: A2-mergeoncegreen

#1374 Add error logs on send message
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useProgram/useHandlers/useHandleSignStatus.ts
  utils/gear-hooks/src/hooks/api/useProgram/utils.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/src/utils/index.ts
  utils/gear-hooks/yarn.lock
Labels: hooks

#1376 [gear-idea] Reduce the speed of program messages requests
  idea/common/src/interfaces/rpc-request/indexer.ts
  idea/frontend/src/widgets/programMessages/ui/ProgramMessages.tsx
  idea/indexer/src/gear/indexer.ts
  idea/indexer/src/services/message.service.ts
  idea/tests/e2e/indexer.test.ts
Labels: A2-mergeoncegreen

#1377 Bump api and hooks
  idea/frontend/package.json
  yarn.lock
Labels: frontend

#1379 Fix read state payload reset
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useReadState/useHandleReadState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useReadFullState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useReadWasmState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useStateSubscription.ts
Labels: hooks

#1359 [gear-idea] Fix one-time sync
  idea/indexer/src/gear/indexer.ts
  idea/indexer/src/one-time-sync.ts
  idea/indexer/src/rmq.ts
  idea/indexer/src/services/block.service.ts
Labels: A2-mergeoncegreen

#1382 Fix frontend build
  idea/frontend/src/pages/index.tsx
Labels: frontend

#1383 Bump @gear-js/api
  utils/gear-hooks/package.json
  utils/gear-hooks/yarn.lock
Labels: hooks

#1386 Fix dynamic gas multiplier
  idea/frontend/src/features/gasField/ui/GasField/GasField.tsx
  idea/frontend/src/hooks/useGasMultiplier.ts
  idea/frontend/src/widgets/messageForm/ui/MessageForm.tsx
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
Labels: frontend

#1390 Fix gas value fallback
  idea/frontend/src/hooks/useGasMultiplier.ts
Labels: frontend

#1391 [gear-idea] Find block with uploaded program or code
  idea/indexer/src/gear/helper.ts
  idea/indexer/src/gear/index.ts
  idea/indexer/src/gear/indexer.ts
  idea/indexer/src/main.ts
  k8s/gear-node/Dockerfile
Labels: A2-mergeoncegreen

#1394 Fix balance transfer
  idea/frontend/src/hooks/useBalanceTransfer.ts
Labels: frontend

#1398 Fix read state payload reset on empty argument
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useReadState/useReadFullState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useReadWasmState.ts
Labels: hooks

#1401 Bump @gear-js/api
  utils/gear-hooks/package.json
  utils/gear-hooks/yarn.lock
Labels: hooks

#1402 Bump hooks
  idea/frontend/package.json
  yarn.lock
Labels: frontend

#1406 Add voucher to useSendMessage
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
Labels: hooks

#1407 [gear-idea] Update test balance service
  idea/test-balance/.env.example
  idea/test-balance/src/config.ts
  idea/test-balance/src/database/app-data-source.ts
  idea/test-balance/src/gear/connection.ts
  idea/test-balance/src/gear/index.ts
  idea/test-balance/src/main.ts
  idea/test-balance/src/rabbitmq/consumer.ts
  idea/test-balance/src/rabbitmq/producer.ts
  idea/test-balance/src/rabbitmq/rmq.ts
  idea/test-balance/src/rmq.ts
  idea/test-balance/src/transfer-balance-process.ts
  idea/test-balance/src/transfer.service.ts
  idea/test-balance/src/utils.ts
  idea/test-balance/tsconfig.json
Labels: A2-mergeoncegreen

#1413 Add voucher and format balance hooks
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/balance/index.ts
  utils/gear-hooks/src/hooks/api/balance/use-balance-format.ts
  utils/gear-hooks/src/hooks/api/index.ts
  utils/gear-hooks/src/hooks/api/voucher/index.ts
  utils/gear-hooks/src/hooks/api/voucher/use-is-voucher-exists.ts
  utils/gear-hooks/src/hooks/api/voucher/use-voucher-balance.ts
  utils/gear-hooks/src/hooks/api/voucher/use-voucher.ts
  utils/gear-hooks/src/hooks/index.ts
  utils/gear-hooks/src/index.ts
  utils/gear-hooks/yarn.lock
Labels: hooks
