Repository gear-tech/gear-js, pull requests merged in 2023-02, with the labels that each got.

#1177 Fix read state button display
  idea/frontend/src/shared/helpers/index.ts
Labels: frontend

#1171 Add `json-rpc` methods `code.meta.add` and `code.meta.get`
  .github/workflows/e2e-tests.yaml
  idea/common/src/enums/api-methods.enum.ts
  idea/common/src/interfaces/api-requests.ts
  idea/common/src/jsonrpc-errors/index.ts
  idea/data-storage/package.json
  idea/data-storage/src/app.module.ts
  idea/data-storage/src/code/code.service.ts
  idea/data-storage/src/code/types/code-changed.input.ts
  idea/data-storage/src/common/errors/code.ts
  idea/data-storage/src/common/errors/metadata.ts
  idea/data-storage/src/common/helpers/generate-code-hash-by-api.ts
  idea/data-storage/src/common/helpers/get-program-metadata-by-api.ts
  idea/data-storage/src/common/helpers/get-wasm-hash.ts
  idea/data-storage/src/common/helpers/index.ts
  idea/data-storage/src/gear/gear-event-listener.ts
  idea/data-storage/src/gear/gear.module.ts
  idea/data-storage/src/main.ts
  idea/data-storage/src/message/types/user-message-sent.input.ts
  idea/data-storage/src/meta/meta.module.ts
  idea/data-storage/src/meta/meta.service.ts
  idea/data-storage/src/meta/types/create-meta.input.ts
  idea/data-storage/src/program/program.repo.ts
  idea/data-storage/src/program/program.service.ts
  idea/data-storage/src/program/types/program-changed.input.ts
  idea/data-storage/src/rabbitmq/rabbitmq.service.ts
  idea/data-storage/src/state-to-code/state-to-code.service.ts
  idea/data-storage/test/code/code.service.spec.ts
  idea/data-storage/test/meta/meta.service.spec.ts
  idea/data-storage/test/mock/code/code-db.mock.ts
  idea/data-storage/test/mock/metadata/collection-metadata.mock.yaml
  idea/data-storage/test/mock/metadata/metadata-db.mock.ts
  idea/data-storage/test/mock/metadata/metadata-repository.mock.ts
  idea/data-storage/test/mock/program/program-db.mock.ts
  idea/data-storage/test/program/program.service.spec.ts
  idea/data-storage/test/state-to-code/state-to-code.service.spec.ts
  idea/tests/package.json
  idea/tests/src/e2e/code.ts
  idea/tests/src/e2e/e2e.test.ts
  idea/tests/src/e2e/messages.ts
  idea/tests/src/e2e/meta.ts
  idea/tests/src/e2e/programs.ts
  idea/tests/src/e2e/state.ts
  idea/tests/src/interfaces.ts
  idea/tests/src/prepare/check.ts
  idea/tests/src/prepare/send-message.ts
  idea/tests/src/prepare/subscriptions.ts
  idea/tests/src/prepare/upload-collection-code.ts
  idea/tests/src/prepare/upload-programs.ts
  yarn.lock
Labels: A0-pleasereview, backend

#1176 Bump @gear-js/api and hooks
  idea/frontend/package.json
  idea/frontend/src/api/LocalDB.ts
  idea/frontend/src/api/state/requests.ts
  idea/frontend/src/entities/chainBlock/model/types.ts
  idea/frontend/src/entities/metadata/model/types.ts
  idea/frontend/src/entities/program/model/types.ts
  idea/frontend/src/entities/waitlist/model/types.ts
  idea/frontend/src/features/uploadMetadata/ui/metadataFileInput/MetadataFileInput.tsx
  idea/frontend/src/features/uploadMetadata/ui/metadataInput/MetadataInput.tsx
  idea/frontend/src/features/uploadMetadata/ui/uploadMetadata/UploadMetadata.tsx
  idea/frontend/src/hooks/useCodeUpload/types.ts
  idea/frontend/src/hooks/useCodeUpload/useCodeUpload.tsx
  idea/frontend/src/hooks/useEventSubscriptions/helpers.tsx
  idea/frontend/src/hooks/useGasCalculate/types.ts
  idea/frontend/src/hooks/useGasCalculate/useGasCalculate.ts
  idea/frontend/src/hooks/useIsProgramExists.ts
  idea/frontend/src/hooks/useMessageClaim/types.ts
  idea/frontend/src/hooks/useMetadataUpload/types.ts
  idea/frontend/src/hooks/useProgramActions/helpers.ts
  idea/frontend/src/hooks/useProgramActions/types.ts
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  idea/frontend/src/hooks/useStateRead.ts
  idea/frontend/src/hooks/useWaitlist.ts
  idea/frontend/src/pages/initializeProgram/ui/InitializeProgram.tsx
  idea/frontend/src/pages/initializeProgram/ui/codeSection/CodeSection.tsx
  idea/frontend/src/pages/initializeProgram/ui/metadataSection/MetadataSection.tsx
  idea/frontend/src/pages/mailbox/model/types.ts
  idea/frontend/src/pages/mailbox/ui/Mailbox.tsx
  idea/frontend/src/pages/mailbox/ui/header/Header.tsx
  idea/frontend/src/pages/mailbox/ui/message/Message.tsx
  idea/frontend/src/pages/mailbox/ui/messages/Messages.tsx
  idea/frontend/src/pages/program/ui/Program.tsx
  idea/frontend/src/pages/send/ui/Send.tsx
  idea/frontend/src/pages/state/hooks/index.ts
  idea/frontend/src/pages/state/ui/stateForm/StateForm.tsx
  idea/frontend/src/pages/uploadProgram/ui/UploadProgram.tsx
  idea/frontend/src/pages/uploadProgram/ui/metadataSection/MetadataSection.tsx
  idea/frontend/src/pages/uploadProgram/ui/programSection/ProgramSection.tsx
  idea/frontend/src/widgets/messageForm/ui/MessageForm.tsx
  idea/frontend/src/widgets/messageModal/ui/MessageModal.tsx
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
  idea/frontend/src/widgets/programMessages/ui/ProgramMessages.tsx
  yarn.lock
Labels: frontend

#1178 Add metadata upload to program page
  idea/frontend/src/api/index.ts
  idea/frontend/src/api/metadata/requests.ts
  idea/frontend/src/app/providers/withProviders.tsx
  idea/frontend/src/features/uploadMetadata/ui/uploadMetadata/UploadMetadata.module.scss
  idea/frontend/src/features/uploadMetadata/ui/uploadMetadata/UploadMetadata.tsx
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useMetadataUpload/index.ts
  idea/frontend/src/hooks/useMetadataUpload/useMetadataUpload.ts
  idea/frontend/src/hooks/useProgram.ts
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  idea/frontend/src/pages/program/ui/Program.tsx
  idea/frontend/src/pages/program/ui/header/Header.tsx
  idea/frontend/src/shared/assets/images/actions/addMeta.svg
  idea/frontend/src/shared/types/routes.ts
  idea/frontend/src/widgets/uploadMetadataModal/ui/UploadMetadataModal.module.scss
  idea/frontend/src/widgets/uploadMetadataModal/ui/UploadMetadataModal.tsx
Labels: frontend

#1180 Fix no meta programs display on local node
  idea/frontend/src/api/LocalDB.ts
Labels: frontend

#1179 Update program status `enum`
  idea/common/src/enums/program-status.enum.ts
  idea/data-storage/src/common/enums/program-status.enum.ts
  idea/data-storage/src/common/helpers/get-payload-by-gear-event.ts
  idea/data-storage/src/database/migrations/1675420216422-update_program_status.ts
  idea/data-storage/src/gear/gear-event-listener.ts
  idea/data-storage/src/program/types/program-changed.input.ts
Labels: A0-pleasereview, backend

#1181 Add exited status
  idea/frontend/src/entities/program/model/consts.ts
  idea/frontend/src/hooks/useProgramActions/helpers.ts
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  idea/frontend/src/pages/programs/ui/searchSettings/SearchSettings.tsx
  idea/frontend/src/shared/ui/bulbBlock/BulbBlock.module.scss
  idea/frontend/src/shared/ui/bulbBlock/const.ts
Labels: frontend

#1182 Add onError option to useSendMessage
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
Labels: hooks

#1173 Add code page
  idea/frontend/src/api/index.ts
  idea/frontend/src/api/metadata/index.ts
  idea/frontend/src/api/metadata/requests.ts
  idea/frontend/src/entities/code/ui/horizontalCodeCard/HorizontalCodeCard.tsx
  idea/frontend/src/entities/program/ui/programTable/ProgramTable.tsx
  idea/frontend/src/pages/code/hooks/index.ts
  idea/frontend/src/pages/code/hooks/useMetadata.ts
  idea/frontend/src/pages/code/index.ts
  idea/frontend/src/pages/code/ui/Code.module.scss
  idea/frontend/src/pages/code/ui/Code.tsx
  idea/frontend/src/pages/index.tsx
  idea/frontend/src/pages/program/ui/Program.tsx
  idea/frontend/src/pages/program/ui/header/Header.tsx
  idea/frontend/src/pages/program/ui/metadataDetails/MetadataDetails.tsx
  idea/frontend/src/pages/programs/ui/programsList/ProgramList.tsx
  idea/frontend/src/pages/programs/ui/programsPage/ProgramsPage.tsx
  idea/frontend/src/shared/config/consts.ts
  idea/frontend/src/shared/config/routes.ts
  idea/frontend/src/shared/services/rpcService/model/consts.ts
  idea/frontend/src/shared/services/rpcService/model/types.ts
  idea/frontend/src/shared/ui/table/ui/Table.module.scss
  idea/frontend/src/widgets/header/model/consts.ts
  idea/frontend/src/widgets/uploadMetadataModal/ui/UploadMetadataModal.tsx
Labels: frontend

#1184 Update meta service feature `addMetaByProgram`
  idea/data-storage/src/code/code.service.ts
  idea/data-storage/src/meta/meta.service.ts
  idea/data-storage/src/program/program.service.ts
  idea/data-storage/src/program/types/add-program-meta.input.ts
  idea/data-storage/src/program/types/index.ts
  idea/data-storage/test/meta/meta.service.spec.ts
  idea/data-storage/test/mock/code/code-repository.mock.ts
  idea/data-storage/test/mock/program/program-db.mock.ts
  idea/data-storage/test/mock/program/program-repository.mock.ts
Labels: A0-pleasereview, backend

#1187 Make FileInput kinda controlled
  utils/gear-ui/package.json
  utils/gear-ui/src/components/FileInput/FileInput.tsx
Labels: hooks

#1190 Fix account type
  utils/gear-hooks/package.json
  utils/gear-hooks/src/context/Account.tsx
Labels: hooks

#1189 Add code name and metadata on upload
  idea/frontend/src/entities/code/ui/horizontalCodeCard/HorizontalCodeCard.module.scss
  idea/frontend/src/entities/code/ui/horizontalCodeCard/HorizontalCodeCard.tsx
  idea/frontend/src/features/formPayload/ui/FormPayload.tsx
  idea/frontend/src/features/uploadMetadata/ui/metadataFileInput/MetadataFileInput.tsx
  idea/frontend/src/hooks/useCodeUpload/types.ts
  idea/frontend/src/hooks/useCodeUpload/useCodeUpload.tsx
  idea/frontend/src/pages/index.tsx
  idea/frontend/src/pages/state/ui/wasm/Wasm.tsx
  idea/frontend/src/pages/uploadCode/index.ts
  idea/frontend/src/pages/uploadCode/ui/UploadCode.module.scss
  idea/frontend/src/pages/uploadCode/ui/UploadCode.tsx
  idea/frontend/src/pages/uploadProgram/ui/UploadProgram.module.scss
  idea/frontend/src/pages/uploadProgram/ui/programSection/ProgramSection.tsx
  idea/frontend/src/shared/config/routes.ts
  idea/frontend/src/widgets/header/ui/bottomSide/BottomSide.tsx
Labels: frontend

#1191 Add FileInput `accept` prop
  utils/gear-ui/package.json
  utils/gear-ui/src/components/FileInput/FileInput.tsx
  utils/gear-ui/src/utils/index.ts
Labels: ui kit

#1186 Fix code `meta`
  idea/common/src/interfaces/meta.ts
  idea/data-storage/package.json
  idea/data-storage/src/code/code.repo.ts
  idea/data-storage/src/code/code.service.ts
  idea/data-storage/src/code/types/code-changed.input.ts
  idea/data-storage/src/code/types/update-code.input.ts
  idea/data-storage/src/common/helpers/get-meta-hash.ts
  idea/data-storage/src/common/helpers/index.ts
  idea/data-storage/src/common/types/gear-api-module.ts
  idea/data-storage/src/common/types/index.ts
  idea/data-storage/src/database/entities/meta.entity.ts
  idea/data-storage/src/gear/gear-event-listener.ts
  idea/data-storage/src/meta/meta.repo.ts
  idea/data-storage/src/meta/meta.service.ts
  idea/tests/package.json
  yarn.lock
Labels: A0-pleasereview, backend

#1192 Add metadata fetch on program/code upload
  idea/frontend/src/features/uploadMetadata/ui/metadataFileInput/MetadataFileInput.tsx
  idea/frontend/src/features/uploadMetadata/ui/metadataFileInput/index.ts
  idea/frontend/src/features/uploadMetadata/ui/uploadMetadata/UploadMetadata.module.scss
  idea/frontend/src/features/uploadMetadata/ui/uploadMetadata/UploadMetadata.tsx
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useCodeUpload/types.ts
  idea/frontend/src/hooks/useCodeUpload/useCodeUpload.tsx
  idea/frontend/src/hooks/useMetaOnUpload.tsx
  idea/frontend/src/hooks/usePrevious.ts
  idea/frontend/src/hooks/useProgramActions/types.ts
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  idea/frontend/src/pages/uploadCode/ui/UploadCode.tsx
  idea/frontend/src/pages/uploadProgram/ui/UploadProgram.tsx
  idea/frontend/src/pages/uploadProgram/ui/metadataSection/MetadataSection.tsx
  idea/frontend/src/pages/uploadProgram/ui/metadataSection/index.ts
  idea/frontend/src/pages/uploadProgram/ui/programSection/ProgramSection.tsx
  idea/frontend/src/pages/uploadProgram/ui/programSection/index.ts
  idea/frontend/src/shared/services/rpcService/model/consts.ts
  idea/frontend/src/shared/types/index.ts
  idea/frontend/src/shared/types/routes.ts
Labels: frontend

#1195 Fix `handleCodeExtrinsics` in event-listener
  idea/data-storage/src/gear/gear-event-listener.ts
Labels: A0-pleasereview, backend

#1197 Fix program meta
  idea/data-storage/package.json
  idea/data-storage/src/gear/gear-event-listener.ts
  idea/tests/package.json
  idea/tests/spec/collection-code.yaml
  idea/tests/spec/programs.yaml
  idea/tests/wasm-test/demo_ping.meta.wasm
  idea/tests/wasm-test/demo_ping.opt.wasm
  idea/tests/wasm-test/demo_ping_state.meta.wasm
  idea/tests/wasm-test/ping.txt
  idea/tests/wasm-test/tmg.opt.wasm
  yarn.lock
Labels: backend

#1198 Fix upload form reset on error
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
Labels: frontend

#1206 Fix node address reset on switch
  idea/frontend/src/app/providers/app/Provider.tsx
  idea/frontend/src/features/nodesSwitch/ui/NodesSwitch.tsx
  idea/frontend/src/shared/config/consts.ts
Labels: frontend

#1200 Update meta service method `addMetaByCode` and `addmetaByProgram`
  api/test/programs/Cargo.lock
  idea/common/src/jsonrpc-errors/index.ts
  idea/data-storage/src/common/errors/base.ts
  idea/data-storage/src/common/errors/code.ts
  idea/data-storage/src/common/errors/program.ts
  idea/data-storage/src/common/helpers/_generate-code-hash.ts
  idea/data-storage/src/common/helpers/_get-program-metadata.ts
  idea/data-storage/src/common/helpers/index.ts
  idea/data-storage/src/gear/gear.module.ts
  idea/data-storage/src/meta/meta.module.ts
  idea/data-storage/src/meta/meta.service.ts
  idea/data-storage/test/meta/meta.service.spec.ts
  idea/data-storage/test/mock/code/code-db.mock.ts
  idea/tests/src/e2e/e2e.test.ts
  idea/tests/src/e2e/json-rpc.errors.ts
  idea/tests/src/prepare/index.ts
  yarn.lock
Labels: A0-pleasereview, backend

#1207 Fix meta fetch on local node
  idea/frontend/src/hooks/useMetaOnUpload.tsx
  idea/frontend/src/pages/code/hooks/useMetadata.ts
  idea/frontend/src/pages/code/ui/Code.tsx
  idea/frontend/src/pages/uploadCode/ui/UploadCode.tsx
  idea/frontend/src/widgets/header/model/consts.ts
Labels: frontend

#1208 Fix state functions fetch on local node
  idea/frontend/src/pages/state/ui/wasm/Wasm.tsx
  idea/frontend/src/pages/state/ui/wasmStates/WasmStates.tsx
Labels: frontend

#1211 Update database relation `code` and `meta`
  idea/data-storage/src/common/errors/code.ts
  idea/data-storage/src/common/errors/program.ts
  idea/data-storage/src/database/entities/code.entity.ts
  idea/data-storage/src/database/entities/meta.entity.ts
  idea/data-storage/src/database/migrations/1677069754299-delete_unique_hash_meta_table.ts
  idea/data-storage/src/database/migrations/1677072331302-update_relation_between_code_and_meta.ts
  idea/data-storage/src/gear/gear-event-listener.ts
  idea/data-storage/src/meta/meta.service.ts
  idea/data-storage/test/meta/meta.service.spec.ts
  idea/data-storage/test/mock/metadata/metadata-db.mock.ts
  idea/data-storage/test/mock/metadata/metadata-repository.mock.ts
Labels: backend
