Repository gear-tech/gear-js, pull requests merged in 2023-07, with the labels that each got.

#1316 Add option to hide alerts in useSendMessage
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/index.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/src/hooks/index.ts
  utils/gear-hooks/src/index.ts
Labels: hooks

#1317 Fix useSendMessage options being required
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
Labels: hooks

#1318 Fix inactive action buttons on transaction modal ESC close
  idea/frontend/package.json
  idea/frontend/src/app/providers/modal/Provider.tsx
  yarn.lock
Labels: frontend

#1323 Bump hooks
  utils/gear-hooks/package.json
  utils/gear-hooks/yarn.lock
Labels: hooks

#1324 Bump @gear-js/api
  idea/frontend/package.json
  yarn.lock
Labels: frontend

#1252 Fix create program meta fetch
  idea/frontend/src/pages/initializeProgram/ui/InitializeProgram.tsx
  idea/frontend/src/pages/initializeProgram/ui/codeSection/CodeSection.tsx
  idea/frontend/src/pages/initializeProgram/ui/codeSection/index.ts
  idea/frontend/src/pages/initializeProgram/ui/metadataSection/MetadataSection.tsx
  idea/frontend/src/pages/initializeProgram/ui/metadataSection/index.ts
Labels: frontend

#1279 Add ability `indexer` and `test-balance` services to reconnect and change provider address
  idea/api-gateway/src/json-rpc/json-rpc-request.handler.ts
  idea/indexer/src/common/enums/index.ts
  idea/indexer/src/common/helpers/index.ts
  idea/indexer/src/config/index.ts
  idea/indexer/src/gear/connect.ts
  idea/indexer/src/gear/indexer.ts
  idea/indexer/src/healthcheck/index.ts
  idea/indexer/src/healthcheck/statuses.ts
  idea/indexer/src/main.ts
  idea/indexer/src/one-time-sync.ts
  idea/indexer/src/services/block.service.ts
  idea/indexer/src/services/code.service.ts
  idea/indexer/src/services/message.service.ts
  idea/indexer/src/services/meta.service.ts
  idea/indexer/src/services/program.service.ts
  idea/indexer/src/services/state.service.ts
  idea/indexer/src/services/status.service.ts
  idea/test-balance/src/config/configuration.ts
  idea/test-balance/src/gear/connection.ts
  yarn.lock
Labels: A0-pleasereview, backend

#1338 Bump @gear-js/api
  utils/gear-hooks/package.json
  utils/gear-hooks/yarn.lock
Labels: hooks

#1339 Bump hooks
  .github/workflows/CI-CD-k8s-gear-js.yml
  idea/frontend/package.json
  yarn.lock
Labels: frontend

#1341 Fix enabled by default isMaxGasLimit
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
Labels: hooks

#1342 Add `hasState` field to program entity
  .github/workflows/CI-CD-gear-js-api.yml
  idea/api-gateway/src/rabbitmq/index.ts
  idea/common/src/enums/api-methods.enum.ts
  idea/common/src/enums/index.ts
  idea/common/src/enums/rmq.ts
  idea/indexer/src/config.ts
  idea/indexer/src/database/entities/code.entity.ts
  idea/indexer/src/database/entities/program.entity.ts
  idea/indexer/src/database/migrations/1690793654952-add-has-state-field.ts
  idea/indexer/src/gear/connect.ts
  idea/indexer/src/gear/indexer.ts
  idea/indexer/src/gear/temp-state.ts
  idea/indexer/src/healthcheck.server.ts
  idea/indexer/src/main.ts
  idea/indexer/src/one-time-sync.ts
  idea/indexer/src/rmq.ts
  idea/indexer/src/services/program.service.ts
  idea/meta-storage/src/database/entities/meta.entity.ts
  idea/meta-storage/src/rmq.ts
  idea/meta-storage/src/service.ts
  idea/test-balance/src/common/transfer-balance-process.ts
  idea/test-balance/src/rabbitmq/init-rabbitmq.ts
  idea/test-balance/src/rabbitmq/producer.ts
  idea/tests/src/e2e/code.ts
  idea/tests/src/e2e/e2e.test.ts
  idea/tests/src/e2e/programs.ts
Labels: A2-mergeoncegreen
