Repository gear-tech/gear-js, pull requests merged in 2023-08, with the labels that each got.

#1334 Fix unexpected error on invalid meta
  idea/frontend/src/entities/metadata/index.ts
  idea/frontend/src/entities/metadata/ui/metadataTable/MetadataTable.tsx
  idea/frontend/src/entities/metadata/ui/metadataTable/index.ts
  idea/frontend/src/features/uploadMetadata/helpers/helpers.ts
  idea/frontend/src/features/uploadMetadata/helpers/index.ts
  idea/frontend/src/features/uploadMetadata/index.ts
  idea/frontend/src/features/uploadMetadata/model/consts.ts
  idea/frontend/src/features/uploadMetadata/model/index.ts
  idea/frontend/src/features/uploadMetadata/model/types.ts
  idea/frontend/src/features/uploadMetadata/ui/uploadMetadata/UploadMetadata.tsx
  idea/frontend/src/pages/program/ui/metadataDetails/MetadataDetails.tsx
  idea/frontend/src/shared/helpers/index.ts
Labels: A2-mergeoncegreen, frontend

#1343 Add gas limit/value units
  idea/frontend/package.json
  idea/frontend/src/entities/formPayload/model/types.ts
  idea/frontend/src/features/gasField/ui/GasField/GasField.module.scss
  idea/frontend/src/features/gasField/ui/GasField/GasField.tsx
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useBalanceMultiplier.ts
  idea/frontend/src/hooks/useGasCalculate/types.ts
  idea/frontend/src/hooks/useProgramActions/types.ts
  idea/frontend/src/shared/ui/form/balance-unit/BalanceUnit.module.scss
  idea/frontend/src/shared/ui/form/balance-unit/BalanceUnit.tsx
  idea/frontend/src/shared/ui/form/balance-unit/index.ts
  idea/frontend/src/shared/ui/form/formInput/FormInput.tsx
  idea/frontend/src/shared/ui/form/index.ts
  idea/frontend/src/shared/ui/form/value-field/ValueField.tsx
  idea/frontend/src/shared/ui/form/value-field/index.ts
  idea/frontend/src/widgets/header/ui/topSide/TopSide.tsx
  idea/frontend/src/widgets/messageForm/helpers/index.ts
  idea/frontend/src/widgets/messageForm/model/const.ts
  idea/frontend/src/widgets/messageForm/model/types.ts
  idea/frontend/src/widgets/messageForm/ui/MessageForm.tsx
  idea/frontend/src/widgets/programForm/helpers/helpers.ts
  idea/frontend/src/widgets/programForm/model/consts.ts
  idea/frontend/src/widgets/programForm/model/types.ts
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
  idea/frontend/src/widgets/transferBalanceModal/ui/TransferBalanceModal.tsx
  package.json
  yarn.lock
Labels: A2-mergeoncegreen, frontend

#1344 Add env example
  idea/frontend/.env.example
Labels: frontend

#1347 Fix action buttons display on inactive programs
  idea/frontend/src/app/providers/onboarding/helpers.ts
  idea/frontend/src/entities/program/ui/horizontalProgramCard/HorizontalProgramCard.tsx
  idea/frontend/src/pages/program/ui/Program.tsx
Labels: frontend

#1351 Fix Vara UI publish
  utils/vara-ui/package.json
Labels: ui kit

#1352 Add metadata fetch on upload/create for dev nodes
  idea/frontend/src/hooks/useMetaOnUpload.tsx
  idea/frontend/src/pages/initializeProgram/model/types.ts
  idea/frontend/src/pages/initializeProgram/ui/InitializeProgram.tsx
  yarn.lock
Labels: A2-mergeoncegreen, frontend

#1354 Improve backend logging
  .gitignore
  idea/api-gateway/src/common/logger.ts
  idea/api-gateway/src/config.ts
  idea/api-gateway/src/main.ts
  idea/api-gateway/src/rmq.ts
  idea/api-gateway/src/server.ts
  idea/common/src/decorators/form-response.ts
  idea/common/src/logger.ts
  idea/common/src/logger/index.ts
  idea/indexer/src/common/index.ts
  idea/indexer/src/common/logger.ts
  idea/indexer/src/gear/connect.ts
  idea/indexer/src/gear/indexer.ts
  idea/indexer/src/healthcheck.server.ts
  idea/indexer/src/main.ts
  idea/indexer/src/one-time-sync.ts
  idea/indexer/src/rmq.ts
  idea/indexer/src/services/message.service.ts
  idea/indexer/src/services/program.service.ts
  idea/meta-storage/src/logger.ts
  idea/meta-storage/src/main.ts
  idea/meta-storage/src/rmq.ts
  idea/test-balance/src/common/logger.ts
  idea/test-balance/src/common/transfer-balance-process.ts
  idea/test-balance/src/common/types.ts
  idea/test-balance/src/gear/connection.ts
  idea/test-balance/src/gear/index.ts
  idea/test-balance/src/gear/types.ts
  idea/test-balance/src/healthcheck.router.ts
  idea/test-balance/src/main.ts
  idea/test-balance/src/rabbitmq/consumer.ts
  idea/test-balance/src/rabbitmq/producer.ts
  idea/test-balance/src/rabbitmq/rmq.ts
  idea/test-balance/src/rabbitmq/types/index.ts
  idea/test-balance/src/transfer.service.ts
Labels: A2-mergeoncegreen

#1355 Add validation for value and gas limit decimal values
  idea/frontend/src/entities/formPayload/model/types.ts
  idea/frontend/src/features/gasField/ui/GasField/GasField.tsx
  idea/frontend/src/hooks/useBalanceMultiplier.ts
  idea/frontend/src/shared/helpers/form.ts
  idea/frontend/src/shared/helpers/index.ts
  idea/frontend/src/widgets/header/ui/topSide/TopSide.tsx
  idea/frontend/src/widgets/messageForm/helpers/index.ts
  idea/frontend/src/widgets/messageForm/ui/MessageForm.tsx
  idea/frontend/src/widgets/programForm/helpers/helpers.ts
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
Labels: A2-mergeoncegreen, frontend

#1356 [gear-idea] Fix sending messages from meta-storage to indexer
  idea/api-gateway/src/rmq.ts
  idea/common/src/enums/rmq.ts
  idea/indexer/src/gear/connect.ts
  idea/indexer/src/main.ts
  idea/indexer/src/rmq.ts
  idea/meta-storage/src/rmq.ts
  idea/test-balance/src/common/transfer-balance-process.ts
  idea/test-balance/src/rabbitmq/producer.ts
  idea/test-balance/src/rabbitmq/rmq.ts
Labels: A2-mergeoncegreen

#1357 Fix sent prorgam messages display
  idea/frontend/src/widgets/programMessages/ui/ProgramMessages.tsx
Labels: frontend

#1358 Fix Vara UI publish
  .github/workflows/CI-CD-gear-ui.yml
  utils/vara-ui/README.md
  utils/vara-ui/package-lock.json
  utils/vara-ui/package.json
Labels: ui kit

#1363 Bump @gear-js/api
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useReadState/useReadFullState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useReadWasmState.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/yarn.lock
Labels: hooks

#1364 Add read state payload
  idea/frontend/package.json
  idea/frontend/src/features/metadata/hooks/use-metadata.ts
  idea/frontend/src/hooks/useMessageActions/useMessageActions.ts
  idea/frontend/src/hooks/useMetaOnUpload.tsx
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  idea/frontend/src/hooks/useStateRead.ts
  idea/frontend/src/pages/code/ui/Code.tsx
  idea/frontend/src/pages/initializeProgram/ui/InitializeProgram.tsx
  idea/frontend/src/pages/program/ui/Program.tsx
  idea/frontend/src/pages/state/helpers/index.ts
  idea/frontend/src/pages/state/model/index.ts
  idea/frontend/src/pages/state/model/types.ts
  idea/frontend/src/pages/state/ui/full/Full.tsx
  idea/frontend/src/pages/state/ui/wasm/Wasm.tsx
  idea/frontend/src/widgets/uploadMetadataModal/ui/UploadMetadataModal.tsx
  yarn.lock
Labels: A2-mergeoncegreen, frontend

#1360 Add voucher
  idea/frontend/.eslintrc
  idea/frontend/src/entities/code/ui/horizontalCodeCard/HorizontalCodeCard.module.scss
  idea/frontend/src/entities/code/ui/horizontalCodeCard/HorizontalCodeCard.tsx
  idea/frontend/src/entities/explorer/model/consts.ts
  idea/frontend/src/entities/program/ui/horizontalProgramCard/HorizontalProgramCard.module.scss
  idea/frontend/src/entities/program/ui/horizontalProgramCard/HorizontalProgramCard.tsx
  idea/frontend/src/features/formPayload/ui/FormPayload.tsx
  idea/frontend/src/features/voucher/assets/badge.svg
  idea/frontend/src/features/voucher/assets/coupon.svg
  idea/frontend/src/features/voucher/assets/voucher-placeholder.svg
  idea/frontend/src/features/voucher/hooks/index.ts
  idea/frontend/src/features/voucher/hooks/use-is-voucher-exists.ts
  idea/frontend/src/features/voucher/hooks/use-issue-voucher.ts
  idea/frontend/src/features/voucher/hooks/use-voucher-balance.ts
  idea/frontend/src/features/voucher/hooks/use-voucher.ts
  idea/frontend/src/features/voucher/hooks/with-account.tsx
  idea/frontend/src/features/voucher/index.ts
  idea/frontend/src/features/voucher/ui/index.ts
  idea/frontend/src/features/voucher/ui/is-prepaid-checkbox/index.ts
  idea/frontend/src/features/voucher/ui/is-prepaid-checkbox/is-prepaid-checkbox.module.scss
  idea/frontend/src/features/voucher/ui/is-prepaid-checkbox/is-prepaid-checkbox.tsx
  idea/frontend/src/features/voucher/ui/issue-voucher-modal/index.ts
  idea/frontend/src/features/voucher/ui/issue-voucher-modal/issue-voucher-modal.module.scss
  idea/frontend/src/features/voucher/ui/issue-voucher-modal/issue-voucher-modal.tsx
  idea/frontend/src/features/voucher/ui/issue-voucher/index.ts
  idea/frontend/src/features/voucher/ui/issue-voucher/issue-voucher.tsx
  idea/frontend/src/features/voucher/ui/voucher-badge/index.ts
  idea/frontend/src/features/voucher/ui/voucher-badge/voucher-badge.module.scss
  idea/frontend/src/features/voucher/ui/voucher-badge/voucher-badge.tsx
  idea/frontend/src/features/voucher/ui/voucher-table/index.ts
  idea/frontend/src/features/voucher/ui/voucher-table/voucher-table.module.scss
  idea/frontend/src/features/voucher/ui/voucher-table/voucher-table.tsx
  idea/frontend/src/pages/program/ui/Program.tsx
  idea/frontend/src/pages/send/ui/Send.tsx
  idea/frontend/src/shared/assets/images/actions/create-program.svg
  idea/frontend/src/shared/assets/images/actions/initializeProgram.svg
  idea/frontend/src/shared/assets/images/actions/read.svg
  idea/frontend/src/shared/assets/images/actions/related-programs.svg
  idea/frontend/src/shared/assets/images/actions/relatedPrograms.svg
  idea/frontend/src/shared/assets/images/actions/send.svg
  idea/frontend/src/shared/helpers/form.ts
  idea/frontend/src/shared/helpers/index.ts
  idea/frontend/src/shared/ui/ActionLink/ActionLink.module.scss
  idea/frontend/src/shared/ui/ActionLink/ActionLink.tsx
  idea/frontend/src/shared/ui/form/value-field/ValueField.tsx
  idea/frontend/src/widgets/messageForm/model/const.ts
  idea/frontend/src/widgets/messageForm/model/types.ts
  idea/frontend/src/widgets/messageForm/ui/MessageForm.tsx
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
  idea/frontend/src/widgets/transferBalanceModal/ui/TransferBalanceModal.tsx
Labels: frontend

#1365 [gear-idea] Bump gear-js/api
  .github/workflows/e2e-tests.yaml
  idea/common/package.json
  idea/indexer/package.json
  idea/meta-storage/package.json
  idea/meta-storage/src/service.ts
  idea/test-balance/package.json
  idea/tests/package.json
  idea/tests/src/prepare/send-message.ts
  idea/tests/src/prepare/upload-collection-code.ts
  idea/tests/src/prepare/upload-programs.ts
  yarn.lock
Labels: A2-mergeoncegreen
