Repository gear-tech/gear-js, pull requests merged in 2023-10, with the labels that each got.

#1397 Add all programs display on local node
  idea/frontend/src/api/LocalDB.ts
  idea/frontend/src/api/index.ts
  idea/frontend/src/api/program/types.ts
  idea/frontend/src/app/App.tsx
  idea/frontend/src/features/local-indexer/hooks/index.ts
  idea/frontend/src/features/local-indexer/hooks/use-local-program.ts
  idea/frontend/src/features/local-indexer/hooks/use-local-programs.ts
  idea/frontend/src/features/local-indexer/index.ts
  idea/frontend/src/features/local-indexer/types.ts
  idea/frontend/src/features/metadata/hooks/use-metadata.ts
  idea/frontend/src/features/metadata/index.ts
  idea/frontend/src/features/metadata/utils.ts
  idea/frontend/src/features/program/index.ts
  idea/frontend/src/features/program/types.ts
  idea/frontend/src/features/program/ui/program-card/program-card.tsx
  idea/frontend/src/features/program/ui/program-table/program-table.tsx
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useProgram.ts
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  idea/frontend/src/hooks/usePrograms.ts
  idea/frontend/src/pages/programs/ui/programsList/ProgramList.tsx
  idea/frontend/src/pages/state/helpers/index.ts
  idea/frontend/src/pages/state/ui/full/Full.tsx
  idea/frontend/src/pages/state/ui/wasm/Wasm.tsx
Labels: frontend

#1399 Add create voucher button to program page
  idea/frontend/src/features/program/ui/program-card/program-card.tsx
  idea/frontend/src/features/voucher/ui/issue-voucher/issue-voucher.tsx
  idea/frontend/src/pages/program/program.tsx
Labels: frontend

#1414 Fix minor bugs
  idea/frontend/package.json
  idea/frontend/src/features/program/ui/program-card/program-card.module.scss
  idea/frontend/src/features/program/ui/program-card/program-card.tsx
  idea/frontend/src/features/recentBlocks/ui/RecentBlocks.module.scss
  idea/frontend/src/features/uploadMetadata/ui/metadataInput/MetadataInput.tsx
  idea/frontend/src/features/uploadMetadata/ui/uploadMetadata/UploadMetadata.tsx
  idea/frontend/src/features/voucher/hooks/index.ts
  idea/frontend/src/features/voucher/hooks/use-is-voucher-exists.ts
  idea/frontend/src/features/voucher/hooks/use-voucher-balance.ts
  idea/frontend/src/features/voucher/hooks/use-voucher.ts
  idea/frontend/src/features/voucher/ui/is-prepaid-checkbox/is-prepaid-checkbox.tsx
  idea/frontend/src/features/voucher/ui/issue-voucher-modal/issue-voucher-modal.module.scss
  idea/frontend/src/features/voucher/ui/issue-voucher-modal/issue-voucher-modal.tsx
  idea/frontend/src/features/voucher/ui/voucher-badge/voucher-badge.tsx
  idea/frontend/src/features/voucher/ui/voucher-table/voucher-table.tsx
  idea/frontend/src/pages/programs/ui/programsList/ProgramList.tsx
  idea/frontend/src/pages/programs/ui/welcomeBanner/WelcomeBanner.module.scss
  idea/frontend/src/shared/assets/images/socials/twitter.svg
  idea/frontend/src/widgets/menu/model/consts.ts
  idea/frontend/src/widgets/transferBalanceModal/ui/TransferBalanceModal.module.scss
  idea/frontend/src/widgets/transferBalanceModal/ui/TransferBalanceModal.tsx
  yarn.lock
Labels: frontend

#1419 [hooks] Add light client
  utils/gear-hooks/package.json
  utils/gear-hooks/rollup.config.js
  utils/gear-hooks/src/context/Account.tsx
  utils/gear-hooks/src/context/Api.tsx
  utils/gear-hooks/src/hooks/api/balance/use-balance-format.ts
  utils/gear-hooks/src/hooks/api/useCalculateGas/index.ts
  utils/gear-hooks/src/hooks/api/useDepricatedSendMessage.ts
  utils/gear-hooks/src/hooks/api/useProgram/index.ts
  utils/gear-hooks/src/hooks/api/useProgram/types.ts
  utils/gear-hooks/src/hooks/api/useProgram/useHandlers/useHandleSignStatus.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/yarn.lock
Labels: hooks

#1420 Add useProgramStatus hook
  idea/frontend/src/features/local-indexer/hooks/use-local-program.ts
  idea/frontend/src/features/program/hooks/index.ts
  idea/frontend/src/features/program/hooks/use-program-status.ts
  idea/frontend/src/features/program/index.ts
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
Labels: A2-mergeoncegreen, frontend

#1422 Fix meta not found error for non-indexed programs
  idea/frontend/src/features/local-indexer/hooks/use-local-program.ts
  idea/frontend/src/hooks/useLocalProgramsFilter.ts
Labels: frontend

#1423 Add network switch without page reload
  idea/frontend/package.json
  idea/frontend/src/app/App.tsx
  idea/frontend/src/app/providers/api/Provider.tsx
  idea/frontend/src/app/providers/app/Context.ts
  idea/frontend/src/app/providers/app/Provider.tsx
  idea/frontend/src/app/providers/app/index.ts
  idea/frontend/src/app/providers/app/types.ts
  idea/frontend/src/app/providers/blocks/Provider.tsx
  idea/frontend/src/app/providers/chain/Provider.tsx
  idea/frontend/src/app/providers/events/Provider.tsx
  idea/frontend/src/app/providers/withProviders.tsx
  idea/frontend/src/features/api/consts.ts
  idea/frontend/src/features/api/index.ts
  idea/frontend/src/features/api/utils.ts
  idea/frontend/src/features/explorer/ui/block/block.tsx
  idea/frontend/src/features/local-indexer/hooks/use-local-program.ts
  idea/frontend/src/features/local-indexer/hooks/use-local-programs.ts
  idea/frontend/src/features/mailbox/hooks.ts
  idea/frontend/src/features/metadata/hooks/use-metadata.ts
  idea/frontend/src/features/nodesSwitch/ui/NodesSwitch.tsx
  idea/frontend/src/features/nodesSwitch/ui/node/Node.tsx
  idea/frontend/src/features/nodesSwitch/ui/nodesList/NodesList.module.scss
  idea/frontend/src/features/nodesSwitch/ui/nodesList/NodesList.tsx
  idea/frontend/src/features/nodesSwitch/ui/nodesList/index.ts
  idea/frontend/src/features/nodesSwitch/ui/nodesPopup/NodesPopup.module.scss
  idea/frontend/src/features/nodesSwitch/ui/nodesPopup/NodesPopup.tsx
  idea/frontend/src/features/nodesSwitch/ui/section/Section.module.scss
  idea/frontend/src/features/nodesSwitch/ui/section/Section.tsx
  idea/frontend/src/features/nodesSwitch/ui/section/index.ts
  idea/frontend/src/features/recentBlocks/ui/RecentBlocks.tsx
  idea/frontend/src/features/voucher/hooks/use-issue-voucher.ts
  idea/frontend/src/hooks/context.ts
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useBalanceTransfer.ts
  idea/frontend/src/hooks/useCodeUpload/useCodeUpload.tsx
  idea/frontend/src/hooks/useCodes.ts
  idea/frontend/src/hooks/useEventSubscriptions/useEventSubscriptions.ts
  idea/frontend/src/hooks/useGasCalculate/useGasCalculate.ts
  idea/frontend/src/hooks/useGasMultiplier.ts
  idea/frontend/src/hooks/useIsProgramExists.ts
  idea/frontend/src/hooks/useMessageActions/useMessageActions.ts
  idea/frontend/src/hooks/useMessageClaim/useMessageClaim.ts
  idea/frontend/src/hooks/useMetaOnUpload.tsx
  idea/frontend/src/hooks/useMetadataUpload/useMetadataUpload.ts
  idea/frontend/src/hooks/useNodeVersion.tsx
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  idea/frontend/src/hooks/useStateRead.ts
  idea/frontend/src/hooks/useWaitlist.ts
  idea/frontend/src/pages/initializeProgram/ui/InitializeProgram.tsx
  idea/frontend/src/shared/ui/form/balance-unit/BalanceUnit.tsx
  idea/frontend/src/widgets/footer/ui/Footer.module.scss
  idea/frontend/src/widgets/footer/ui/Footer.tsx
  idea/frontend/src/widgets/footer/ui/dotButton/DotButton.module.scss
  idea/frontend/src/widgets/footer/ui/dotButton/DotButton.tsx
  idea/frontend/src/widgets/footer/ui/dotButton/index.ts
  idea/frontend/src/widgets/header/ui/Header.tsx
  idea/frontend/src/widgets/header/ui/topSide/TopSide.tsx
  idea/frontend/src/widgets/messageForm/ui/MessageForm.tsx
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
  yarn.lock
Labels: frontend

#1426 [hooks] Bump @gear-js/api
  utils/gear-hooks/package.json
  utils/gear-hooks/yarn.lock
Labels: hooks

#1425 [gear-idea] Bump gear-js/api
  .github/workflows/e2e-tests.yaml
  api/test/spec/meta/demo_gui_test.yaml
  api/test/spec/meta/guestbook.yaml
  idea/common/package.json
  idea/frontend/package.json
  idea/indexer/package.json
  idea/indexer/src/gear/indexer.ts
  idea/meta-storage/package.json
  idea/test-balance/package.json
  idea/tests/.gitignore
  idea/tests/e2e/indexer.test.ts
  idea/tests/package.json
  idea/tests/wasm-test/app.opt.wasm
  idea/tests/wasm-test/ping.txt
  yarn.lock
Labels: A2-mergeoncegreen

#1429 Fix build
  idea/frontend/Dockerfile
Labels: frontend

#1435 Fix network switch
  idea/frontend/src/features/wallet/ui/balance/balance.tsx
Labels: frontend

#1437 Return message id on successful transaction
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
Labels: hooks

#1439 [gear-idea] Bump backend dependencies
  idea/common/package.json
  idea/indexer/package.json
  idea/indexer/src/services/message.service.ts
  idea/meta-storage/package.json
  idea/test-balance/package.json
  idea/tests/package.json
  yarn.lock
Labels: A2-mergeoncegreen

#1424 Add keep alive checkbox in transfer balance modal
  idea/frontend/src/app/providers/modal/consts.ts
  idea/frontend/src/features/balance/assets/submit.svg
  idea/frontend/src/features/balance/assets/transfer.svg
  idea/frontend/src/features/balance/index.ts
  idea/frontend/src/features/balance/ui/index.ts
  idea/frontend/src/features/balance/ui/transfer-balance-modal/index.ts
  idea/frontend/src/features/balance/ui/transfer-balance-modal/transfer-balance-modal.module.scss
  idea/frontend/src/features/balance/ui/transfer-balance-modal/transfer-balance-modal.tsx
  idea/frontend/src/features/balance/ui/transfer-balance/index.ts
  idea/frontend/src/features/balance/ui/transfer-balance/transfer-balance.module.scss
  idea/frontend/src/features/balance/ui/transfer-balance/transfer-balance.tsx
  idea/frontend/src/features/voucher/hooks/index.ts
  idea/frontend/src/features/voucher/ui/issue-voucher/issue-voucher.tsx
  idea/frontend/src/features/voucher/ui/voucher-badge/voucher-badge.tsx
  idea/frontend/src/features/voucher/ui/voucher-table/voucher-table.tsx
  idea/frontend/src/hooks/useBalanceTransfer.ts
  idea/frontend/src/shared/ui/index.ts
  idea/frontend/src/shared/ui/with-account/index.ts
  idea/frontend/src/shared/ui/with-account/with-account.tsx
  idea/frontend/src/widgets/header/ui/topSide/TopSide.tsx
  idea/frontend/src/widgets/transferBalanceModal/index.ts
  idea/frontend/src/widgets/transferBalanceModal/ui/TransferBalanceModal.tsx
Labels: frontend

#1434 Trim default program name's extension
  idea/frontend/src/hooks/useProgramActions/types.ts
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  idea/frontend/src/pages/uploadProgram/ui/UploadProgram.tsx
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
Labels: frontend

#1440 Add keep alive checkbox to transaction forms, support voucher call
  idea/frontend/.eslintrc
  idea/frontend/package.json
  idea/frontend/src/features/voucher/index.ts
  idea/frontend/src/features/voucher/ui/index.ts
  idea/frontend/src/features/voucher/ui/is-prepaid-checkbox/index.ts
  idea/frontend/src/features/voucher/ui/is-prepaid-checkbox/is-prepaid-checkbox.tsx
  idea/frontend/src/features/voucher/ui/use-voucher-checkbox/index.ts
  idea/frontend/src/features/voucher/ui/use-voucher-checkbox/use-voucher-checkbox.module.scss
  idea/frontend/src/features/voucher/ui/use-voucher-checkbox/use-voucher-checkbox.tsx
  idea/frontend/src/hooks/useMessageActions/types.ts
  idea/frontend/src/hooks/useMessageActions/useMessageActions.ts
  idea/frontend/src/hooks/useProgramActions/types.ts
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  idea/frontend/src/shared/ui/index.ts
  idea/frontend/src/shared/ui/labeled-checkbox/index.ts
  idea/frontend/src/shared/ui/labeled-checkbox/labeled-checkbox.module.scss
  idea/frontend/src/shared/ui/labeled-checkbox/labeled-checkbox.tsx
  idea/frontend/src/widgets/menu/model/consts.ts
  idea/frontend/src/widgets/messageForm/model/const.ts
  idea/frontend/src/widgets/messageForm/model/types.ts
  idea/frontend/src/widgets/messageForm/ui/MessageForm.tsx
  idea/frontend/src/widgets/programForm/model/consts.ts
  idea/frontend/src/widgets/programForm/model/types.ts
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
  utils/gear-hooks/package.json
  utils/gear-hooks/src/context/Api.tsx
  utils/gear-hooks/src/hooks/api/index.ts
  utils/gear-hooks/src/hooks/api/useDepricatedSendMessage.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/src/hooks/handlers/index.ts
  utils/gear-hooks/src/hooks/handlers/use-send-message-handler.ts
  utils/gear-hooks/src/hooks/handlers/useCreateHandler.ts
  utils/gear-hooks/src/hooks/index.ts
  utils/gear-hooks/src/index.ts
  yarn.lock
Labels: A2-mergeoncegreen, frontend, hooks
