Repository gear-tech/gear-js, pull requests merged in 2023-01, with the labels that each got.

#1152 Add extensions state to useAccount hook
  utils/gear-hooks/package.json
  utils/gear-hooks/src/context/Account.tsx
  utils/gear-hooks/src/utils/index.ts
  yarn.lock
Labels: hooks

#1153 Fix transaction web3FromSource must be called after web3Enable error
  idea/frontend/package.json
  idea/frontend/src/app/App.tsx
  idea/frontend/src/widgets/accountsModal/hooks/index.ts
  idea/frontend/src/widgets/accountsModal/ui/AccountsModal.tsx
  package.json
  yarn.lock
Labels: frontend

#1155 Bump hooks @gear-js/api
  .github/workflows/CI-CD-gear-hooks.yml
  utils/gear-hooks/.gitignore
  utils/gear-hooks/package.json
  utils/gear-hooks/yarn.lock
Labels: hooks

#1151 Fix payload fields display and local node meta
  idea/frontend/package.json
  idea/frontend/src/api/LocalDB.ts
  idea/frontend/src/features/formPayload/helpers/helpers.ts
  idea/frontend/src/features/formPayload/ui/payloadStructure/PayloadStructure.tsx
  idea/frontend/src/features/formPayload/ui/primitiveItem/PrimitiveItem.tsx
  idea/frontend/src/features/uploadMetadata/ui/metadataFileInput/MetadataFileInput.tsx
  idea/frontend/src/pages/state/ui/wasm/Wasm.tsx
  idea/frontend/src/pages/state/ui/wasmStates/WasmStates.tsx
  yarn.lock
Labels: frontend

#1156 Add mobile disclaimer
  idea/frontend/package.json
  idea/frontend/src/app/App.tsx
  idea/frontend/src/app/providers/onboarding/Provider.tsx
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useMobileDisclaimer.ts
  idea/frontend/src/shared/assets/images/banners/mobileDisclaimer.png
  idea/frontend/src/shared/helpers/index.ts
  idea/frontend/src/widgets/mobileDisclaimer/MobileDisclaimer.module.scss
  idea/frontend/src/widgets/mobileDisclaimer/MobileDisclaimer.tsx
  idea/frontend/src/widgets/mobileDisclaimer/index.ts
  yarn.lock
Labels: frontend

#1159 Bump @gear-js/api and hooks
  idea/frontend/package.json
  yarn.lock
Labels: frontend

#1160 Add useReadFullState and useReadWasmState hooks
  utils/gear-hooks/src/hooks/api/index.ts
  utils/gear-hooks/src/hooks/api/useCalculateGas/index.ts
  utils/gear-hooks/src/hooks/api/useReadState.ts
  utils/gear-hooks/src/hooks/api/useReadState/index.ts
  utils/gear-hooks/src/hooks/api/useReadState/useHandleReadState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useReadFullState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useReadWasmState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useStateSubscription.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/src/hooks/index.ts
  utils/gear-hooks/src/index.ts
Labels: hooks

#1163 Bump @gear-js/api and hooks
  idea/frontend/package.json
  yarn.lock
Labels: frontend

#1164 Add transfer balance feature
  idea/frontend/src/app/providers/modal/consts.ts
  idea/frontend/src/hooks/useBalanceTransfer.ts
  idea/frontend/src/shared/assets/images/actions/transferBalance.svg
  idea/frontend/src/shared/assets/images/actions/transferBalanceSubmit.svg
  idea/frontend/src/widgets/header/ui/Header.tsx
  idea/frontend/src/widgets/header/ui/balanceInfo/BalanceInfo.module.scss
  idea/frontend/src/widgets/header/ui/topSide/TopSide.module.scss
  idea/frontend/src/widgets/header/ui/topSide/TopSide.tsx
  idea/frontend/src/widgets/transferBalanceModal/index.ts
  idea/frontend/src/widgets/transferBalanceModal/ui/TransferBalanceModal.module.scss
  idea/frontend/src/widgets/transferBalanceModal/ui/TransferBalanceModal.tsx
Labels: frontend

#1165 Fix get metadata request
  idea/frontend/src/api/metadata/requests.ts
Labels: frontend

#1166 Fix read state on metadata change
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useReadState/useReadFullState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useReadWasmState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useStateSubscription.ts
Labels: hooks

#1167 Update meta `entity`
  idea/common/src/interfaces/meta.ts
  idea/data-storage/package.json
  idea/data-storage/src/code/code.repo.ts
  idea/data-storage/src/database/entities/meta.entity.ts
  idea/data-storage/src/database/entities/program.entity.ts
  idea/data-storage/src/database/migrations/1674754846501-update_meta_table_colums.ts
  idea/data-storage/src/gear/gear-event-listener.ts
  idea/data-storage/src/gear/gear.module.ts
  idea/data-storage/src/meta/meta.module.ts
  idea/data-storage/src/meta/meta.repo.ts
  idea/data-storage/src/meta/meta.service.ts
  idea/data-storage/src/meta/types/create-meta.input.ts
  idea/data-storage/src/program/program.repo.ts
  idea/data-storage/src/program/program.service.ts
  idea/data-storage/src/program/types/create-program.input.ts
  idea/frontend/src/api/LocalDB.ts
  idea/frontend/src/entities/metadata/model/types.ts
  idea/frontend/src/hooks/useProgram.ts
  idea/frontend/src/pages/state/hooks/index.ts
  idea/test-balance/package.json
  idea/tests/package.json
  idea/tests/src/e2e/e2e.test.ts
  idea/tests/src/e2e/meta.ts
  idea/tests/src/e2e/programs.ts
  yarn.lock
Labels: A0-pleasereview, backend

#1169 Make able to set program `name`
  idea/data-storage/src/meta/meta.service.ts
Labels: A0-pleasereview, backend

#1175 Bump hooks @gear-js/api, replace `toHuman` with `toJSON` on read state
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useCalculateGas/index.ts
  utils/gear-hooks/src/hooks/api/useProgram/types.ts
  utils/gear-hooks/src/hooks/api/useProgram/useHandlers/useHandleSignStatus.ts
  utils/gear-hooks/src/hooks/api/useProgram/utils.ts
  utils/gear-hooks/src/hooks/api/useReadState/useHandleReadState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useReadFullState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useReadWasmState.ts
  utils/gear-hooks/src/hooks/api/useReadState/useStateSubscription.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/src/hooks/handlers/useCreateHandler.ts
  utils/gear-hooks/src/types/index.ts
  utils/gear-hooks/yarn.lock
Labels: hooks
