Repository gear-tech/gear-js, pull requests merged in 2023-04, with the labels that each got.

#1262 Update api examples, bump @polkadot-js dependencies
  .github/workflows/CI-CD-gear-js-api.yml
  api/CHANGELOG.md
  api/Makefile
  api/examples/.gitignore
  api/examples/Makefile
  api/examples/gear-program/Cargo.toml
  api/examples/gear-program/src/lib.rs
  api/examples/package.json
  api/examples/src/config.ts
  api/examples/src/message/claimValue.ts
  api/examples/src/message/readMailbox.ts
  api/examples/src/message/sendMessage.ts
  api/examples/src/message/waitForReply.ts
  api/examples/src/program/uploadCode.ts
  api/examples/src/program/uploadProgram.ts
  api/examples/src/program/waitForInit.ts
  api/examples/src/state/readState.ts
  api/package.json
  api/programs/Cargo.lock
  api/programs/Cargo.toml
  api/programs/test-gas/.metahash
  api/programs/test-gas/Cargo.toml
  api/programs/test-gas/build.rs
  api/programs/test-gas/io/Cargo.toml
  api/programs/test-gas/io/src/lib.rs
  api/programs/test-gas/src/lib.rs
  api/programs/test-gas/src/wasm.rs
  api/programs/test-gas/test_gas.meta.txt
  api/programs/test-meta/.metahash
  api/programs/test-meta/Cargo.toml
  api/programs/test-meta/build.rs
  api/programs/test-meta/io/Cargo.toml
  api/programs/test-meta/io/src/lib.rs
  api/programs/test-meta/src/lib.rs
  api/programs/test-meta/src/wasm.rs
  api/programs/test-meta/state-v1/Cargo.toml
  api/programs/test-meta/state-v1/build.rs
  api/programs/test-meta/state-v1/src/lib.rs
  api/programs/test-meta/state-v1/src/wasm.rs
  api/programs/test-meta/state-v2/Cargo.toml
  api/programs/test-meta/state-v2/build.rs
  api/programs/test-meta/state-v2/src/lib.rs
  api/programs/test-meta/state-v2/src/wasm.rs
  api/programs/test-meta/test_meta.meta.txt
  api/programs/test-waitlist/Cargo.toml
  api/programs/test-waitlist/build.rs
  api/programs/test-waitlist/src/lib.rs
  api/test/Gas.test.ts
  api/test/Message.test.ts
  api/test/Meta.test.ts
  api/test/Program.test.ts
  api/test/State.test.ts
  api/test/config.ts
  api/test/programs/test-gas/test_gas.meta.txt
  api/test/programs/test-meta/test_meta.meta.txt
  api/test/programs/test-waitlist/build.rs
  api/yarn.lock
  renovate.json
Labels: api

#1265 Fix local node add name request
  .github/workflows/e2e-tests.yaml
  idea/frontend/src/api/program/requests.ts
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  renovate.json
Labels: frontend

#1272 Fix message payload decoding
  idea/frontend/src/entities/message/helpers/helpers.ts
Labels: frontend

#1277 Fix state subscription on initial empty payload
  utils/create-gear-app/gear-app-template/package.json
  utils/create-gear-app/gear-app-template/template.json
  utils/create-gear-app/package-lock.json
  utils/create-gear-app/package.json
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/useReadState/useReadWasmState.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
Labels: hooks
