Repository gear-tech/gear-js, pull requests merged in 2024-04, with the labels that each got.

#1517 fix(idea/indexer): index messages with vouchers
  idea/indexer/src/common/helpers/get-extrinsics.ts
  idea/indexer/src/gear/handlers/batch.ts
  idea/indexer/src/gear/handlers/voucher.ts
  idea/indexer/src/gear/indexer.ts
  idea/tests/e2e/indexer.test.ts
Labels: A2-mergeoncegreen

#1523 Drop below V110 runtime support
  idea/frontend/src/features/voucher/hooks/use-issue-voucher.ts
  idea/frontend/src/features/voucher/index.ts
  idea/frontend/src/features/voucher/ui/index.ts
  idea/frontend/src/features/voucher/ui/issue-voucher-modal/issue-voucher-modal-deprecated.tsx
  idea/frontend/src/features/voucher/ui/issue-voucher-modal/issue-voucher-modal.tsx
  idea/frontend/src/features/voucher/ui/use-voucher-checkbox-deprecated/index.ts
  idea/frontend/src/features/voucher/ui/use-voucher-checkbox-deprecated/use-voucher-checkbox-deprecated.module.scss
  idea/frontend/src/features/voucher/ui/use-voucher-checkbox-deprecated/use-voucher-checkbox-deprecated.tsx
  idea/frontend/src/features/voucher/ui/voucher-badge/voucher-badge-deprecated.tsx
  idea/frontend/src/features/voucher/ui/voucher-badge/voucher-badge.tsx
  idea/frontend/src/features/voucher/ui/voucher-table/index.ts
  idea/frontend/src/features/voucher/ui/voucher-table/voucher-table-deprecated.tsx
  idea/frontend/src/hooks/useMessageActions/types.ts
  idea/frontend/src/hooks/useMessageActions/useMessageActions.ts
  idea/frontend/src/pages/program/program-deprecated.tsx
  idea/frontend/src/pages/program/program.tsx
  idea/frontend/src/pages/uploadCode/ui/UploadCode.tsx
  idea/frontend/src/pages/vouchers/vouchers.tsx
  idea/frontend/src/widgets/menu/ui/navigation/Navigation.tsx
  idea/frontend/src/widgets/messageForm/model/const.ts
  idea/frontend/src/widgets/messageForm/model/index.ts
  idea/frontend/src/widgets/messageForm/model/types.ts
  idea/frontend/src/widgets/messageForm/ui/message-form-deprecated.tsx
  idea/frontend/src/widgets/messageForm/ui/message-form.tsx
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/index.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/src/hooks/api/voucher/index.ts
  utils/gear-hooks/src/hooks/api/voucher/use-voucher-balance-deprecated.ts
  utils/gear-hooks/src/hooks/api/voucher/use-voucher-deprecated.ts
  utils/gear-hooks/src/hooks/index.ts
  utils/gear-hooks/src/index.ts
Labels: A2-mergeoncegreen, frontend, hooks

#1525 Display voucher types on a specific program issue voucher modal
  idea/frontend/src/features/voucher/ui/issue-voucher-modal/issue-voucher-modal.tsx
Labels: frontend

#1530 Fix error alert on no meta code upload and `onError` call with handler hooks
  idea/frontend/src/hooks/useMetaOnUpload.tsx
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/handlers/use-send-message-handler.ts
  utils/gear-hooks/src/hooks/handlers/useCreateHandler.ts
Labels: frontend, hooks

#1531 Change account addresses to Vara format
  idea/frontend/src/features/voucher/ui/voucher-card/voucher-card.tsx
  utils/gear-hooks/package.json
  utils/gear-hooks/src/context/Account.tsx
Labels: frontend, hooks

#1532 Fix Vara UI label and placeholder overlap
  utils/vara-ui/package-lock.json
  utils/vara-ui/package.json
  utils/vara-ui/src/components/input/input.module.scss
  utils/vara-ui/src/components/textarea/textarea.module.scss
Labels: ui kit

#1537 Display only free balance
  idea/frontend/src/features/wallet/ui/balance/balance.tsx
Labels: frontend
