Repository gear-tech/gear-js, pull requests merged in 2024-11, with the labels that each got.

#1665 fix(idea/frontend): handle empty sails services
  idea/frontend/src/features/sails/hooks/payload/use-service.tsx
  idea/frontend/src/features/sails/ui/sails-preview/sails-preview.tsx
  idea/frontend/src/pages/program/program.tsx
  idea/frontend/src/pages/send/ui/Send.tsx
  idea/frontend/src/shared/helpers/index.ts
Labels: asap, C0-bug, D1-idea

#1672 fix(idea/frontend): app examples link
  idea/frontend/src/shared/config/consts.ts
Labels: A0-pleasereview, C0-bug, D1-idea

#1675 chore(idea, hooks, wallet-connect): bump api
  idea/common/package.json
  idea/faucet/package.json
  idea/frontend/package.json
  idea/frontend/src/features/balance/ui/balance-dropdown/balance-dropdown.tsx
  idea/frontend/src/features/balance/ui/transfer-balance-modal/transfer-balance-modal.tsx
  idea/indexer/package.json
  idea/meta-storage-2/package.json
  idea/meta-storage/package.json
  idea/squid/package.json
  idea/test-balance/package.json
  idea/tests/package.json
  utils/gear-hooks/package.json
  utils/wallet-connect/package.json
  utils/wallet-connect/src/components/balance/balance.tsx
  yarn.lock
Labels: A2-mergeoncegreen, D1-idea, D2-tools

#1676 fix(idea/faucet): getting envs
  idea/faucet/Dockerfile
  idea/faucet/src/config.ts
Labels: D1-idea

#1677 chore(js): bump dependencies
  api/CHANGELOG.md
  api/package.json
  api/src/Code.ts
  api/src/Gas.ts
  api/src/Program.ts
  api/src/metadata/stateMetadata.ts
  api/src/types/interfaces/program/extrinsic.ts
  api/src/types/interfaces/program/state.ts
  api/src/utils/generate.ts
  api/src/wasm/index.ts
  api/src/wasm/readState.ts
  api/src/wasm/reply.ts
  api/test/Code.test.ts
  api/test/Gas.test.ts
  api/test/GenerateId.test.ts
  api/test/Message.test.ts
  api/test/Program.test.ts
  api/test/State.test.ts
  api/test/Voucher.test.ts
  api/test/Waitlist.test.ts
  api/yarn.lock
Labels: D0-api
