Repository gear-tech/gear-js, pull requests merged in 2024-09, with the labels that each got.

#1637 fix(idea/frontend): sails payload tuple struct submit
  idea/frontend/src/features/sails/utils/payload/get-default-payload-value.ts
  idea/frontend/src/features/sails/utils/payload/get-payload-schema.ts
Labels: C0-bug, D1-idea

#1638 fix(idea/squijd): saving init message payload and setting ProgramSet status
  idea/squid/package.json
  idea/squid/src/call.route.ts
  idea/squid/src/event.route.ts
Labels: D1-idea

#1640 feat(idea/frontend): display derived balance
  idea/frontend/src/api/balance/index.ts
  idea/frontend/src/api/balance/requests.ts
  idea/frontend/src/api/balance/types.ts
  idea/frontend/src/api/index.ts
  idea/frontend/src/app/providers/chain/Provider.tsx
  idea/frontend/src/app/providers/modal/consts.ts
  idea/frontend/src/features/balance/api.ts
  idea/frontend/src/features/balance/assets/gift.svg
  idea/frontend/src/features/balance/assets/swap.svg
  idea/frontend/src/features/balance/assets/transfer.svg
  idea/frontend/src/features/balance/assets/vara.svg
  idea/frontend/src/features/balance/index.ts
  idea/frontend/src/features/balance/ui/balance-dropdown/balance-dropdown.module.scss
  idea/frontend/src/features/balance/ui/balance-dropdown/balance-dropdown.tsx
  idea/frontend/src/features/balance/ui/balance-dropdown/index.ts
  idea/frontend/src/features/balance/ui/balance/balance.module.scss
  idea/frontend/src/features/balance/ui/balance/balance.tsx
  idea/frontend/src/features/balance/ui/get-test-balance/get-test-balance.tsx
  idea/frontend/src/features/balance/ui/get-test-balance/index.ts
  idea/frontend/src/features/balance/ui/index.ts
  idea/frontend/src/features/balance/ui/program-balance/program-balance.tsx
  idea/frontend/src/features/balance/ui/transfer-balance-modal/transfer-balance-modal.module.scss
  idea/frontend/src/features/balance/ui/transfer-balance-modal/transfer-balance-modal.tsx
  idea/frontend/src/features/balance/ui/transfer-balance/transfer-balance.module.scss
  idea/frontend/src/features/balance/ui/transfer-balance/transfer-balance.tsx
  idea/frontend/src/features/wallet/ui/balance/balance.module.scss
  idea/frontend/src/features/wallet/ui/balance/balance.tsx
  idea/frontend/src/features/wallet/ui/balance/index.ts
  idea/frontend/src/features/wallet/ui/wallet/wallet.module.scss
  idea/frontend/src/features/wallet/ui/wallet/wallet.tsx
  idea/frontend/src/shared/config/consts.ts
  idea/frontend/src/shared/ui/idBlock/IdBlock.module.scss
  idea/frontend/src/widgets/header/ui/topSide/TopSide.module.scss
  idea/frontend/src/widgets/header/ui/topSide/TopSide.tsx
  utils/gear-hooks/package.json
  utils/gear-hooks/src/hooks/api/balance/index.ts
  utils/gear-hooks/src/hooks/api/balance/use-derive-balances-all.ts
  utils/gear-hooks/src/hooks/api/derive/index.ts
  utils/gear-hooks/src/hooks/api/derive/use-derive-balances-all.ts
  utils/gear-hooks/src/hooks/api/derive/use-derive-staking-account.ts
  utils/gear-hooks/src/hooks/api/index.ts
  utils/gear-hooks/src/hooks/index.ts
  utils/gear-hooks/src/index.ts
  yarn.lock
Labels: A0-pleasereview, C1-feature, D1-idea

#1642 fix(ui): exact peer deps
  utils/gear-ui/package.json
  yarn.lock
Labels: D2-tools

#1645 feat(vara-ui): mobile modal
  utils/vara-ui/package-lock.json
  utils/vara-ui/package.json
  utils/vara-ui/src/components/modal/modal.module.scss
  utils/vara-ui/src/components/modal/modal.stories.ts
Labels: C1-feature, D2-tools
