Repository gear-tech/gear-js, pull requests merged in 2024-06, with the labels that each got.

#1572 feat(idea/indexer): check block processing
  idea/indexer/src/gear/indexer.ts
Labels: A2-mergeoncegreen, D1-idea

#1579 refactor(idea/frontend): metadata fetch on program/code upload and program init
  idea/frontend/src/features/code/consts/file.ts
  idea/frontend/src/features/code/consts/index.ts
  idea/frontend/src/features/code/hooks/index.ts
  idea/frontend/src/features/code/hooks/use-wasm-file-handler.tsx
  idea/frontend/src/features/code/hooks/use-wasm-file.tsx
  idea/frontend/src/features/code/index.ts
  idea/frontend/src/features/code/types/file.ts
  idea/frontend/src/features/code/types/index.ts
  idea/frontend/src/features/metadata/hooks/index.ts
  idea/frontend/src/features/metadata/hooks/use-metadata-hash.ts
  idea/frontend/src/features/metadata/hooks/use-metadata-with-file.ts
  idea/frontend/src/features/metadata/hooks/use-metadata.ts
  idea/frontend/src/features/metadata/index.ts
  idea/frontend/src/features/uploadMetadata/ui/metadataInput/MetadataInput.module.scss
  idea/frontend/src/features/uploadMetadata/ui/metadataInput/MetadataInput.tsx
  idea/frontend/src/features/uploadMetadata/ui/metadataInput/index.ts
  idea/frontend/src/features/uploadMetadata/ui/uploadMetadata/UploadMetadata.tsx
  idea/frontend/src/hooks/index.ts
  idea/frontend/src/hooks/useMetaOnUpload.tsx
  idea/frontend/src/pages/code/ui/Code.tsx
  idea/frontend/src/pages/initializeProgram/ui/InitializeProgram.tsx
  idea/frontend/src/pages/program/program.tsx
  idea/frontend/src/pages/uploadCode/ui/UploadCode.tsx
  idea/frontend/src/pages/uploadProgram/ui/UploadProgram.tsx
  idea/frontend/src/shared/config/consts.ts
  idea/frontend/src/shared/helpers/index.ts
  idea/frontend/src/widgets/header/ui/bottomSide/BottomSide.tsx
  idea/frontend/src/widgets/uploadFileModal/ui/UploadFileModal.tsx
  idea/frontend/src/widgets/uploadMetadataModal/ui/UploadMetadataModal.tsx
Labels: C2-refactoring, D1-idea

#1581 feat(idea/frontend): google tag manager
  .github/workflows/CI-CD-k8s-release-deploy.yml
  idea/frontend/.env.example
  idea/frontend/Dockerfile
  idea/frontend/package.json
  idea/frontend/src/features/uploadMetadata/ui/uploadMetadata/UploadMetadata.tsx
  idea/frontend/src/index.tsx
  idea/frontend/src/shared/config/consts.ts
  yarn.lock
Labels: D1-idea

#1582 fix(idea/frontend): gtm init
  idea/frontend/src/shared/config/consts.ts
Labels: D1-idea
