Repository gear-tech/gear-js, pull requests merged in 2024-03, with the labels that each got.

#1502 Support refactored backend
  idea/frontend/src/api/LocalDB.ts
  idea/frontend/src/api/message/requests.ts
  idea/frontend/src/api/message/types.ts
  idea/frontend/src/api/metadata/requests.ts
  idea/frontend/src/api/program/types.ts
  idea/frontend/src/entities/code/model/types.ts
  idea/frontend/src/entities/code/ui/horizontalCodeCard/HorizontalCodeCard.tsx
  idea/frontend/src/entities/message/model/types.ts
  idea/frontend/src/entities/message/ui/horizontalMessageCard/HorizontalMessageCard.module.scss
  idea/frontend/src/entities/message/ui/horizontalMessageCard/HorizontalMessageCard.tsx
  idea/frontend/src/entities/message/ui/messageInfo/MessageInfo.tsx
  idea/frontend/src/features/local-indexer/hooks/use-local-program.ts
  idea/frontend/src/features/local-indexer/hooks/use-local-programs.ts
  idea/frontend/src/features/local-indexer/types.ts
  idea/frontend/src/features/metadata/hooks/use-metadata.ts
  idea/frontend/src/features/program/consts.ts
  idea/frontend/src/features/program/types.ts
  idea/frontend/src/features/program/ui/program-card/program-card.tsx
  idea/frontend/src/features/program/ui/program-table/program-table.tsx
  idea/frontend/src/features/program/ui/programs-search/programs-search.tsx
  idea/frontend/src/features/program/utils.ts
  idea/frontend/src/features/uploadMetadata/ui/uploadMetadata/UploadMetadata.tsx
  idea/frontend/src/hooks/useCodeUpload/useCodeUpload.tsx
  idea/frontend/src/hooks/useCodes.ts
  idea/frontend/src/hooks/useMessage.ts
  idea/frontend/src/hooks/useMessages.ts
  idea/frontend/src/hooks/useMetaOnUpload.tsx
  idea/frontend/src/hooks/useMetadataUpload/useMetadataUpload.ts
  idea/frontend/src/hooks/usePrograms.ts
  idea/frontend/src/hooks/useWaitlist.ts
  idea/frontend/src/pages/code/ui/Code.tsx
  idea/frontend/src/pages/initializeProgram/ui/InitializeProgram.tsx
  idea/frontend/src/pages/message/ui/Message.tsx
  idea/frontend/src/pages/messages/ui/Messages.tsx
  idea/frontend/src/pages/messages/ui/messagesList/MessagesList.tsx
  idea/frontend/src/pages/program/program-deprecated.tsx
  idea/frontend/src/pages/program/program.tsx
Labels: frontend

#1511 Fix gas limit formatting
  idea/frontend/src/features/gasField/ui/GasField/GasField.tsx
  idea/frontend/src/features/program/consts.ts
  idea/frontend/src/features/program/ui/programs-search/programs-search.tsx
  idea/frontend/src/hooks/use-validation-schema.ts
  idea/frontend/src/shared/helpers/form.ts
  idea/frontend/src/shared/helpers/index.ts
  utils/gear-hooks/src/hooks/api/balance/use-balance-format.ts
Labels: frontend, hooks

#1513 fix(idea-backend): genesis request between services
  idea/api-gateway/src/rmq.ts
  idea/common/src/enums/rmq.ts
  idea/indexer/src/rmq.ts
  idea/test-balance/src/services/rmq.ts
Labels: A2-mergeoncegreen

#1514 fix(idea/indexer): index status of programs created from programs, set entry for messages sent from programs
  idea/indexer/src/gear/handlers/events.ts
  idea/indexer/src/gear/temp-state.ts
Labels: A2-mergeoncegreen
