Repository gear-tech/gear-js, pull requests merged in 2024-08, with the labels that each got.

#1584 chore(api): remove supporting old runtime versions
  api/.eslintrc
  api/CHANGELOG.md
  api/eslint.config.js
  api/package.json
  api/src/Code.ts
  api/src/GearApi.ts
  api/src/Message.ts
  api/src/Program.ts
  api/src/Storage.ts
  api/src/Voucher.ts
  api/src/apis/index.ts
  api/src/apis/v1000/api.ts
  api/src/apis/v1000/message.ts
  api/src/apis/v1000/program.ts
  api/src/consts.ts
  api/src/default/rpc.json
  api/src/types/augment/augment-api-consts.ts
  api/src/types/augment/augment-api-errors.ts
  api/src/types/augment/augment-api-events.ts
  api/src/types/augment/augment-api-query.ts
  api/src/types/augment/augment-api-tx.ts
  api/src/types/interfaces/message/extrinsic.ts
  api/src/types/interfaces/program/extrinsic.ts
  api/src/types/lookup.ts
  api/src/utils/generate.ts
  api/test/Program.test.ts
  api/yarn.lock
Labels: A0-pleasereview, D0-api

#1607 chore(idea/frontend, hooks): bump react types
  idea/frontend/package.json
  utils/gear-hooks/package.json
  yarn.lock
Labels: D1-idea, D2-tools

#1608 fix(idea/frontend): program tabs order, skeleton card height
  idea/frontend/src/features/program/ui/programs/programs.tsx
  idea/frontend/src/pages/program/program.tsx
  idea/frontend/src/shared/assets/images/placeholders/card.svg
Labels: C0-bug, D1-idea

#1611 fix(hooks): `useSails` export
  utils/gear-hooks/package.json
  utils/gear-hooks/src/index.ts
Labels: C0-bug, D2-tools

#1612 chore(api): fix ci
  .github/workflows/CI-CD-gear-js-api.yml
  api/programs/Cargo.lock
  api/programs/Cargo.toml
  api/programs/empty/Cargo.toml
  api/programs/rust-toolchain.toml
  api/programs/test-gas/Cargo.toml
  api/programs/test-gas/src/lib.rs
  api/programs/test-meta/Cargo.toml
  api/programs/test-meta/io/Cargo.toml
  api/programs/test-meta/src/lib.rs
  api/programs/test-meta/state-v1/Cargo.toml
  api/programs/test-meta/state-v1/src/wasm.rs
  api/programs/test-meta/state-v2/Cargo.toml
  api/programs/test-waitlist/Cargo.toml
Labels: D0-api

#1609 feat(idea/frontend, hooks): selective wallet connect
  idea/frontend/package.json
  idea/frontend/src/app/providers/withProviders.tsx
  idea/frontend/src/features/wallet/hooks/index.ts
  idea/frontend/src/features/wallet/ui/accounts-modal/accounts-modal.module.scss
  idea/frontend/src/features/wallet/ui/accounts-modal/accounts-modal.tsx
  idea/frontend/src/hooks/use-sign-and-send.tsx
  idea/frontend/src/hooks/useCodeUpload/useCodeUpload.tsx
  idea/frontend/src/hooks/useMessageActions/useMessageActions.ts
  idea/frontend/src/hooks/useMessageClaim/useMessageClaim.ts
  idea/frontend/src/hooks/useProgramActions/useProgramActions.tsx
  utils/gear-hooks/package.json
  utils/gear-hooks/src/consts/index.ts
  utils/gear-hooks/src/context/Account.tsx
  utils/gear-hooks/src/context/account/consts.ts
  utils/gear-hooks/src/context/account/index.ts
  utils/gear-hooks/src/context/account/provider.tsx
  utils/gear-hooks/src/context/account/types.ts
  utils/gear-hooks/src/context/account/utils.ts
  utils/gear-hooks/src/context/index.ts
  utils/gear-hooks/src/hooks/api/useProgram/index.ts
  utils/gear-hooks/src/hooks/api/useSendMessage.ts
  utils/gear-hooks/src/hooks/sails/use-prepare-program-transaction.ts
  utils/gear-hooks/src/index.ts
  utils/gear-hooks/src/types/index.ts
  yarn.lock
Labels: A0-pleasereview, C1-feature

#1615 fix(idea/squid): index programs created from programs
  idea/indexer-db/src/entities/program.entity.ts
  idea/squid/src/common/enums/calls.ts
  idea/squid/src/main.ts
  idea/squid/src/processor.ts
  idea/squid/src/temp-state.ts
Labels: D1-idea

#1618 fix(idea/frontend): program page tabs order
  idea/frontend/src/pages/program/program.tsx
Labels: C0-bug, D1-idea

#1620 fix(idea/squid): case insensetive queries
  idea/explorer/src/services/code.ts
  idea/explorer/src/services/event.ts
  idea/explorer/src/services/message.ts
  idea/explorer/src/services/program.ts
Labels: D1-idea

#1624 fix(idea/frontend): H160 types in payload form, disabled calculate gas button on error
  idea/frontend/src/features/sails/utils/type.ts
  idea/frontend/src/hooks/useGasCalculate/useGasCalculate.ts
  idea/frontend/src/widgets/messageForm/ui/message-form.tsx
  idea/frontend/src/widgets/messageForm/ui/sails-message-form.tsx
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
  idea/frontend/src/widgets/programForm/ui/sails-program-form.tsx
Labels: C0-bug, D1-idea

#1626 fix(idea/frontend): lists pagination
  idea/frontend/src/features/code/api/hooks/use-codes.tsx
  idea/frontend/src/features/message/api/hooks/use-messages.ts
  idea/frontend/src/features/program/api/hooks/use-programs.ts
  idea/frontend/src/features/sails/api/hooks/use-events.ts
  idea/frontend/src/features/sails/api/types.ts
Labels: C0-bug, D1-idea

#1625 feat(idea/frontend): messages/events sails filters
  idea/frontend/package.json
  idea/frontend/src/features/filters/ui/Filters.tsx
  idea/frontend/src/features/filters/ui/filterGroup/FilterGroup.module.scss
  idea/frontend/src/features/message/ui/message-card/message-card.module.scss
  idea/frontend/src/features/message/ui/message-card/message-card.tsx
  idea/frontend/src/features/message/ui/program-messages/program-messages.tsx
  idea/frontend/src/features/sails/index.ts
  idea/frontend/src/features/sails/types.ts
  idea/frontend/src/features/sails/ui/event-card/event-card.tsx
  idea/frontend/src/features/sails/ui/index.ts
  idea/frontend/src/features/sails/ui/program-events/program-events.tsx
  idea/frontend/src/features/sails/ui/sails-filter-group/index.ts
  idea/frontend/src/features/sails/ui/sails-filter-group/sails-filter-group.tsx
  idea/frontend/src/pages/program/program.tsx
  idea/frontend/src/shared/assets/images/indicators/flag.svg
  idea/frontend/src/shared/ui/program-tab-layout/program-tab-layout.tsx
  utils/gear-ui/package.json
  utils/gear-ui/src/components/Input/Input.tsx
  utils/gear-ui/src/components/Textarea/Textarea.tsx
  yarn.lock
Labels: A0-pleasereview, C1-feature, D1-idea

#1627 fix(idea/frontend): rename account existence checkbox
  idea/frontend/src/widgets/messageForm/ui/message-form.tsx
  idea/frontend/src/widgets/messageForm/ui/sails-message-form.tsx
  idea/frontend/src/widgets/programForm/ui/ProgramForm.tsx
  idea/frontend/src/widgets/programForm/ui/sails-program-form.tsx
Labels: D1-idea

#1632 feat(idea/frontend): drop is network data available request
  idea/frontend/src/app/providers/chain/Provider.tsx
  idea/frontend/src/shared/config/consts.ts
Labels: D1-idea
